#textdomain wesnoth-After_the_Storm
# $Id$

[scenario]
    id=03_Civil_War
    name= _ "Civil War in the North"
    {MAP 03_Civil_War.map}
    {TURNS 18 15 13}
    next_scenario="04_Terror_at_Dusk"

    {A_DEATHS}

    {SCENARIO_MUSIC       "battle.ogg"        }
    {EXTRA_SCENARIO_MUSIC "the_city_falls.ogg"}
    {EXTRA_SCENARIO_MUSIC "loyalists.ogg"     }

    {STORYTXT_CIVIL_WAR}

    {DAWN1}
    {MORNING1}
    {MIDDAY1}
    {AFTERNOON1}
    {DUSK1}
    {SHORTDARK}
    {DAWN2}
    {MORNING2}
    {MIDDAY2}
    {AFTERNOON2}
    {DUSK2}
    {LONGDARK1}
    {LONGDARK2}
    {LONGDARK3}
    {LONGDARK4}

    [side]
        save_id=player

        controller=human
        side=1
        team_name=player
        user_team_name= _ "team_name^Galas"

        {GOLD 300 275 250}
    [/side]

    [side]
        side=2
        team_name=elves_N
        user_team_name= _ "team_name^Elves (north)"

#ifdef EASY
        recruit="Faerie Sprite, Elvish Shaman, Elvish Archer, Elvish Fighter, Elvish Scout"
#else
        recruit="Faerie Sprite, Elvish Shaman, Elvish Marksman, Elvish Archer, Elvish Fighter, Elvish Scout, Elvish Hero"
#endif
        {GOLD 330 370 420}
        {INCOME 4 7 10}

        [ai]
            {ATTACK_DEPTH 3 4 5}
            {NO_SCOUTS}

            aggression=1.0
            caution=0.0
            passive_leader=yes
            simple_targetting=yes
            village_value=0.1

            [target]
                id=Unidë
                value=50
            [/target]
            [target]
                id=Galas
                value=5
            [/target]
            [target]
                id=Elynia
                value=5
            [/target]
            [target]
                id=Mal Keshar
                value=5
            [/target]
        [/ai]

        canrecruit=yes
        id=Celán
        name= _ "Celán"
        type=Elvish Champion
        unrenamable=yes
        [modifications]
            {TRAIT_INTELLIGENT}
            {TRAIT_STRONG}
        [/modifications]
    [/side]

    [side]
        side=3
        team_name=elves_SE
        user_team_name= _ "team_name^Elves (southeast)"

#ifdef EASY
        recruit="Faerie Sprite, Elvish Shaman, Elvish Archer, Elvish Fighter, Elvish Scout"
#endif
#ifdef NORMAL
        recruit="Fire Faerie, Elvish Shaman, Elvish Archer, Elvish Fighter, Elvish Scout, Elvish Marksman"
#endif
#ifdef HARD
        recruit="Fire Faerie, Elvish Druid, Elvish Shaman, Elvish Archer, Elvish Fighter, Elvish Scout, Elvish Marksman"
#endif
        {GOLD 350 380 430}
        {INCOME 2 6 9}

        [ai]
            {ATTACK_DEPTH 3 4 5}

            aggression=1.0
            caution=0.0
            passive_leader=yes
            simple_targetting=yes
            village_value=0.1

            [target]
                id=Celán
                value=50
            [/target]
            [target]
                id=Galas
                value=5
            [/target]
            [target]
                id=Elynia
                value=5
            [/target]
            [target]
                id=Mal Keshar
                value=5
            [/target]
        [/ai]

        canrecruit=yes
        gender=female
        id=Unidë
        name= _ "Unidë"
        type=Elvish Avenger
        unrenamable=yes
        [modifications]
            {TRAIT_RESILIENT}
            {TRAIT_QUICK}
        [/modifications]
    [/side]

    [side]
        no_leader=yes
        side=4
        team_name=player
    [/side]
[/scenario]
