#textdomain wesnoth-After_the_Storm

# STUB!

[scenario]
    id=08_Fear
    name= _ "Fear"
    # {MAP 08_Fear.map}
    {NO_MAP_DATA}
    turns=-1
    next_scenario="08x_The_Triad"
    victory_when_enemies_defeated=no

    {SCENARIO_MUSIC       "heroes_rite.ogg"}
    {EXTRA_SCENARIO_MUSIC "nunc_dimittis.ogg"}

    {END_OF_PLAYABLE_SCENARIOS}

#ifdef ATS_MAINTAINER_MODE
    {STORYTXT_FEAR}
#endif

    {LONGDARK2}
    {LONGDARK3}
    {LONGDARK4}
    {DAWN1}
    {MORNING1}
    {MIDDAY1}
    {AFTERNOON1}
    {DUSK1}
    {SHORTDARK}
    {DAWN2}
    {MORNING2}
    {MIDDAY2}
    {AFTERNOON2}
    {DUSK2}
    {LONGDARK1}

    [side]
        save_id=player

        controller=human
        side=1
        team_name=player
        user_team_name= _ "team_name^Galas"

        gold=0
        village_gold=0

        {CHARACTER_STATS_GALAS}
    [/side]

    [side]
        side=2
        no_leader,hidden=yes,yes
        team_name=enemy
        user_team_name= _ "team_name^Quenoth"
        controller=null
    [/side]

    [event]
        name=prestart
        {ROCKS_FALL_EVERYONE_DIES}
    [/event]

    [event]
        name=start
    [/event]
[/scenario]
