#textdomain wesnoth-After_the_Storm

[scenario]
    id=09_The_Triad_part_2
    name= _ "The Triad — Part 2"
    {MAP 09_The_Triad_part_2.map}
    turns=-1
    next_scenario="10_Tears"
    victory_when_enemies_defeated=no

    {A_DEATHS}

    {SCENARIO_MUSIC "the_dangerous_symphony.ogg"}

    {END_OF_PLAYABLE_SCENARIOS}

#ifdef ATS_MAINTAINER_MODE
    {STORYTXT_THE_TRIAD_2}
#endif

    {INDOORS} {SCHEDULE_LIGHTING -40 -40 -10}

#define TT_NO_ECONOMY
    gold,village_gold,income=0,0,-2
#enddef

    [side]
        save_id=player

        controller=human
        side=1
        team_name=player
        user_team_name= _ "team_name^Galas"
        shroud=yes

        {GOLD 120 100 90}

        {CHARACTER_STATS_GALAS}
    [/side]

    [side]
        side=2
        team_name=foe
        user_team_name= _ "team_name^Enemies"
        color={COLOR_YELLOW}

        {TT_NO_ECONOMY}

        canrecruit=yes
        id=Elyssa
        name= _ "Elyssa"
        type=Shaxthal Warlord Elyssa
        unrenamable=yes
        facing=sw
        [modifications]
            {TRAIT_BIOMECHANICAL}
            {TRAIT_INTELLIGENT}
        [/modifications]
    [/side]

    [side]
        side=3
        team_name=foe
        user_team_name= _ "team_name^Enemies"
        color=white

        {TT_NO_ECONOMY}

        {GOLD 120 100 90}

        canrecruit=yes
        id=Ivyel
        name= _ "Ivyel"
        type=Shaxthal Stormblade Ivyel
        unrenamable=yes
        facing=sw
        [modifications]
            {TRAIT_BIOMECHANICAL}
            {TRAIT_RESILIENT}
        [/modifications]
    [/side]

#undef TT_NO_ECONOMY

    [event]
        name=preload
        first_time_only=no

        [lua]
            code = <<
                function safe_random(param)
                    wesnoth.fire("set_variable", {
                        name = "random",
                        rand = param,
                    })

                    local r = wesnoth.get_variable("random")
                    wesnoth.set_variable("random")

                    return r
                end

                function spawn_loyal_player_unit(type_id, loc_x, loc_y)
                    -- Inelegant, I know, but put_unit() invokes a code path
                    -- where animate= doesn't have a meaning.
                    wesnoth.fire("unit", {
                        x = loc_x,
                        y = loc_y,
                        side = 1,
                        type = type_id,
                        upkeep = "loyal",
                        animate = true,
                    })
                end

                function wesnoth.wml_actions.s9_area_spawns(cfg)
                    local num_skels = cfg.skeletons or 1
                    local num_ghosts = cfg.ghosts or 1
                    local locs = wesnoth.get_locations(cfg)

                    for i = 1, num_skels do
                        if #locs == 0 then
                            return
                        end
                        local r = safe_random(string.format("1..%d", #locs))
                        local x, y = locs[r][1], locs[r][2]
                        spawn_loyal_player_unit("Skeleton", x, y)
                        table.remove(locs, r)
                    end

                    for i = 1, num_ghosts do
                        if #locs == 0 then
                            return
                        end
                        local r = safe_random(string.format("1..%d", #locs))
                        local x, y = locs[r][1], locs[r][2]
                        spawn_loyal_player_unit("Ghost", x, y)
                        table.remove(locs, r)
                    end
                end
            >>
        [/lua]
    [/event]

    [event]
        name=prestart

        {RECALL_ELYNIA}
        {RECALL_MAL_KESHAR}

        {MODIFY_UNIT side=1 facing nw}

        {OBJECTIVES (
            {OBJECTIVE_VICTORY ( _ "Find the exit")}

            {OBJECTIVE_DEFEAT  ( _ "Death of Galas")}
            {OBJECTIVE_DEFEAT  ( _ "Death of Elynia")}
            {OBJECTIVE_DEFEAT  ( _ "Death of Mal Keshar")}
            {TURNS_RUN_OUT}
        )}

        [unit]
            side=3
            type=Shaxthal Rayblade
            x,y=29,22
            facing=sw
        [/unit]

        [unit]
            side=3
            type=Shaxthal Drone
            variation=surface
            x,y=29,21
            facing=sw
        [/unit]

        [unit]
            side=3
            type=Shaxthal Drone
            variation=surface
            x,y=31,22
            facing=sw
        [/unit]

        [modify_side]
            side=2
            controller=null
        [/modify_side]

        [modify_side]
            side=3
            controller=null
        [/modify_side]
    [/event]

    [event]
        name=start
        [message]
            speaker=Galas
            message= _ "We must make haste before their reinforcements get us. But, which direction should we go?"
        [/message]

        [message]
            speaker=Elynia
            message= _ "A slight breeze comes from the passage to our left; we should follow it."
        [/message]
    [/event]

    [event]
        name=turn 2
        [message]
            speaker=Galas
            message= _ "These passages are uncannily vacant. I feel we are being lead into a trap of some sort..."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x=21,22,23,21,22,23,21,22,23
            y=21,20,20,22,21,21,23,22,22
        [/filter]

        [message]
            speaker=Galas
            message= _ "A gate! Let’s strike it down-"
        [/message]

        {QUAKE "cave-in.ogg"}

        [unit]
            side=1
            x,y=27,23
            type=Fake Explosion
        [/unit]

        [kill]
            animate=yes
            type=Fake Explosion
        [/kill]

        [modify_side]
            side=3
            controller=ai
        [/modify_side]

        [terrain]
            x=26,26,27,27,28,29
            y=22,23,23,25,23,24
            terrain=Urb^Es
        [/terrain]

        [redraw][/redraw]

        [message]
            speaker=Elynia
            message= _ "It’s an ambush!"
        [/message]

        [message]
            speaker=Mal Keshar
            message= _ "Damn them all! I don’t know if I’ll be able to keep on with this for much longer."
        [/message]

        [scroll_to]
            x,y=26,24
        [/scroll_to]

        [s9_area_spawns]
            x=22,23,23,24,24,24,25,25,25,26,26,26,27,27,27,27,28,28,28,29,29
            y=23,23,24,22,23,24,23,24,25,23,24,25,24,25,26,27,24,25,26,25,26
            {QUANTITY skeletons 4 3 2}
            {QUANTITY ghosts    2 1 1}
        [/s9_area_spawns]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Ivyel
        [/filter]

        [store_unit]
            [filter]
                id=Ivyel
            [/filter]
            kill=yes
            variable=ivyel_store
        [/store_unit]

        [move_unit_fake]
            type=$ivyel_store.type
            side=$ivyel_store.side
            x=$ivyel_store.x,31
            y=$ivyel_store.y,20
        [/move_unit_fake]

        # Ignore movement costs now

        [move_unit_fake]
            type=$ivyel_store.type
            side=$ivyel_store.side
            x=31,32,33,35
            y=20,17,15,14
        [/move_unit_fake]

        {CLEAR_VARIABLE ivyel_store}

        

    [/event]
[/scenario]

# kate: indent-mode normal; encoding utf-8; space-indent on;
