#textdomain wesnoth-After_the_Storm

[unit_type]
    id=Night Nymph
    name= _ "female^Night Nymph"
    race=faerie
    gender=female
    image="units/faeries/night-nymph.png"
    #profile="portraits/anya.png"
    halo="halo/elven/shyde-stationary-halo1.png:150,halo/elven/shyde-stationary-halo2.png:150,halo/elven/shyde-stationary-halo3.png:150,halo/elven/shyde-stationary-halo4.png:150,halo/elven/shyde-stationary-halo5.png:150,halo/elven/shyde-stationary-halo6.png:150"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=49
    movement_type=woodlandfloat
    [movement_costs]
        cave=1
    [/movement_costs]
    [defense]
        cave=50
        forest=40
    [/defense]
    [resistance]
        fire=110
        cold=80
    [/resistance]
    movement=6
    level=2
    alignment=chaotic
    experience=96
    advances_to=Nightshade Fire
    cost=46
    usage=archer
    description= _ "It is said that the dark faeries’ secluded lives in hazardous environments has led them to lose any kind of empathy towards those who are not of their kind. Many fables revolve around men who were lured into following these beautiful temptresses to their homes, never to be seen ever again."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_REGENERATES}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    {DEFENSE_ANIM_RANGE "units/faeries/night-nymph.png" "units/faeries/night-nymph.png" {SOUND_LIST:ELF_FEMALE_HIT} melee }
    {DEFENSE_ANIM_ELVEN_RANGE "units/faeries/night-nymph.png" "units/faeries/night-nymph.png" {SOUND_LIST:ELF_FEMALE_HIT} ranged }
    [attack]
        name=faerie touch
        description={TSTR_ATTACK_NAME_FAERIE_TOUCH}
        icon=attacks/touch-faerie.png
        type=impact
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=forest chill
        description=_"forest chill"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=10
        number=2
        icon=attacks/forest-chill.png
    [/attack]
    [attack]
        name=shadow wave
        description={TSTR_ATTACK_NAME_SHADOW_WAVE}
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=8
        number=3
        icon=attacks/dark-missile.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=faerie touch
        [/filter_attack]
        start_time=-240
        sound_start_time=-1

        [sound_frame]
            duration=1
        [/sound_frame]
        [if]
            hits=yes
            [sound_frame]
                sound=fist.ogg
                duration=100
            [/sound_frame]
        [/if]
        [else]
            hits=no
            [sound_frame]
                sound={SOUND_LIST:MISS}
                duration=100
            [/sound_frame]
        [/else]

        [frame]
            duration=240
            image="units/faeries/night-nymph.png"
        [/frame]
        [frame]
            duration=340
            image="units/faeries/night-nymph.png"
            halo="halo/elven/shaman-heal-halo-4.png~G(-50):75,halo/elven/shaman-heal-halo-5.png~G(-50):75,halo/elven/shaman-heal-halo-6.png~G(-50):75,halo/elven/shaman-heal-halo-7.png~G(-50):75"
            halo_x,halo_y=10,14
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=forest chill
        [/filter_attack]

        {MISSILE_FRAME_ICE}
        missile_blend_ratio="0.8"
        missile_blend_color="140,60,255"
        missile_halo_mod="~CS(-32,-128,9)"
        missile_image_mod="~CS(-32,-128,9)"

        {HALO_FRAME_SAURIAN}
        halo_halo_mod="~CS(-32,-128,0)"
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shadow wave
        [/filter_attack]
        start_time=-300
        missile_start_time=-50

        [missile_frame]
            duration=200
            image="projectiles/darkmissile-n.png"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]

        [frame]
            duration=50
            image="units/faeries/night-nymph.png"
            halo=halo/undead/dark-magic-1.png
            halo_x,halo_y=10,15
        [/frame]
        [frame]
            duration=50
            image="units/faeries/night-nymph.png"
            halo=halo/undead/dark-magic-2.png
            halo_x,halo_y=10,15
        [/frame]
        [frame]
            duration=50
            image="units/faeries/night-nymph.png"
            halo=halo/undead/dark-magic-3.png
            halo_x,halo_y=10,15
        [/frame]
        [frame]
            duration=50
            image="units/faeries/night-nymph.png"
            halo=halo/undead/dark-magic-4.png
            halo_x,halo_y=10,15
        [/frame]
        [frame]
            duration=50
            image="units/faeries/night-nymph.png"
            halo=halo/undead/dark-magic-5.png
            halo_x,halo_y=10,15
        [/frame]
        [if]
            hits=no
            [frame]
                duration=50
                image="units/faeries/night-nymph.png"
                halo=halo/undead/dark-magic-6.png
                halo_x,halo_y=10,15
                sound=magic-dark-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=50
                image="units/faeries/night-nymph.png"
                halo=halo/undead/dark-magic-6.png
                halo_x,halo_y=10,15
                sound=magic-dark.ogg
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/faeries/night-nymph.png"
        [/frame]
    [/attack_anim]
[/unit_type]

# kate: indent-mode normal; encoding utf-8; space-indent on;
