#textdomain wesnoth-After_the_Storm

[unit_type]
    id=Faerie Avatar
    name= _ "female^Faerie Avatar"
    race=fairy
    gender=female
    image="units/fairies/ivyel.png"
    #profile="portraits/ivyel.png"
    halo="halo/elynia-stationary-1.png:150,halo/elynia-stationary-2.png:150,halo/elynia-stationary-3.png:150,halo/elynia-stationary-4.png:150,halo/elynia-stationary-5.png:150,halo/elynia-stationary-6.png:150"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=77
    movement_type=elynia_lowfloat
    movement=6
    experience=200
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=190
    usage=healer
    hide_help=true
    description= _ "This faerie of unknown origins is bent on manipulating elvenkind to do Uria’s bidding by impersonating the true Lady of Light and creating strife between her kind. Not much else is known about her at this time."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [abilities]
        {ABILITY_REGENERATES}
        {ABILITY_LEADERSHIP_LEVEL_4}
    [/abilities]
    [attack]
        name=arcane touch
        description= _ "arcane touch"
        icon=attacks/touch-faerie.png
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=6
        number=2
        range=melee
    [/attack]
    [attack]
        name=gossamer
        description={TSTR_ATTACK_NAME_GOSSAMER}
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=9
        number=3
        range=ranged
        icon="attacks/web.png"
    [/attack]
    [attack]
        name=ethereal storm
        description=_"ethereal storm"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=11
        number=4
        range=ranged
        icon=attacks/faerie-fire.png
    [/attack]

    {DEFENSE_ANIM_RANGE "units/fairies/ivyel.png" "units/fairies/ivyel.png" {SOUND_LIST:ELF_FEMALE_HIT} melee }
    {DEFENSE_ANIM_ELVEN_RANGE "units/fairies/ivyel.png" "units/fairies/ivyel.png" {SOUND_LIST:ELF_FEMALE_HIT} ranged }

    [attack_anim]
        [filter_attack]
            name=arcane touch
        [/filter_attack]
        start_time=-260
        sound_start_time=-1
        offset=0.0~0.1:10,0.1~0.5:250,0.5~0.6:100,0.6~0.6:150,0.6~0.15:200,0.15~0.0:150

        [sound_frame]
            duration=1
        [/sound_frame]
        [if]
            hits=yes
            [sound_frame]
                sound=fist.ogg
                duration=100
            [/sound_frame]
        [/if]
        [else]
            hits=no
            [sound_frame]
                sound={SOUND_LIST:MISS}
                duration=100
            [/sound_frame]
        [/else]

        [frame]
            duration=280
            image="units/fairies/ivyel.png"
        [/frame]
        [frame]
            duration=600
            image="units/fairies/ivyel.png"
            halo="halo/elven/druid-healing1.png~R(-50)~G(25):75,halo/elven/druid-healing2.png~R(-50)~G(25):75,halo/elven/druid-healing3.png~R(-50)~G(25):75,halo/elven/druid-healing4.png~R(-50)~G(25):75,halo/elven/druid-healing5.png~R(-50)~G(25):75,halo/elven/druid-healing6.png~R(-50)~G(25):75,halo/elven/druid-healing7.png~R(-50)~G(25):75,halo/elven/druid-healing8.png~R(-50)~G(25):75"
            halo_x,halo_y=10,14
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=gossamer
        [/filter_attack]
        missile_start_time=-200
        start_time=-450
        [missile_frame]
            duration=250
            image="projectiles/web.png"
            image_diagonal="projectiles/web.png"
        [/missile_frame]
        [frame]
            duration=75
            image="units/fairies/ivyel.png"
            halo=halo/elven/faerie-fire-halo1.png
            halo_x,halo_y=-8,6
        [/frame]
        [frame]
            duration=75
            image="units/fairies/ivyel.png"
            halo=halo/elven/faerie-fire-halo2.png
            halo_x,halo_y=-8,6
        [/frame]
        [frame]
            duration=75
            image="units/fairies/ivyel.png"
            halo=halo/elven/faerie-fire-halo3.png
            halo_x,halo_y=-8,6
        [/frame]
        [frame]
            duration=75
            image="units/fairies/ivyel.png"
            halo=halo/elven/faerie-fire-halo4.png
            halo_x,halo_y=-8,6
        [/frame]
        [frame]
            duration=75
            image="units/fairies/ivyel.png"
            halo=halo/elven/faerie-fire-halo5.png
            halo_x,halo_y=-8,6
        [/frame]
        {SOUND:SLOW}
        [frame]
            duration=75
            image="units/fairies/ivyel.png"
            halo=halo/elven/faerie-fire-halo6.png
            halo_x,halo_y=-8,6
            sound=entangle.wav
        [/frame]
        [frame]
            duration=75
            image="units/fairies/ivyel.png"
            halo=halo/elven/faerie-fire-halo7.png
            halo_x,halo_y=-8,6
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=ethereal storm
        [/filter_attack]
        start_time=-450
        {MISSILE_FRAME_FAERIE_FIRE}

        [if]
            hits=yes
            [frame]
                duration=75
                image="units/fairies/ivyel.png"
                sound=magic-faeriefire.ogg
                halo=halo/elven/faerie-fire-halo1.png
                halo_x,halo_y=-8,6
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=75
                image="units/fairies/ivyel.png"
                sound=magic-faeriefire-miss.ogg
                halo=halo/elven/faerie-fire-halo1.png
                halo_x,halo_y=-8,6
            [/frame]
        [/else]

        [frame]
            duration=75
            image="units/fairies/ivyel.png"
            halo=halo/elven/faerie-fire-halo2.png
            halo_x,halo_y=-8,6
        [/frame]
        [frame]
            duration=75
            image="units/fairies/ivyel.png"
            halo=halo/elven/faerie-fire-halo3.png
            halo_x,halo_y=-8,6
        [/frame]
        [frame]
            duration=75
            image="units/fairies/ivyel.png"
            halo=halo/elven/faerie-fire-halo4.png
            halo_x,halo_y=-8,6
        [/frame]
        [frame]
            duration=75
            image="units/fairies/ivyel.png"
            halo=halo/elven/faerie-fire-halo5.png
            halo_x,halo_y=-8,6
        [/frame]
        [frame]
            duration=75
            image="units/fairies/ivyel.png"
            halo=halo/elven/faerie-fire-halo6.png
            halo_x,halo_y=-8,6
        [/frame]
        [frame]
            duration=75
            image="units/fairies/ivyel.png"
            halo=halo/elven/faerie-fire-halo7.png
            halo_x,halo_y=-8,6
        [/frame]
    [/attack_anim]
    [extra_anim]
        flag=cutscene_burning
        start_time=-400

        {FLAME_BLAST_ANIMATION}

        # Override stock animation offsets
        {FLAME_BLAST_AFFECTS_SELF}

        [frame]
            #sound=fire.wav
            image="units/fairies/ivyel.png"
            duration=100
        [/frame]
        [frame]
            sound={SOUND_LIST:ELF_FEMALE_HIT}
            image="units/fairies/ivyel.png"
            duration=100
        [/frame]
        [frame]
            duration=200
            image="units/fairies/ivyel.png"
        [/frame]
        [frame]
            sound={SOUND_LIST:ELF_FEMALE_HIT}
            image="units/fairies/ivyel-damaged.png"
            duration=100
        [/frame]
        [frame]
            sound=fire.wav
            image="units/fairies/ivyel-damaged.png"
            duration=100
        [/frame]
    [/extra_anim]
[/unit_type]

# kate: indent-mode normal; encoding utf-8; space-indent on;
