#textdomain wesnoth-After_the_Storm

#ifndef CAMPAIGN_AFTER_THE_STORM_EPISODE_I
[character_profile]
	id=Durvan
	name= _ "Durvan"
#ifndef CAMPAIGN_AFTER_THE_STORM_EPISODE_III
	requires_milestone=durvan_encountered
#endif
	affiliation= _ "Suthwood"
	race=human
	gender=male
	#portrait="portraits/durvan.webp"
	help_unit_type=Poacher
	description= _ "<b>Durvan</b> is a young huntsman from the small border village of Suthwood, in the southern outskirts of the Heart Forest.

For most remote settlements on the edges of the deep forest, hunting is not only the backbone of their economy but also the core of their self-defense strategy. The steep terrain combined with the impenetrable nature of the woods might provide a natural barrier against foreign invaders, but this does little to deter those better acquainted with the local geography, such as bandits and necromancers — major threats which have seen a resurgence in the past three years, an unfortunate consequence of the Grand Council’s focus on waging war against the Chaos Empire.

It follows that huntsmen like Durvan are highly respected members of society in the forested borderlands, no matter how little their field experience might be. Sadly, this sentiment is seldom shared by the more affluent Aragwaith of the inner country, who more often than not regard them as illiterate barbarians with no understanding of tactics or craftsmanship."
[/character_profile]
#endif

#ifndef CAMPAIGN_AFTER_THE_STORM_EPISODE_I
[character_profile]
	id=Anya
	name= _ "Anya"
#ifndef CAMPAIGN_AFTER_THE_STORM_EPISODE_III
	requires_milestone=anya_encountered
#endif
	affiliation= _ "Demon Lord Elorran"
	race=faerie
	gender=female
	#portrait="portraits/anya.webp"
	help_unit_type=Dusk Faerie
	description= _ "Originally introduced to Elynia’s group in the guise of a helpless human girl, <b>Anya</b> is in truth a faerie of the deep forest strongly attuned to the power of Darkness. For a long time she has journeyed the Far North in the company of her adopted family: the <b>Demon Lord Elorran</b> and the dryad <b>Tara</b>.

Having heard and admired Elynia’s exploits for a long time, Anya was chosen as the perfect candidate to bring the Lady of Light to Elorran’s side, with the intention of destroying the Ruby of Fire before Uria could get her hands on it. Unfortunately, Elynia refused to accede to Elorran’s terms and instead decided to take the Ruby with her on a last mission. In order to ensure that the Ruby remains safe and that Elynia and Elorran have a way to communicate should any unexpected developments arise, the latter dispatched Anya to accompany her for the remainder of her mission."

	[additional_info]
		requires_milestone=After_the_Storm_II
		affiliation= _ "Elynia"
		description= _ "Following the demise of Elorran and Tara, Anya revealed to Elynia and Durvan that she was abandoned by her parents as a child due to their intense hatred of faeriekind creatures, an all too common trait amongst the humans of the Far North. Tara found the girl shortly after, and brought her to Elorran, who then took pity on her and decided to raise her with Tara’s help despite the dangers of his life as a rebel leader.

Having nowhere else left to go, Anya decided to follow Elynia until the end."
	[/additional_info]

	[additional_info]
		requires_milestone=elynia_unleashed
		name= _ "Anya, the Guardian of Darkness"
		additional_titles= _ "The Dark Lady"
		affiliation= _ "The Ten Guardians, Demon Lord Ergea"
		description= _ "While attempting to secure a strategical keep in Kalari Central, Anya’s group ran into a trap set up by the <b>Demon Lord Zhangor</b>, where a number of advanced Shaxthal creatures known as the <b>Deathbringers</b> cornered them in a sealed-off room. In an attempt to give Durvan and Ergea a chance to escape, Anya used up all her strength to fight the creatures to no avail, only to be mortally wounded in battle herself and reduced to the same viscuous form as all other fallen shapeshifters.

Just as the human and the demon lord were about to give into hopelessness, Anya’s remains suddenly lit up with the intensity of a small sun, throwing the twisted creatures into disarray as her body began taking shape again, lifted upwards by an unseen force. Immediately after, a powerful energy emanated from her, maiming and hurting her enemies while leaving her friends untouched. As the abominations desperately fled the broken keep, Anya’s body finished congealing into its usual form, her consciousness barely recovered from the motionless haze she had been submerged into following her fatal injuries.

With her companions’ assistance, Anya made it out of the keep and understood that her new life as the <b>Guardian of Darkness</b> had just begun."
	[/additional_info]
[/character_profile]
#endif
