#textdomain wesnoth-After_the_Storm

#define JOURNEYLOG_FRAGMENT _ID _TEXT
	[fragment]
		id={_ID}
		text={_TEXT}
	[/fragment]
#enddef

[world_entry]
	id="quenoth_glyph_verlissh"
	title= _ "On the Verlissh"
	source=07_The_Search_for_the_Past

	{JOURNEYLOG_FRAGMENT verlissh1 ( _ "The <b>Verlissh</b> are a primitive Rythenian lifeform brought to Irdya by the <b>Argazar</b>. Under certain conditions, these creatures can combine to form larger and more complex units, and even integrate themselves into foreign organisms, adapting to their bodies and augmenting them. The symbiotic relationship they develop with their host comes at a price for both, however — the host and the Verlissh become reliant on each other’s functions to survive.")}

	{JOURNEYLOG_FRAGMENT verlissh2 ( _ "<b>Uria</b> has learned that the Argazar civilization used the Verlissh to enhance the abilities and strength of their <b>‘biomechanical’</b> warriors. There are ruins scattered across Irdya from which we could obtain samples to, in time, raise a whole army to put an end to the current Dark Age.")}
[/world_entry]

[world_entry]
	id="quenoth_glyph_norsula"
	title= _ "On Norsula"
	source=07_The_Search_for_the_Past

	{JOURNEYLOG_FRAGMENT norsula1 ( _ "The advanced <b>Norsulan</b> technology stolen by Uria’s agents from those working for the one who is rumored to be the reincarnation of <b>Valdir</b> has been very helpful for our ends; understanding the most interesting creations of the Argazar people would have proved nearly impossible without a better-documented modern reference.")}

	# po: The hexadecimal numbers represent the following ASCII sequence:
	# po: RUBYOFFIRE
	{JOURNEYLOG_FRAGMENT norsula2 ( _ "I do find it amusing that one of the biggest breakthroughs in the Norsulan pursuit of godhood happens to be based on <i>my</i> own research which ████ and I wrote down on our grimoire back there. How <i>delightful</i> it is to find out that so many generations later, the rulers of Norsula’s technological empire would indulge in the same sort of blasphemy that got me banished here in the first place! ██

I do█find their use of the Missing Number for this purpose an absolute mockery of the dark arts; alas, I infer that necromancy never became as widespread over there as it did on Irdya. Quite curious, that; is Norsula special for having such a strong barrier between itself and Arvadelidrya, or is Ird█a special for the opposite phenomenon? If the latter, could it be because of the Wesfolk tampering with π§█ € +¢ Á ███ 52 55 42 59 4F 46 46 49 52 45")}

	# po: The hexadecimal numbers represent the following ASCII sequences:
	# po: EL / IAMSORRY
	# po: When Argan says "for her sake", it is unclear who she's referring to
	# po: (it could be Uria or another unspecified female person).
	{JOURNEYLOG_FRAGMENT norsula3 ( _ "%¶█Ä¡° █Ü 45 4C suppose Uria is content with continuing experimentation on Subject 00-44A for the time being.█

ª ß§§█C§ &amp;██P surprisingly resistant to contamination, unlike ¶C¨ ø█ W-39 © É/ 5ƒ suppose it is the same quality that makes Irdyan humans more resistant to essences from beyond the physical realm. ██©█ evolutionary advantage, perhaps?

49 41 4D 53 4F 52 52 59 sentimentality delays us all. █ must carry out Uria’s plan for her sake.")}
[/world_entry]

[world_entry]
	id="quenoth_glyph_merthiaal"
	title= _ "The Eater of Souls"
	source=07_The_Search_for_the_Past
	requires_milestone=quenoth_glyph_merthiaal
	# po: Redacted: Xia'el, Yrathid
	# po: Note: Urvatha = Inferno. Uria is considered the mother of Inferno
	# po: in a strictly figurative sense.
	text= _ "According to some ancient legends of disputable origin, the <b>First</b> sculpted a <b>beautiful maiden</b> out of fine dust, ██████, and bestowed her control over the awesome power that flows through the veins of every one of her <b>faerie</b> descendants, including the elves of Irdya.

Those legends also tell of one of her siblings: <b>Merthiaal the Ashen One</b>, who owing to her bold actions would come to be known as the <b>Eater of Souls</b>. Even after a cycle has passed, the oldest races of Irdya and other worlds continue to remember her, and avoid mentioning her true name in conversation. If they must, they will speak of her as <b>‘Yechnagoth’</b>.

Now, Merthiaal fervently desired the First’s favor. Alas, no matter how hard she tried, someone with such an aching heart could not possibly manage to tame the <b>Aspect of Darkness</b>. She could never accept that the First only had eyes for the <b>wielder of the Arcane Flame</b>, and <b>Uria</b>, the Guardian who would come to be regarded as the <b>mother of Urvatha</b>.

As time went on, envy rooted deep within Merthiaal’s mind. In an attempt to prove her worth, she committed an <b>unspeakable sin</b> against the order of the Universe. Her control over Darkness was lost as a result. Her own world, ███████, was destroyed, along with <b>every soul</b> on it. Any further damage was only narrowly averted thanks to Uria’s timely intervention.

Merthiaal’s heart, soul, and memories were preserved through eons, but her body was not.

Now we have the means to build a new body that may allow her power to flow unimpeded once again. If she can be convinced to accept Uria’s offer, then she shall have a new opportunity to destroy the descendants of her rival and allow us to reign over this decadent world."
[/world_entry]

