# IDE cruft
*.kate-swp
.vscode/
.vstags

# Intermediate output of Naia test target
.preprocessor.out/

# pbl output
_server.pbl

# Maintenance mode toggle
base-maint.cfg

# Comes from applying patches
*.orig
