#textdomain wesnoth-After_the_Storm
#
#  After the Storm
#  Copyright (C) 2006, 2008, 2009, 2010, 2011, 2012 by Ignacio Riquelme Morelle
#  <shadowm2006@gmail.com>
#
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 2 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

# wmlscope: set export=no
# wmlindent: start ignoring

[textdomain]
    name="wesnoth-After_the_Storm"
    path="data/add-ons/After_the_Storm/translations"
[/textdomain]

#ifdef ATS_MAINTAINER_MODE
    #undef ATS_MAINTAINER_MODE
#endif

#ifdef ATS_SHARED_DESCRIPTION_FOOTER
    #undef ATS_SHARED_DESCRIPTION_FOOTER
#endif

#ifdef ATS_SHARED_ATTRIBUTES
    #undef ATS_SHARED_ATTRIBUTES
#endif

#ifdef ATS_HAVE_MUSIC
    #undef ATS_HAVE_MUSIC
#endif

#ifhave ~add-ons/After_the_Storm/base-maint.cfg
    {~add-ons/After_the_Storm/base-maint.cfg}
#endif

#ifhave ~add-ons/AtS_Music/_main.cfg
    #define ATS_HAVE_MUSIC
    #enddef
#endif

#
# Macros used by the campaign menu entries
#

#ifndef ATS_HAVE_MUSIC
#define ATS_HAVE_MUSIC_STATUS
"<small><span color='red'><b>!</b></span> <span color='#888'>"+_"Music add-on “<i>AtS Music</i>” is <b>not</b> currently installed."+"</span></small>" #enddef
#else
#define ATS_HAVE_MUSIC_STATUS
"" #enddef
#endif

#ifver WESNOTH_VERSION >= 1.11.0
#define ATS_WESNOTH_1_11_SUPPORT_STATUS
"
"+_"<small><span color='red'><b>!</b></span> <b>Support for Wesnoth 1.11.0 is currently highly <u>experimental</u> and largely untested. Please report your experiences at http://r.wesnoth.org/t32091 if you choose to play on this version.</b></small>" #enddef
#else
#define ATS_WESNOTH_1_11_SUPPORT_STATUS
"" #enddef
#endif

#define ATS_SHARED_DESCRIPTION_FOOTER
"
<span color='#888'><small>"+_"Version"+" {~add-ons/After_the_Storm/dist/VERSION} "+_"(requires Wesnoth 1.9.10 or later)"+"</small></span>"+"
"+{ATS_HAVE_MUSIC_STATUS}+{ATS_WESNOTH_1_11_SUPPORT_STATUS} #enddef

#define ATS_SHARED_ATTRIBUTES
    define=CAMPAIGN_AFTER_THE_STORM
    rank=257
    {~add-ons/After_the_Storm/about.cfg}
#enddef

#ifver WESNOTH_VERSION >= 1.11.0
#define ATS_DIFFICULTY_DEFINITIONS
    difficulties=EASY,NORMAL,HARD
    difficulty_descriptions={MENU_IMG_TXT2 "units/undead-skeletal/skeleton/skeleton-se-defend2.png~RC(magenta>orange)" _"difficulty_menu^Skeleton" ("<span color='#888'>"+_"(Easy)"+"</span>")} + ";*" + {MENU_IMG_TXT2 "units/undead/wraith-s-defend-2.png~RC(magenta>orange)" _"difficulty_menu^Wraith" ("<span color='#888'>"+_"(Normal)"+"</span>")} + ";" + {MENU_IMG_TXT2 "units/undead-skeletal/banebow-melee-attack-3.png~RC(magenta>orange)" _"difficulty_menu^Banebow" ("<span color='#888'>"+_"(Hard)"+"</span>")}
#enddef
#else
#define ATS_DIFFICULTY_DEFINITIONS
    difficulties=EASY,NORMAL,HARD
    difficulty_descriptions={MENU_IMG_TXT2 "units/undead-skeletal/skeleton-defend-2.png~RC(magenta>orange)" _"difficulty_menu^Skeleton" ("<span color='#888'>"+_"(Easy)"+"</span>")} + ";*" + {MENU_IMG_TXT2 "units/undead/wraith-s-defend-2.png~RC(magenta>orange)" _"difficulty_menu^Wraith" ("<span color='#888'>"+_"(Normal)"+"</span>")} + ";" + {MENU_IMG_TXT2 "units/undead-skeletal/banebow-melee-attack-3.png~RC(magenta>orange)" _"difficulty_menu^Banebow" ("<span color='#888'>"+_"(Hard)"+"</span>")}
#enddef
#endif

#
# Campaign menu entries
#

#ifhave ~add-ons/After_the_Storm/episode1/menu.cfg
    {~add-ons/After_the_Storm/episode1/menu.cfg}
#endif

#ifhave ~add-ons/After_the_Storm/episode2/menu.cfg
    {~add-ons/After_the_Storm/episode2/menu.cfg}
#endif

#ifhave ~add-ons/After_the_Storm/episode3/menu.cfg
    {~add-ons/After_the_Storm/episode3/menu.cfg}
#endif

#undef ATS_SHARED_DESCRIPTION_FOOTER
#undef ATS_HAVE_MUSIC_STATUS
#undef ATS_WESNOTH_1_11_SUPPORT_STATUS
#undef ATS_SHARED_ATTRIBUTES
#undef ATS_DIFFICULTY_DEFINITIONS

#ifdef EDITOR
    #define CAMPAIGN_AFTER_THE_STORM
    #enddef
#endif

#
# Campaign selection conditional
#

#ifdef CAMPAIGN_AFTER_THE_STORM

[binary_path]
    path="data/add-ons/After_the_Storm"
[/binary_path]

#ifdef ATS_HAVE_MUSIC
[binary_path]
    path="data/add-ons/AtS_Music"
[/binary_path]
#endif

#ifndef EDITOR
    {~add-ons/After_the_Storm/base-loader.cfg}
#else
    {~add-ons/After_the_Storm/editor-loader.cfg}
#endif

#endif

#undef ATS_HAVE_MUSIC

# wmllint: directory spellings Elynia Galas Mal Malin Keshar Argan Anya
# wmllint: directory spellings Hekuba Kendria Nar-hamoth Ivyel Uria Zhangor
# wmllint: directory spellings Inferno Wesmere demoness demonesses razerman
# wmllint: directory spellings Aragwaith Aragwaithi verlissh verlisshi wyrm
# wmllint: directory spellings rayblade shaxthal shaxthals faerie faeries
# wmllint: directory spellings touchplate Kalehssar biomechanical stormtide
# wmllint: directory spellings argazar Irdya Sela Naia Niryone Zocthanol
# wmllint: directory spellings Yechnagoth Eloh Quenoth Ravanal Jevyan Arnesius
# wmllint: directory spellings Tirigaz Kalari Zynavu Malal Elyssa Zynara
# wmllint: directory spellings Asthorgar Xia'el Merthiaal Kalari Horo Kyara
# wmllint: directory spellings lorekeeper lorekeepers Anlindë Quetor'el Inodien
# wmllint: directory spellings Lédinor Iluvia Valthir Deniéth-Isal Raelthyn
# wmllint: directory spellings Suthwood Valen Talwyn Dalbloom Allyna Durvan
# wmllint: directory spellings Zynara Unarye Telchior Elorran Tara Gralseth
# wmllint: directory spellings Arphalad Lorin Wylven Adavyan Danaerad Astar
# wmllint: directory spellings Irylean Ergea Aran-Balgur Falrore greatbow
# wmllint: directory spellings longswordsmen faeriedom demonkind Huldnyir
# wmllint: directory spellings Bardyl Ixthala Torancyn

# wmlindent: stop ignoring

# kate: indent-mode normal; encoding utf-8; space-indent on;
