#textdomain wesnoth-After_the_Storm

#ifhave ~add-ons/Naia/loader.cfg

#define _naia:img
data/add-ons/Naia/images#enddef

#define _naia:ach segment
{~add-ons/Naia/achievements_{segment}.cfg}#enddef

#else
#ifhave ~add-ons/After_the_Storm/Naia/loader.cfg

#define _naia:img
data/add-ons/After_the_Storm/Naia/images#enddef

#define _naia:ach segment
{~add-ons/After_the_Storm/Naia/achievements_{segment}.cfg}#enddef

#else

#warning Naia loading error. Achievement utils for this add-on are unavailable.
#define _naia:ach segment
#enddef

#endif
#endif

{_naia:ach prologue}

{ETHEA_ACHIEVEMENTS After_the_Storm _"After the Storm"}

#
# Main storyline - Episode 1
#

{ETHEA_ACHIEVEMENT queen_1 ()
( _ "Will of the Hive")
( _ "Meet the Queen of Wesmere")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT queen_2 ()
( _ "Sic Transit Gloria Mundi")
( _ "Write the conclusion to Wesmere’s history")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT ats_episode_1 ()
( _ "Fear")
( _ "Finish Episode I")}

#
# Main storyline - Episode 2
#

{ETHEA_ACHIEVEMENT elorran ()
( _ "Strange Loyalties")
( _ "Reach an agreement with Demon Lord Elorran")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT ivyel_1 ()
( _ "Imitation of Life")
( _ "Force the impostor Lady of Light to flee underground")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT hekuba_1 ()
( _ "Fear of the Dark")
( _ "Meet Mal Hekuba’s illusion")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT hekuba_2 ()
( _ "Mors Vincit Omnia")
( _ "Put an end to Mal Hekuba’s usurpation")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT ats_episode_2 ()
( _ "Fate")
( _ "Finish Episode II")}

#
# Main storyline - Episode 3
#

{ETHEA_ACHIEVEMENT overdue_reunion ()
( _ "Overdue Reunion")
( _ "Meet up with your past allies")}

{ETHEA_ACHIEVEMENT narhamoth ()
( _ "My Job Here Is Done")
( _ "Survive the confrontation with Demon Lord Nar-hamoth")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT explode_yourself
data/add-ons/After_the_Storm/images/icons/ach-explosives.png
( _ "Barrels of Fun")
( _ "Blow up your own units by intentionally detonating an explosive charge")}

{ETHEA_ACHIEVEMENT lost_civ_story ()
( _ "Uria’s Witnesses")
( _ "Learn the story of the lost valley civilization")}

{ETHEA_ACHIEVEMENT ergea ()
( _ "Strange Skies")
( _ "Reach an agreement with Demon Lord Ergea")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT the_promise ()
( _ "The Promise")
( _ "Let her peer into your heart")}

{ETHEA_ACHIEVEMENT kendyare ()
( _ "Hollow Shell")
( _ "Survive the confrontation with “Mal Kendria”")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT ethealim ()
( _ "The Trial of Darkness")
( _ "Eliminate the Gatekeeper of Ethea")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT elyssa_1 ()
( _ "Forced Vacation")
( _ "A fitting reward after centuries of service")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT elyssa_2 ()
( _ "Lost Media")
( _ "Retrieve Elyssa’s poetry book")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT hemera ()
( _ "Smoke and Mirrors")
( _ "Survive the confrontation with Demon Lord Hemérilyel")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT elynia_2 ()
( _ "I Am Become Death")
( _ "Awaken the power of the Guardian of Earth and the Guardian of Darkness")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT elynia_killcount ()
( _ "Peace Was Never An Option")
( _ "Kill 50 units using Elynia following her awakening")
MAX_PROGRESS=50
HIDDEN=yes}

{ETHEA_ACHIEVEMENT anya_killcount ()
( _ "Deadly Nightshade")
( _ "Kill 50 units using Anya following her awakening")
MAX_PROGRESS=50
HIDDEN=yes}

{ETHEA_ACHIEVEMENT elyssa_killcount ()
( _ "Hellfire")
( _ "Kill 50 units using Elyssa")
MAX_PROGRESS=50
HIDDEN=yes}

{ETHEA_ACHIEVEMENT iron_council_end ()
( _ "In Yechnagoth We Rust")
( _ "Vanquish the last member of the Iron Council")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT storm_sisters ()
( _ "The Power of Three")
( _ "Capture the Storm Sisters")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT demolition_1 ()
( _ "This Is a Drill")
( _ "Get your hands on a Demolisher Drone")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT demolition_2 ()
( _ "Can We Fix It?")
( _ "Blow up an artificial structure using a Demolisher Drone")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT fendyrn
data/add-ons/After_the_Storm/images/attacks/soul-hammer.png
( _ "Hammer Against the Gods")
( _ "Meet Engineer Fendyrn")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT zhangor_1 ()
( _ "Stygian Revenant")
( _ "Meet Zhangor in his Shaxthal Deathbringer form")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT zhangor_2 ()
( _ "Argan’s Wish")
( _ "Reach an agreement with Elyssa")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT guardian_combo ()
( _ "Dance Like You Want to Win")
( _ "Use a Guardian combo for the first time")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT zhangor_3 ()
( _ "The Trial of Blood")
( _ "Put an end to Demon Lord Zhangor’s rule over Irdya")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT anya_f ()
( _ "I Need You")
( _ "Trust your heart")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT ats_episode_3 ()
( _ "After the Storm")
( _ "Finish Episode III")}

#
# Items
#

{ETHEA_ACHIEVEMENT obsidian_battle_axe
attacks/battleaxe.png
( _ "Heeeere’s Johny!")
( _ "Obtain the Obsidian Battle Axe")}

{ETHEA_ACHIEVEMENT amber_ward
icons/jewelry_necklace_amber.png
( _ "Thick Skinned")
( _ "Equip the Amber Ward")}

{ETHEA_ACHIEVEMENT bow_of_krysvelen
attacks/bow-elven-magic.png
( _ "Freeze! Don’t Move")
( _ "Draw the Bow of Krysvelen")}

{ETHEA_ACHIEVEMENT bloodlust_potion
{_naia:img}/icons/potion-red-1.png
( _ "Fight! Fight! Fight! Fight! Fight!")
( _ "Imbibe the Potion of Bloodlust")}

{ETHEA_ACHIEVEMENT ring_of_agility
icons/jewelry_ring_prismatic.png
( _ "Tailored for Swiftness")
( _ "Don the Ring of Quicksilver")}

{ETHEA_ACHIEVEMENT perma_fire_essence
icons/potion_red_small.png
( _ "A Norsulan Tragedy")
( _ "Recover a vial of Shardia’s tears in their purest form")}

{ETHEA_ACHIEVEMENT staff_of_akhlys
attacks/staff-green.png
( _ "Ask Your Doctor about Side Effects")
( _ "Brandish the Staff of Akhlys")}

#
# Other events
#

{ETHEA_ACHIEVEMENT fountain_of_courage ()
( _ "No Swimming")
( _ "Have a swim in the Shimmering Fountain")
HIDDEN=yes}

# po: This achievement name is a reference to the game "Stardew Valley".
# po: It may not work when translated.
{ETHEA_ACHIEVEMENT mermaids_pendant ()
( _ "Starlit Vale")
( _ "Take the Mermaid’s Pendant")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT daeira_1 ()
( _ "At Reality’s Edge")
( _ "Meet the Naiad")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT daeira_2 ()
( _ "A Light in the Darkness")
( _ "Obtain Xia’el’s Blessing")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT daeira_3 ()
( _ "The Naiad’s Call")
( _ "Witness the arrival of reinforcements from distant waters")
HIDDEN=yes}

# po: Latin: "truth from nothingness"
# po: Daeira's name is censored with exactly 6 full blocks to match her
# po: name's length
{ETHEA_ACHIEVEMENT daeira_f ()
( _ "Verum Ex Nihilo")
( _ "Meet ██████ again and learn the truth that was never recorded")
HIDDEN=yes}

{ETHEA_ACHIEVEMENT epilogue ()
( _ "Divine Judgment")
( _ "Witness Aradellys’s demise")
HIDDEN=yes}

{_naia:ach epilogue}
