#textdomain wesnoth-After_the_Storm

#define BUG _MESSAGE
    [bug]
        message={_MESSAGE}
    [/bug]
#enddef

#define BUG_ON _CONDITION _MESSAGE
    [bug]
        message={_MESSAGE}
        [condition]
            {_CONDITION}
        [/condition]
    [/bug]
#enddef

#define LOG_ATS_ERR _MSG
    {ERROR ("[AtS] "+{_MSG})}
#enddef

#define LOG_ATS_WRN _MSG
    {WARNING ("[AtS] "+{_MSG})}
#enddef

#define LOG_ATS_WARN _MSG
    {WARNING ("[AtS] "+{_MSG})}
#enddef

#define LOG_ATS _MSG
    {LOG ("[AtS] "+{_MSG})}
#enddef

#define LOG_ATS_DBG _MSG
    {DEBUG ("[AtS] "+{_MSG})}
#enddef

# kate: indent-mode normal; encoding utf-8; space-indent on;
