#textdomain wesnoth-After_the_Storm

#define EX_ATTRIBUTE _LVALUE _RVALUE
    {_LVALUE}={_RVALUE}
#enddef

# wmlindent: start ignoring
#define UI_COLOR_BONUS
<100,100,255>#enddef

#define UI_COLOR_GRAYED
<128,128,128>#enddef

#define UI_COLOR_FOOTNOTE
{UI_COLOR_GRAYED}#enddef

#define PANGO_COLOR_BONUS
6464ff#enddef

#define PANGO_COLOR_GRAYED
808080#enddef

#define PANGO_COLOR_FOOTNOTE
{PANGO_COLOR_GRAYED}#enddef

# wmlindent: stop ignoring

# Difficulty WML code selection macro DIFF, which I wrote to simplify reading my WML code
# when it requires difficulty-conditional statements

# No tab or space-based indentation on this file to avoid trouble when these macros are used
# in middle of a quoted string literal

# wmlindent: start ignoring

#ifdef EASY
#define DIFF _ON_EASY _ON_NORMAL _ON_HARD
{_ON_EASY}#enddef
#endif
#ifdef NORMAL
#define DIFF _ON_EASY _ON_NORMAL _ON_HARD
{_ON_NORMAL}#enddef
#endif
#ifdef HARD
#define DIFF _ON_EASY _ON_NORMAL _ON_HARD
{_ON_HARD}#enddef
#endif

# wmlindent: stop ignoring

# kate: indent-mode normal; encoding utf-8; space-indent on;
