#textdomain wesnoth-After_the_Storm
#  $Id$
#
#  After the Storm
#  Copyright (C) 2008 by Ignacio R. Morelle "Shadow Master"
#  <shadowm2006@gmail.com>
#
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 2 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

# wmlindent: start ignoring

#define INCLUDE_LOCAL __PATH__
{~{LDR_PATH}/{__PATH__}}#enddef
#define INCLUDE_CORE __PATH__
{{__PATH__}}#enddef
#define LD __PATH__
{~{LDR_PATH}/{__PATH__}}#enddef

# wmlindent: stop ignoring

# NOTE: do not change the order in which these files are preprocessing unless
# you are very sure of what you are doing.

{LD /mainline-strings.cfg}
{LD /base-utils.cfg}
{LD /base-variables.cfg}
{LD /base-math.cfg}
{LD /base-rc.cfg}
{LD /macros}

[+units]
    {LD /units}
[/units]

{LD /terrain-graphics}
{LD /terrain.cfg}
{LD /terrain-virtual.cfg}

{LD /ai}

{LD /scenarios}

# EOF
