#  $Id$
#
#  After the Storm
#  Copyright (C) 2008 by Ignacio R. Morelle "Shadow Master"
#  <shadowm2006@gmail.com>
#
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 2 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

# wmllint: validate-off
# wmlindent: start ignoring

#textdomain wesnoth

# TODO

#textdomain wesnoth-lib

#define TSTR_TERRAIN_NAME_SHROUD
    _"Shroud" #enddef
#define TSTR_TERRAIN_NAME_FOG
    _"Fog" #enddef
#define TSTR_TERRAIN_NAME_CHASM
    _ "Chasm" #enddef
#define TSTR_TERRAIN_NAME_ROAD
    _ "Road" #enddef
#define TSTR_TERRAIN_NAME_CASTLE
    _ "Castle" #enddef
#define TSTR_TERRAIN_NAME_KEEP
    _ "Keep" #enddef
#define TSTR_TERRAIN_NAME_IMPASSABLE
    _ "Impassable" #enddef
#define TSTR_TERRAIN_NAME_UNWALKABLE
    _ "Unwalkable" #enddef

#textdomain wesnoth-units

#define TSTR_ATTACK_NAME_STAFF
    _ "staff" #enddef
#define TSTR_ATTACK_NAME_SWORD
    _ "sword" #enddef
#define TSTR_ATTACK_NAME_ENTANGLE
    _ "entangle" #enddef
#define TSTR_ATTACK_NAME_ENSNARE
    _ "ensnare" #enddef
#define TSTR_ATTACK_NAME_THORNS
    _ "thorns" #enddef
#define TSTR_ATTACK_NAME_FANGS
    _ "fangs" #enddef
#define TSTR_ATTACK_NAME_CLAWS
    _ "claws" #enddef
#define TSTR_ATTACK_NAME_BEAK
    _ "beak" #enddef
#define TSTR_ATTACK_NAME_TAIL
    _ "tail" #enddef
#define TSTR_ATTACK_NAME_TENTACLE
    _ "tentacle" #enddef

# wmlindent: stop ignoring
# wmllint: validate-on
