#textdomain wesnoth-After_the_Storm

[terrain_type]
    id=overlay-fakefog
    editor_name= _ "Fake Fog"
    symbol_image=fog/fog1
    #editor_image=tile-icons/fake-fog
    editor_image=fog/fog-editor
    string=^Zow
    aliasof=_bas
    editor_group=wesnoth-UMC-After_the_Storm
    hide_help=yes
[/terrain_type]

[terrain_type]
    id=overlay-ground-cracked
    editor_name= _ "Crack"
    symbol_image=../scenery/ground-crack
    string=^Egk
    aliasof=_bas
    editor_group=wesnoth-UMC-After_the_Storm
    hide_help=yes
[/terrain_type]

[terrain_type]
    id=overlay-statue-xiael
    editor_name= _ "Statue (Xia’el)"
    symbol_image=tile-icons/statue-xiael
    string=^Ezx
    aliasof=_bas
    editor_group=wesnoth-UMC-After_the_Storm
    hide_help=yes
[/terrain_type]
