# wmllint: no translatables

# Starfield or some crap
{NEW:BASE                 Xzsf                 chasm/abyss                }

# Cracks
{NEW:OVERLAY              *^Egk                ../scenery/ground-crack         }

# Statues
{NEW:OVERLAY              *^Ezx                ../scenery/statue-xiael         }

# Dry grassland elvish castle
{NEW:BASE                Cvz                   elvish-castle-ground-dry}
{NEW:CASTLEWALL          Cvz                   (!,C*,K*,Xu*,Xo*)          !,Ket,!,C*,Ke*    castle/elven/castle}

# Dry grassland elvish castle ruins
{NEW:BASE                Cvrz                  elvish-castle-ground-dry}
{NEW:CASTLEWALL          Cvrz                  (!,C*,K*,Xu*,Xo*)          !,Ket,!,C*,Ke*    castle/elven-ruin/castle}

# Fake fog
{FOG_SIMPLE               *^Zow           LAYER=1                }
{NEW:TRANSITION           *^Zow (!,*^Zow) 1 fog/fog FLAG=overlay }

# Blood
{NEW:OVERLAY                              Wwbf        water/ford FLAG=ford LAYER=-519}

{NEW:WATER_342_180                        Wwb,Wwbf    water/water  17 DURATION=125 RANDOM_START=125}
{NEW:WATER_342_180_OVERLAY                Wwb         water-overlay-blood                      -502}
{NEW:WATER_342_180_OVERLAY                Wwbf        water-overlay-blood-ford                 -502}

# Blood transitions
{NEW:WATER_342_180_OVERLAY_TRANSITION     Wwb         (!,Wwb,!,W*,Sm)  -505 water-overlay-blood      0.80}
{NEW:WATER_342_180_OVERLAY_TRANSITION     Wwbf        (!,Wwbf,!,W*,Sm) -505 water-overlay-blood-ford 0.40}
