# wmllint: no translatables

# Starfield or some crap
{TERRAIN_BASE_RANDOM      Xzsf                 chasm/abyss                }

# Wasteland terrain graphics - below everything
{TERRAIN_BASE             Zw                   wasteland                  }

# Dark hive floor terrain graphics
{TERRAIN_BASE             Yhr                  dark-hive/floor                 }
{TERRAIN_BASE             Yhl                  dark-hive/lair                  }
{TERRAIN_BASE             Yhs                  dark-hive/surface               }

# Dark hive floor's pits
{OVERLAY_P                *^Xp          10     dark-hive/pit-2                 }
{OVERLAY_P                *^Xp          11     dark-hive/pit-3                 }
{OVERLAY_P                *^Xp          13     dark-hive/pit-4                 }
{OVERLAY_P                *^Xp          14     dark-hive/pit-5                 }
{OVERLAY_P                *^Xp          17     dark-hive/pit-6                 }
{OVERLAY_P                *^Xp          20     dark-hive/pit-7                 }
{OVERLAY_P                *^Xp          25     dark-hive/pit-8                 }
{OVERLAY                  *^Xp                 dark-hive/pit-1                 }

# Cracks
{OVERLAY_P                *^Egk         10     ../scenery/ground-crack-2       }
{OVERLAY_P                *^Egk         11     ../scenery/ground-crack-3       }
{OVERLAY_P                *^Egk         13     ../scenery/ground-crack-4       }
{OVERLAY_P                *^Egk         14     ../scenery/ground-crack-5       }
{OVERLAY_P                *^Egk         17     ../scenery/ground-crack-6       }
{OVERLAY_P                *^Egk         20     ../scenery/ground-crack-7       }
{OVERLAY_P                *^Egk         25     ../scenery/ground-crack-8       }
{OVERLAY                  *^Egk                ../scenery/ground-crack-1       }

# Statues
{OVERLAY                  *^Eza                ../scenery/statue-adavyan       }

# Trash
{TRI_TRASH_BASE (*^Ettz) (*^Etbz)}

{TRI_TRASH_B (*^Ettz) (trash_medium)    (70) ("1;2;3;4;5;6;7;8;9;10")                   (trash/trashB)}
{TRI_TRASH_B (*^Etbz) (detritus_medium) (70) ("1;2;3;4;5;6;7;8;9;10;11;12;13;14;15;16") (trash/detritusB)}

{TRI_TRASH_C (*^Ettz) (trash_big)    (trash_medium)    (30) ("1;2;3;4")       (trash/trashC)}
{TRI_TRASH_C (*^Etbz) (detritus_big) (detritus_medium) (50) ("1;2;3;4;5;6;7") (trash/detritusC)}

# Earthy rockbound cave
{TERRAIN_BASE_RANDOM      Uhe                cave/earthy-hills-variation       }

# Gate terrain graphics
{GATE_OVERLAY ("*^Z/")  () (1) dark-gate-se}
{GATE_OVERLAY ("*^Z\")  (1) () dark-gate-sw}
{GATE_OVERLAY ("*^Zz/") () (1) magic-gate-se}
{GATE_OVERLAY ("*^Zz\") (1) () magic-gate-sw}

# Dry grassland elvish castle
{TERRAIN_BASE            Cvz                   elvish-castle-ground-dry}
{NEW:WALL                Cvz         (!,C*,K*) castle/elven/castle}

# Campfire terrain graphics
{OVERLAY *^Zi ("../scenery/fire1.png:150,../scenery/fire2.png:150,../scenery/fire3.png:150,../scenery/fire4.png:150,../scenery/fire5.png:150,../scenery/fire6.png:150,../scenery/fire7.png:150,../scenery/fire8.png:150")}

# Brazier terrain graphics
{OVERLAY *^Bz ("../items/brazier-lit1.png:140,../items/brazier-lit2.png:140,../items/brazier-lit3.png:140,../items/brazier-lit4.png:140,../items/brazier-lit5.png:140,../items/brazier-lit6.png:140,../items/brazier-lit7.png:140,../items/brazier-lit8.png:140")}
{OVERLAY *^Bzu ("../items/brazier")}

# Banners

{WALL_MOUNTED_BANNER_OVERLAY *^Ebur ../scenery/banner-uria-wall.png       }
{WALL_MOUNTED_BANNER_OVERLAY *^Ebme ../scenery/banner-yechnagoth-wall.png }

{DISABLE_BASE_TRANSITIONS Qxv}

# Dark hive transitions
{NEW:BEACH                  (Yhr,Yhl,Yhs)               W*         flat/shore}
# Don't replace certain defined transitions for id est road, sand, mountains...
{TRANSITION_RESTRICTED_L        Yhr (!,Yhr,Uh,H*,M*,Q*,Urb,Rr,Rp,Ds) -499 (dark-hive/floor)  }
{TRANSITION_RESTRICTED_L        Yhl (!,Yhl,Uh,H*,M*,Q*,Urb,Rr,Rp,Ds) -499 (dark-hive/lair)   }
{TRANSITION_RESTRICTED_L        Yhs (!,Yhs,Uh,H*,M*,Q*,Urb,Rr,Rp,Ds) -499 (dark-hive/surface)}
# HACK: Wesnoth 1.6 RC 1. Define a custom Re transition, as
# the default mainline one is drawn below Yhs and looks awful.
{TRANSITION_RESTRICTED_LF       Yhr (Re,Rb,Rd) -331    transition3           (dark-hive/floor)  }
{TRANSITION_RESTRICTED_LF       Yhl (Re,Rb,Rd) -332    transition3           (dark-hive/lair)   }
{TRANSITION_RESTRICTED_LF       Yhs (Re,Rb,Rd) -333    transition3           (dark-hive/surface)}

# Volcanic abyss terrain graphics
{TERRAIN_BASE             Qxv                  volcanic-abyss                        }
{WALL_TRANSITION_LF       Qxv     (!,Qxv)    -90        ground       unwalkable/chasm}

# Earthy rockbound cave
{TRANSITION_COMPLETE_L     Uhe              (!,Uhe,W*,Ai)            -200      cave/earthy-hills}

# Fake shroud
{OVERLAY_L                *^Zok           1         void/void }
{TRANSITION_RESTRICTED_LF *^Zok (!,*^Zok) 1 overlay void/void }

# Fake fog
{OVERLAY_PL               *^Zow        30 1         fog/fog1  }
{OVERLAY_PL               *^Zow        43 1         fog/fog2  }
{OVERLAY_PL               *^Zow       100 1         fog/fog3  }
{TRANSITION_RESTRICTED_LF *^Zow (!,*^Zow) 1 overlay fog/fog   }

# Blood pool
#define BLOODY
"~CS(75,-255,-255)"#enddef

{ANIMATED_WATER_15        Wwb                {BLOODY}        110  water/coast-tropical}
{ANIMATED_WATER_15_TRANSITION Wwb (!,Wwb,!,W*,S*) -553 {BLOODY} 110 water/coast-tropical-long}
{ANIMATED_WATER_15_TRANSITION Wwb (!,Wwb,!,W*,S*) -559 {BLOODY} 110 water/coast-tropical-long}

# kate: indent-mode normal; encoding utf-8; space-indent on;
