#textdomain wesnoth-After_the_Storm

[scenario]
    id=04_Outpost_of_Hell
    name= _ "Outpost of Hell"
    {MAP 04_Outpost_of_Hell.map}
    turns=-1
    next_scenario=05_Pass_of_Sorrows

    {END_OF_PLAYABLE_SCENARIOS}

    {F_DEATHS}

    {SCENARIO_MUSIC "underground.ogg"}

    {STORYTXT_OUTPOST_OF_HELL}

    {LONGDARK4}
    {DAWN1}
    {MORNING1}
    {MIDDAY1}
    {AFTERNOON1}
    {DUSK1}
    {SHORTDARK}
    {DAWN2}
    {MORNING2}
    {MIDDAY2}
    {AFTERNOON2}
    {DUSK2}
    {LONGDARK1}
    {LONGDARK2}
    {LONGDARK3}

    {SHAXTHAL_SET_SURFACE_VARIATIONS_FLAG}

    # wmllint: validate-off
    [side]
        side=1
        controller=human
        save_id=player
        team_name=good
        user_team_name= _ "team_name^Elynia"

        {GOLD 170 160 150}

        # wmllint: recognize Elynia
        {CHARACTER_STATS_ELYNIA}
    [/side]

    [side]
        side=2
        controller=human
        persistent=no
        save_id=second_player
        team_name=good
        user_team_name= _ "team_name^General Bardyl"
        {ALLIANCE_FLAG}

        {GOLD 160 150 140}

        # wmllint: recognize General Bardyl
        {CHARACTER_STATS_GENERAL_BARDYL}
    [/side]
    # wmllint: validate-on

    [side]
        side=3
        team_name=evil
        user_team_name= _ "team_name^Aran-Balgur"
        {CHAOS_FLAG}

        {GOLD 160 170 180}
        recruit=Demon,Chaos Hound,Ghost,Chaos Bowman

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_pattern "scout,mixed fighter,fighter,mixed fighter,archer"}
        [/ai]

        canrecruit=yes
        facing=nw
        type=Gutwrencher Imp
        id=Harakgros
        name= _ "Harakgros"
        [modifications]
            {TRAIT_SLOW}
            {TRAIT_INTELLIGENT}
        [/modifications]
    [/side]

    [side]
        side=4
        team_name=evil
        user_team_name= _ "team_name^Aran-Balgur"
        {CHAOS_FLAG}

        {GOLD 175 180 190}
        recruit=Young Ogre,Orcish Archer,Orcish Assassin,Saurian Augur

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_pattern "fighter,fighter,mixed fighter,archer,healer"}
        [/ai]

        canrecruit=yes
        facing=nw
        type=Chaos Lorekeeper
        id=Mal Arazuul
        name= _ "Mal Arazuul"
        [modifications]
            {TRAIT_INTELLIGENT}
            {TRAIT_RESILIENT}
        [/modifications]
    [/side]

    [side]
        side=5
        team_name=evil
        user_team_name= _ "team_name^Aran-Balgur"
        {CHAOS_FLAG}

        {GOLD 160 170 180}
        recruit=Chaos Gunner,Chaos Invoker,Chaos Invader,Chaos Headhunter

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_pattern "fighter,mixed fighter,archer,scout,fighter,mixed fighter"}
        [/ai]

        canrecruit=yes
        facing=ne
        type=Demon Warrior
        id=Shergrel
        name= _ "Shergrel"
        [modifications]
            {TRAIT_STRONG}
            {TRAIT_QUICK}
        [/modifications]
    [/side]

    [side]
        side=6
        team_name=evil
        user_team_name= _ "team_name^Aran-Balgur"
        {CHAOS_FLAG}

        {GOLD 190 200 210}
        recruit=Shaxthal Drone,Shaxthal Razorbird,Shaxthal Rayblade,Psy Crawler,Chaos Invader

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_pattern "mixed fighter,scout,fighter,archer,mixed fighter,fighter,mixed fighter"}
        [/ai]

        canrecruit=yes
        facing=nw
        type=Demon Stormtide
        id=Arighaphon
        name= _ "Arighaphon"
        [modifications]
            {TRAIT_QUICK}
            {TRAIT_RESILIENT}
        [/modifications]
    [/side]

    {LIMIT_RECRUITS 6 (Shaxthal Rayblade) ({DIFF 1 2 2})}

    [side]
        side=7
        team_name=evil
        user_team_name= _ "team_name^Aran-Balgur"
        {CHAOS_FLAG}

        {GOLD 190 200 210}
        recruit=Ixthala Fire Dancer,Demon,Chaos Headhunter,Orcish Grunt,Chaos Invoker

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_pattern "fighter,mixed fighter,scout,mixed fighter,archer,mixed fighter"}
        [/ai]

        canrecruit=yes
        facing=ne
        type=Demon Spelldancer
        gender=female
        id=Kryselgea
        name= _ "Kryselgea"
        [modifications]
            {TRAIT_STRONG}
            {TRAIT_RESILIENT}
        [/modifications]
    [/side]

    {LIMIT_RECRUITS 7 (Ixthala Fire Dancer) ({DIFF 1 2 2})}

    [side]
        side=8
        team_name=evil
        user_team_name= _ "team_name^Aran-Balgur"
        {CHAOS_FLAG}

        {GOLD 180 190 200}
        recruit=Chaos Hound,Valdemon Basher,Blood Imp,Chaos Bowman,Shaxthal Runner Drone

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_pattern "archer,mixed fighter,fighter,fighter,mixed fighter,archer"}
        [/ai]

        canrecruit=yes
        facing=nw
        type=Chaos Razerman
        id=Meryl Ben
        name= _ "Meryl Ben"
        [modifications]
            {TRAIT_STRONG}
            {TRAIT_SLOW}
        [/modifications]
    [/side]

    {LIMIT_RECRUITS 8 (Valdemon Basher) ({DIFF 1 2 2})}

    [side]
        side=9
        team_name=evil
        user_team_name= _ "team_name^Aran-Balgur"
        {CHAOS_FLAG}

        {GOLD 150 160 170}
        {INCOME 6 8 10}
        recruit=Imp,Blood Imp,Valdemon Basher,Serpent Messenger,Demon Zephyr,Shaxthal Runner Drone,Shaxthal Protector Drone,Chaos Crossbowman,Chaos Bowman,Chaos Raider

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_pattern "fighter,mixed fighter,scout,archer,fighter,scout"}
        [/ai]

        canrecruit=yes
        type=Goliath
        level=4
        max_hitpoints=95
        max_experience=200
        [modifications]
            {TRAIT_MECHANICAL}
        [/modifications]
    [/side]

    # NOTE: yes, this limits these recruits as a set, not individually.
    {LIMIT_RECRUITS 9 (Valdemon Basher,Serpent Messenger,Demon Zephyr,Shaxthal Protector Drone) ({DIFF 4 5 6})}

    # Let side 9 recruit only every even turn.

    [event]
        name=side 9 turn
        first_time_only=no
        [filter_condition]
            {VARIABLE_BOOLEAN_EQUALS portal_access_open no}
        [/filter_condition]

        {VARIABLE_OP side_9_turn_test to_variable turn_number}
        {VARIABLE_OP side_9_turn_test modulo      2          }

        [if]
            {VARIABLE_NUMERICAL_NOT_EQUALS side_9_turn_test 0}
            [then]
                [store_side]
                    side=9
                    variable=side_9_state
                [/store_side]

                [modify_side]
                    side=9
                    {NO_INCOME}
                    gold,village_gold=0,0
                [/modify_side]
            [/then]
            [else]
                {BUG_ON ({VARIABLE_NUMERICAL_NOT_EQUALS side_9_state.side 9}) ("Side 9 economy state lost!")}

                [modify_side]
                    side=9
                    income=$side_9_state.income
                    gold=$side_9_state.gold
                    village_gold=$side_9_state.village_gold
                [/modify_side]

                {CLEAR_VARIABLE side_9_state}
            [/else]
        [/if]

        {CLEAR_VARIABLE side_9_turn_test}
    [/event]

    [side]
        side=10
        team_name=evil
        user_team_name= _ "team_name^Aran-Balgur"
        {CHAOS_FLAG}
        color=yellow

        hidden=yes
        no_leader=yes
        {NO_INCOME}
        gold,village_gold=0,0

        [unit]
            type=Verlissh Matrix Flow System
            x,y=25,23
            max_hitpoints=500
        [/unit]

        [unit]
            type=Verlissh Matrix Flow System
            x,y=28,24
            max_hitpoints=500
        [/unit]

        [unit]
            type=Verlissh Matrix Flow System
            x,y=28,27
            max_hitpoints=500
        [/unit]

        [unit]
            type=Verlissh Matrix Flow System
            x,y=25,29
            max_hitpoints=500
        [/unit]

        [unit]
            type=Verlissh Matrix Flow System
            x,y=22,27
            max_hitpoints=500
        [/unit]

        [unit]
            type=Verlissh Matrix Flow System
            x,y=22,24
            max_hitpoints=500
        [/unit]
    [/side]

    {FORCE_CHANCE_TO_HIT () (type=Verlissh Matrix Flow System) 0 ()}

    {STARTING_VILLAGES_ALL 9}

    {STARTING_VILLAGES 3 5}
    {STARTING_VILLAGES 4 5}
    {STARTING_VILLAGES 5 5}
    {STARTING_VILLAGES 6 5}
    {STARTING_VILLAGES 7 5}
    {STARTING_VILLAGES 8 5}

    #
    # [tunnel] is horribly broken on Wesnoth 1.10 for AI usage, so
    # we need to emulate some of that functionality by teleporting
    # side 9's recruits away on side 9 turn end. This isn't done
    # on recruit events to avoid an infinite recruitment sequence
    # given enough gold.
    #

#define OOH_RECRUITMENT_PORTAL _ID _SOURCE_X_Y _TARGET_X_Y
    [set_variables]
        name=recruitment_portals
        mode=append
        [value]
            id={_ID}
            [source]
                {_SOURCE_X_Y}
            [/source]
            [target]
                {_TARGET_X_Y}
            [/target]
        [/value]
    [/set_variables]
#enddef

    [event]
        name=side 9 turn end
        first_time_only=no
        [filter_condition]
            {VARIABLE_BOOLEAN_EQUALS portal_access_open no}
        [/filter_condition]

        {FOREACH recruitment_portals k}
            [if]
                [have_unit]
                    side=9
                    x=$recruitment_portals[$k].source.x
                    y=$recruitment_portals[$k].source.y
                [/have_unit]
                [then]
                    [teleport]
                        [filter]
                            x=$recruitment_portals[$k].source.x
                            y=$recruitment_portals[$k].source.y
                        [/filter]
                        x=$recruitment_portals[$k].target.x
                        y=$recruitment_portals[$k].target.y
                        check_passability=yes
                        animate=yes
                    [/teleport]

                    {LOG_ATS_DBG ("recruit teleported: ($recruitment_portals[$k].source.x, $recruitment_portals[$k].source.y) -> ($recruitment_portals[$k].target.x, $recruitment_portals[$k].target.y)")}
                [/then]
            [/if]
        {NEXT k}
    [/event]

    [event]
        name=prestart

        {VARIABLE portal_access_open no}

        {RECALL_ANYA}
        {RECALL_DURVAN}
        {RECALL_KYARA}
        {RECALL_HORO}

        # Conceal the portal building in shroud.

        [modify_side]
            side=1,2
            shroud=yes
        [/modify_side]

        [remove_shroud]
            side=1,2
            [not]
                x,y=25,26
                radius=2
            [/not]
        [/remove_shroud]

        # Starting player villages.

        [capture_village]
            side=1
            terrain=*^V*
            x=45-62
            y= 1-13
        [/capture_village]

        [capture_village]
            side=2
            terrain=*^V*
            x=1-14
            y=1-8
        [/capture_village]

        # Access portals.

        {OOH_RECRUITMENT_PORTAL  n (x,y=25,25) (x,y=25,22)}

        {OOH_RECRUITMENT_PORTAL ne (x,y=26,25) (x,y=29,24)}

        {OOH_RECRUITMENT_PORTAL se (x,y=26,26) (x,y=29,28)}

        {OOH_RECRUITMENT_PORTAL  s (x,y=25,27) (x,y=25,30)}

        {OOH_RECRUITMENT_PORTAL sw (x,y=24,26) (x,y=21,28)}

        {OOH_RECRUITMENT_PORTAL nw (x,y=24,25) (x,y=21,24)}

    [/event]

    [event]
        name=start
    [/event]

    [event]
        name=victory

        {CLEAR_VARIABLE portal_access_open,recruitment_portals}
    [/event]
[/scenario]

# kate: indent-mode normal; encoding utf-8; space-indent on;
