#textdomain wesnoth-After_the_Storm

#define Z_DEATHS
    {A_DEATH_GALAS}
    {A_DEATH_ELYNIA}
    {A_DEATH_MAL_KESHAR}
#enddef

#define A_DEATHS
    {A_DEATH_GALAS}
    {A_DEATH_ELYNIA}
    {A_DEATH_MAL_KESHAR}
    {A_DEATH_HORO}
    {A_DEATH_KYARA}
#enddef

#define B_DEATHS
    {B_DEATH_ELYNIA}
    {B_DEATH_MAL_KESHAR}
    {B_DEATH_HORO}
    {B_DEATH_KYARA}
#enddef

#define A_DEATH_ELYNIA
    {HERO_DEATH_BASE
    (Elynia)
    (
        [message]
            speaker=unit
            message= _ "I... fall to the darkness..."
        [/message]
        [message]
            speaker=Galas
            message= _ "Elynia... NO!"
        [/message]
    )
    (
        [message]
            speaker=Mal Keshar
            message= _ "Our mission has failed."
        [/message]
    )}
#enddef

#define A_DEATH_GALAS
    {HERO_DEATH_BASE
    (Galas)
    (
        [message]
            speaker=unit
            message= _ "I... am finished... I’ll finally join Anlindë..."
        [/message]
        [message]
            speaker=Mal Keshar
            message= _ "No! You must resist!"
        [/message]
    )
    (
        [message]
            speaker=Elynia
            message= _ "This... this is a curse!"
        [/message]
    )}
#enddef

#define A_DEATH_MAL_KESHAR
    {HERO_DEATH_BASE
    (Mal Keshar)
    (
        [message]
            speaker=unit
            message= _ "Alas, I can finally depart in peace..."
        [/message]
        [message]
            speaker=Elynia
            message= _ "NO! Malin, we need you for this!"
        [/message]
        [message]
            speaker=unit
            message= _ "It’s too late already..."
        [/message]
    )
    (
        [message]
            speaker=Galas
            message= _ "Now we cannot continue without him. Our mission has failed!"
        [/message]
    )}
#enddef

#define A_DEATH_HORO
    {HERO_DEATH_BASE
    (Horo)
    (
        [message]
            speaker=unit
            message= _ "Ouch. I fall before accomplishing my mission!"
        [/message]
    )
    (
        [message]
            speaker=Elynia
            message= _ "The orcs are now leaderless, and won’t want to help us. We cannot continue without their help!"
        [/message]
    )}
#enddef

#define A_DEATH_KYARA
    {HERO_DEATH_BASE
    (Kyara)
    (
        [message]
            speaker=unit
            message= _ "Alas, it’s the end of the story for me..."
        [/message]
    )
    (
        [message]
            speaker=Galas
            message= _ "We shouldn’t have allowed this to happen." # you don't say...
        [/message]
        [message]
            speaker=Mal Keshar
            message= _ "Ah, too bad for the girl. But she was indeed one of the best archers I have seen."
        [/message]
    )}
#enddef

#define B_DEATH_ELYNIA
    {HERO_DEATH_BASE
    (Elynia)
    (
        [message]
            speaker=unit
            message= _ "I wish... I could be with you... now... Galas..."
        [/message]
        [if]
            [have_unit]
                side=1
                id=Mal Keshar
            [/have_unit]
            [then]
                [message]
                    speaker=Mal Keshar
                    message= _ "No, Elynia! Not you now!"
                [/message]
            [/then]
        [/if]
    )
    (
        [if]
            [have_unit]
                side=1
                id=Mal Keshar
            [/have_unit]
            [then]
                [message]
                    speaker=Mal Keshar
                    message= _ "Now it’s up to me to put an end to this madness... I hope I can manage to do it alone..."
                [/message]
            [/then]
        [/if]
    )}
#enddef

#define B_DEATH_MAL_KESHAR
    {HERO_DEATH_BASE
    (Mal Keshar)
    (
        [message]
            speaker=unit
            message= _ "I go to join my only true friend... now..."
        [/message]
    )
    (
        [message]
            speaker=Elynia
            message= _ "How could I let this happen? NO!"
        [/message]
    )}
#enddef

#define B_DEATH_HORO
    {HERO_DEATH_BASE
    (Horo)
    (
        [message]
            speaker=unit
            message= _ "Ouch. I am done for!"
        [/message]
    )
    (
        [message]
            speaker=Elynia
            message= _ "The orcs are now leaderless, and won’t want to help us. We cannot continue without their help!"
        [/message]
    )}
#enddef

#define B_DEATH_KYARA
    {HERO_DEATH_BASE
    (Kyara)
    (
        [message]
            speaker=unit
            message= _ "Alas, it’s the end of the story for me..."
        [/message]
    )
    (
        [message]
            speaker=Mal Keshar
            message= _ "Ah, too bad for the girl. She was indeed one of the best archers I have seen."
        [/message]
    )}
#enddef

# kate: indent-mode normal; encoding utf-8; space-indent on;
