#textdomain wesnoth-After_the_Storm

[unit_type]
    id=Quenoth Scout
    name= _ "Quenoth Scout"
    image=units/elves-quenoth/scout.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    race=elf
    hitpoints=32
    movement_type=quenothland
    #mostly like a foot Elf, but they are bad at defending in villages
    [defense]
        village=60
        forest=50
    [/defense]
    #they are weak against piercing attacks
    [resistance]
        pierce=120
    [/resistance]
    movement=9
    experience=37
    level=1
    alignment=lawful
    advances_to=Quenoth Rider,Quenoth Horseman
    cost=18
    usage=scout
    description= _ "These elvish scouts move swiftly across sands and forests. Their skill on horseback is virtually unmatched, although they do lack power in combat."
    die_sound=horse-die.ogg
    [attack]
        name=sword
        description= _"sword"
        type=blade
        range=melee
        damage=5
        number=3
        icon=attacks/sword-elven.png
    [/attack]
    [attack]
        name=bow
        description= _"bow"
        type=pierce
        range=ranged
        damage=5
        number=2
        icon=attacks/bow-elven.png
    [/attack]
    {DEFENSE_ANIM "units/elves-quenoth/scout-defend.png" "units/elves-quenoth/scout.png" {SOUND_LIST:HORSE_HIT} }
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/elves-quenoth/scout-moving.png"
        [/frame]
    [/movement_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=125
            image="units/elves-quenoth/scout-idle-1.png"
        [/frame]
        [frame]
            duration=125
            image="units/elves-quenoth/scout-idle-2.png"
        [/frame]
        [frame]
            duration=125
            image="units/elves-quenoth/scout-idle-3.png"
        [/frame]
        [frame]
            duration=125
            image="units/elves-quenoth/scout-idle-4.png"
        [/frame]
        [frame]
            duration=125
            image="units/elves-quenoth/scout-idle-5.png"
        [/frame]
        [frame]
            duration=125
            image="units/elves-quenoth/scout-idle-6.png"
        [/frame]
        [frame]
            duration=125
            image="units/elves-quenoth/scout-idle-7.png"
        [/frame]
        [frame]
            duration=125
            image="units/elves-quenoth/scout-idle-8.png"
        [/frame]
        [frame]
            duration=125
            image="units/elves-quenoth/scout-idle-7.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves-quenoth/scout-idle-8.png"
        [/frame]
        [frame]
            duration=175
            image="units/elves-quenoth/scout-idle-7.png"
        [/frame]
        [frame]
            duration=150
            image="units/elves-quenoth/scout-idle-8.png"
        [/frame]
        [frame]
            duration=175
            image="units/elves-quenoth/scout-idle-9.png"
        [/frame]
        [frame]
            duration=175
            image="units/elves-quenoth/scout-idle-10.png"
        [/frame]
        [frame]
            duration=175
            image="units/elves-quenoth/scout-idle-11.png"
        [/frame]
        [frame]
            duration=175
            image="units/elves-quenoth/scout-idle-12.png"
        [/frame]
        [frame]
            duration=175
            image="units/elves-quenoth/scout-idle-13.png"
        [/frame]
        [frame]
            duration=175
            image="units/elves-quenoth/scout-idle-14.png"
        [/frame]
        [frame]
            duration=175
            image="units/elves-quenoth/scout-idle-15.png"
        [/frame]
        [frame]
            duration=175
            image="units/elves-quenoth/scout-idle-16.png"
        [/frame]
    [/idle_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-400
                end=-300
                image="units/elves-quenoth/scout-attack1.png"
                sound=bow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-400
                end=-300
                image="units/elves-quenoth/scout-attack1.png"
                sound=bow-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-300
            end=-50
            image="units/elves-quenoth/scout-attack2.png"
        [/frame]
        [frame]
            begin=-50
            end=50
            image="units/elves-quenoth/scout-moving.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/elves-quenoth/scout.png"
            sound=horse-elf-canter.wav
        [/frame]
        [frame]
            begin=-175
            end=-100
            image="units/elves-quenoth/scout-moving.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/elves-quenoth/scout-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/elves-quenoth/scout-attack.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/elves-quenoth/scout-moving.png"
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/elves-quenoth/scout.png"
        [/frame]
    [/attack_anim]
[/unit_type]
