#textdomain wesnoth-After_the_Storm

[scenario]
    id="02_High_Pass"
    name= _ "High Pass"
    {MAP 02_High_Pass.map}
    {TURNS 37 35 33}
    next_scenario="03_Civil_War"

    {A_DEATHS}

    {SCENARIO_MUSIC       "wanderer.ogg"     }
    {EXTRA_SCENARIO_MUSIC "nunc_dimittis.ogg"}

    {STORYTXT_HIGH_PASS}

    {DUSK1}
    {SHORTDARK}
    {DAWN2}
    {MORNING2}
    {MIDDAY2}
    {AFTERNOON2}
    {DUSK2}
    {LONGDARK1}
    {LONGDARK2}
    {LONGDARK3}
    {LONGDARK4}
    {DAWN1}
    {MORNING1}
    {MIDDAY1}
    {AFTERNOON1}

    # wmllint: validate-off
    [side]
        save_id=player

        controller=human
        side=1
        team_name=player
        user_team_name= _ "team_name^Galas"

        shroud=yes
        fog=yes
        {GOLD 320 280 240}

        # wmllint: recognize Galas
        {CHARACTER_STATS_GALAS}
    [/side]
    # wmllint: validate-on

    [side]
        side=2
        team_name=undead
        user_team_name= _ "team_name^Undead"
        {CHAOS_FLAG}

        recruit="Ghoul, Walking Corpse, Ghost, Skeleton, Skeleton Archer"
        {GOLD 170 190 220}
        {INCOME 3 4 6}

        [ai]
            [target]
                id=Elynia
                value=10.00 # they really want to kill her
            [/target]
            [target]
                id=Galas
                value=3.00
            [/target]
            [target]
                id=Mal Keshar
                value=6.00
            [/target]

            {ATTACK_DEPTH 2 3 4}
            village_value=0.10
            leader_value=4.00
        [/ai]
        [ai]
            time_of_day=morning1,midday1,afternoon1,morning2,midday2,afternoon2
            aggression=0.80
            caution=0.30
        [/ai]
        [ai]
            time_of_day=dawn1,dusk1,dawn2,dusk2
            aggression=0.90
            caution=0.14
        [/ai]
        [ai]
            time_of_day=short_dark,long_dark1,long_dark2,long_dark3,long_dark4
            aggression=1.00
            caution=0.00
        [/ai]

        canrecruit=yes
        id=Mal Ciphan
        name= _ "Mal Ciphan"
        type=Lich
        unrenamable=yes
        [modifications]
            {TRAIT_UNDEAD}
        [/modifications]

        [unit]
            x,y=24,13
            type=Bone Shooter
            ai_special=guardian
            facing=sw
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_UNDEAD}
            [/modifications]
        [/unit]

        [unit]
            x,y=21,18
            type=Revenant
            ai_special=guardian
            facing=sw
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_UNDEAD}
            [/modifications]
        [/unit]

        [unit]
            x,y=28,9
            type=Deathblade
            ai_special=guardian
            facing=se
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_UNDEAD}
            [/modifications]
        [/unit]

        [unit]
            x,y=25,7
            type=Deathblade
            ai_special=guardian
            facing=sw
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_UNDEAD}
            [/modifications]
        [/unit]

        [unit]
            x,y=36,4
            type=Deathblade
            ai_special=guardian
            facing=sw
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_UNDEAD}
            [/modifications]
        [/unit]

        [unit]
            x,y=35,9
            type=Banebow
            ai_special=guardian
            facing=se
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_UNDEAD}
            [/modifications]
        [/unit]
    [/side]

    [side]
        side=3
        team_name=undead
        user_team_name= _ "team_name^Undead"
        {CHAOS_FLAG}

        recruit="Skeleton, Skeleton Archer, Walking Corpse"
        {GOLD 160 190 220}

        [ai]
            [target]
                id=Elynia
                value=3.00
            [/target]
            [target]
                id=Galas
                value=10.00 # he really wants to kill Galas
            [/target]
            [target]
                id=Mal Keshar
                value=6.00
            [/target]

            {ATTACK_DEPTH 3 4 4}
            village_value=0.0
            leader_value=10.0
        [/ai]
        [ai]
            time_of_day=morning1,midday1,afternoon1,morning2,midday2,afternoon2
            aggression=0.80
            caution=0.15
        [/ai]
        [ai]
            time_of_day=dawn1,dusk1,dawn2,dusk2
            aggression=0.90
            caution=0.10
        [/ai]
        [ai]
            time_of_day=short_dark,long_dark1,long_dark2,long_dark3,long_dark4
            aggression=1.00
            caution=0.00
        [/ai]

        canrecruit=yes
        facing=sw
        id=Nyadien
        name= _ "Nyadien"
        type=Draug
        unrenamable=yes
        [modifications]
            {TRAIT_UNDEAD}
        [/modifications]
    [/side]

    [side]
        controller=null
        no_leader=yes
        side=4
        team_name=player
    [/side]

    {STARTING_VILLAGES 1 5}
    {STARTING_VILLAGES 3 6}
    {STARTING_VILLAGES 2 7}

    {PLACE_IMAGE ("items/bonestack.png") 27  7}

    [event]
        name=prestart

        [allow_recruit]
            side=1
            type="Ghost,Dark Adept"
        [/allow_recruit]

        # wmllint: recognize Elynia
        {RECALL_ELYNIA_AT_LOCATION      4 16}
        # wmllint: recognize Mal Keshar
        {RECALL_MAL_KESHAR_AT_LOCATION  3 18}

        {MODIFY_UNIT (side=1) facing se}

        {OBJECTIVES (
            {OBJECTIVE_VICTORY ( _ "Defeat all enemy leaders")}

            {OBJECTIVE_DEFEAT  ( _ "Death of Galas")}
            {OBJECTIVE_DEFEAT  ( _ "Death of Elynia")}
            {OBJECTIVE_DEFEAT  ( _ "Death of Mal Keshar")}

            {TURNS_RUN_OUT}

            {OBJECTIVE_CARRYOVER}
        )}
    [/event]

    [event]
        name=start

        [message]
            speaker="Galas"
            message= _ "This place gives me chills. Perhaps this path was not a good choice after all."
        [/message]

        [message]
            speaker="Mal Keshar"
            # wmllint: local spelling Pah
            message= _ "Pah. Leave your worries behind, there is nothing to..."
        [/message]

        [sound]
            name="zombie-attack.wav"
        [/sound]

        [unit]
            type="Necrophage"
            side="2"
            x,y="6","15"
            facing="sw"
            animate=yes
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_UNDEAD}
            [/modifications]
        [/unit]

        [unit]
            type="Necrophage"
            side="2"
            x,y="7","17"
            facing="sw"
            animate=yes
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_UNDEAD}
            [/modifications]
        [/unit]

        [message]
            type="Necrophage"
            message= _ "Groaaar!!!" # wmllint: no spellcheck
        [/message]

        [message]
            speaker="Mal Keshar"
            message= _ "... and who called upon you?"
        [/message]

        [message]
            speaker="Elynia"
            message= _ "So it is as the townsfolk warned us — this pass is infested with undead. We’ll have to give them a final rest before we can proceed any further."
        [/message]

        [message]
            speaker="Mal Keshar"
            message= _ "Aww, this will be boring."
        [/message]
    [/event]

    [event]
        {SIGHTED_SUF_BY_PLAYER (id=Mal Ciphan)}

        [message]
            speaker="Mal Ciphan"
            message= _ "Ahhh, the traitors! You are not going to see the sunlight anymore, for I shall feed your impious souls to Yechnagoth!"
        [/message]

        [message]
            speaker="Mal Keshar"
            message= _ "The same old tune. These goons should seek a new job or something."
        [/message]
    [/event]

    [event]
        {SIGHTED_SUF_BY_PLAYER (id=Nyadien)}

        [message]
            speaker="Nyadien"
            message= _ "You, Galas! You abandoned us in the valley! You let all of us die!"
        [/message]

        [message]
            speaker="Galas"
            message= _ "Nyadien? But..."
        [/message]

        [message]
            speaker="Mal Keshar"
            message= _ "Do you know him?"
        [/message]

        [message]
            speaker="Galas"
            message= _ "Yes, he was the leader of the patrol group that replaced mine just before the loyalists invaded our valley."
        [/message]

        [message]
            speaker="Elynia"
            message= _ "Elf, know that Galas did not have the power to stop that invasion, but the Chaos Empire no longer has a leader. There is nothing that should force you to roam this world anymore!"
        [/message]

        [message]
            speaker="Nyadien"
            message= _ "I will personally make sure you don’t go unpunished, traitor!"
        [/message]

        [message]
            speaker="Mal Keshar"
            message= _ "It is a waste of time to try to deal with this pile of bones. The necromancer who raised him probably used some malign spell to infect his soul with hatred towards every elf who outlived him."
        [/message]
    [/event]

    [event]
        name=enemies defeated

        {ENDLEVEL_VICTORY yes}
    [/event]

    [event]
        name=last breath
        [filter]
            id=Mal Ciphan
        [/filter]

        [message]
            speaker="unit"
            message= _ "I am vanquished, but I curse your race to never see a day of peace or joy again for the rest of eternity!"
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            id=Mal Ciphan
        [/filter]

        [message]
            speaker="Mal Keshar"
            message= _ "So many times... I forget how many times they have said that."
        [/message]
    [/event]
[/scenario]

# kate: indent-mode normal; encoding utf-8; space-indent on;
