#textdomain wesnoth-After_the_Storm

[scenario]
    id=09_The_Triad_part_3
    name= _ "The Triad — Part 3"
    {MAP 09_The_Triad_part_3.map}
    {TURNS 30 28 26}
    next_scenario="10_Tears"
    victory_when_enemies_defeated=no

    disallow_recall=yes

    {A_DEATHS}

    {SCENARIO_MUSIC "siege_of_laurelmor.ogg"}

    {INDOORS} {SCHEDULE_LIGHTING -40 -40 -10}

    {SPAWN_CONTROLLER}

    # wmllint: validate-off
    [side]
        save_id=player

        controller=human
        side=1
        team_name=player
        user_team_name= _ "team_name^Galas"
        shroud=yes

        {NO_ECONOMY}

        # wmllint: recognize Galas
        {CHARACTER_STATS_GALAS}
    [/side]
    # wmllint: validate-on

    [side]
        side=2
        team_name=foe
        user_team_name= _ "team_name^Enemies"
        color=yellow
        {CHAOS_FLAG}
        hidden=yes

        controller=null

        no_leader=yes
        {NO_ECONOMY}
    [/side]

    [side]
        side=3
        team_name=foe
        user_team_name= _ "team_name^Enemies"
        color=white
        {CHAOS_FLAG}
        hidden=yes

        no_leader=yes
        {NO_ECONOMY}

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT aggression 200.00}
            {AI_SIMPLE_ALWAYS_ASPECT caution      0.00}
            {AI_SIMPLE_ALWAYS_ASPECT grouping       no}
            {AI_SIMPLE_ALWAYS_ASPECT passive_leader no}
            {AI_SIMPLE_ALWAYS_ASPECT attack_depth ({DIFF 2 2 3})}
        [/ai]
    [/side]

    [side]
        side=4
        team_name=foe
        user_team_name= _ "team_name^Enemies"
        {CHAOS_FLAG}
        hidden=yes

        no_leader=yes
        {NO_ECONOMY}
    [/side]

    {FORCE_CHANCE_TO_HIT (side=1) (id=Elyssa) 0 ()}

    #
    # Glyphs
    #

    {OBJ_HEALING_GLYPH 25 12}
    {OBJ_HEALING_GLYPH 18 19}

    #
    # Enemy spawners
    #

#define TT_EASY_SPAWNS
    type="Shaxthal Drone"
#enddef

#define TT_MEDIUM_SPAWNS
    {QUANTITY type
    ("Shaxthal Drone")
    ("Shaxthal Drone,Shaxthal Drone,Shaxthal Sentry Drone,Shaxthal Drone,Shaxthal Drone")
    ("Shaxthal Drone,Shaxthal Drone,Shaxthal Sentry Drone")
    }
#enddef

#define TT_HARD_SPAWNS
    {QUANTITY type
    ("Shaxthal Drone,Shaxthal Drone,Shaxthal Sentry Drone,Shaxthal Drone,Shaxthal Drone")
    ("Shaxthal Drone,Shaxthal Drone,Shaxthal Sentry Drone,Shaxthal Drone,Shaxthal Drone,Shaxthal Enforcer Drone,Shaxthal Drone")
    ("Shaxthal Drone,Shaxthal Drone,Shaxthal Sentry Drone,Shaxthal Sentry Drone,Shaxthal Sentry Drone,Shaxthal Enforcer Drone,Shaxthal Drone")
    }
#enddef

    # Initial area near Elyssa's chamber

    {TIMED_DRONE_SPAWNER 10 ({TT_HARD_SPAWNS})   3 31 25}
    {TIMED_DRONE_SPAWNER 4  ({TT_EASY_SPAWNS})   3 39 20}
    {TIMED_DRONE_SPAWNER 4  ({TT_EASY_SPAWNS})   3 42 21}
    {TIMED_DRONE_SPAWNER 4  ({TT_MEDIUM_SPAWNS}) 3 38 17}

    # Central respawn chamber

    {TIMED_DRONE_SPAWNER 6  ({TT_MEDIUM_SPAWNS}) 3 19 15}
    {TIMED_DRONE_SPAWNER 6  ({TT_MEDIUM_SPAWNS}) 3 31 15}
    {TIMED_DRONE_SPAWNER 6  ({TT_MEDIUM_SPAWNS}) 3 31 10}
    {TIMED_DRONE_SPAWNER 6  ({TT_MEDIUM_SPAWNS}) 3 25  7}

    # NW corridor adjacent to hive

    {TIMED_DRONE_SPAWNER 4  ({TT_EASY_SPAWNS})   3 19  5}
    {TIMED_DRONE_SPAWNER 6  ({TT_MEDIUM_SPAWNS}) 3 10  5}
    {TIMED_DRONE_SPAWNER 3  ({TT_EASY_SPAWNS})   3  5  5}
    {TIMED_DRONE_SPAWNER 5  ({TT_EASY_SPAWNS})   3  4  6}
    {TIMED_DRONE_SPAWNER 5  ({TT_MEDIUM_SPAWNS}) 3  3  8}

    # Artifical evolution laboratory - main pool (Kalari facility I)

    {ONETIME_DRONE_SPAWNER  ({TT_HARD_SPAWNS})   3 10 14}
    {ONETIME_DRONE_SPAWNER  ({TT_MEDIUM_SPAWNS}) 3 13 16}
    {ONETIME_DRONE_SPAWNER  ({TT_EASY_SPAWNS})   3 14 16}
    {ONETIME_DRONE_SPAWNER  ({TT_EASY_SPAWNS})   3 21 20}
    {ONETIME_DRONE_SPAWNER  ({TT_EASY_SPAWNS})   3 18 20}

#undef TT_EASY_SPAWNS
#undef TT_MEDIUM_SPAWNS
#undef TT_HARD_SPAWNS

    {PLACE_IMAGE ("items/gohere.png") 13 20}
    {PLACE_IMAGE ("items/gohere.png") 14 20}

    [event]
        name=prestart

        [modify_side]
            side=1
            gold=0
        [/modify_side]

        # wmllint: recognize Elynia
        {RECALL_ELYNIA}
        # wmllint: recognize Mal Keshar
        {RECALL_MAL_KESHAR}

        {MODIFY_UNIT side=1 facing nw}

        {OBJECTIVES (
            victory_string= _ "Current Objectives:"
            {OBJECTIVE_VICTORY ( _ "Find the exit")}

            {OBJECTIVE_DEFEAT  ( _ "Death of Galas")}
            {OBJECTIVE_DEFEAT  ( _ "Death of Elynia")}
            {OBJECTIVE_DEFEAT  ( _ "Death of Mal Keshar")}

            {TURNS_RUN_OUT}

            {NO_UNIT_CARRYOVER_NOTE}
        )}

        #[remove_shroud]
        #    side=1
        #    x=13-14
        #    y=20
        #    radius=1
        #[/remove_shroud]
    [/event]

#define ELYSSA_VOICE MSG
    [message]
        caption= _ "Elyssa"
        speaker=narrator
        #image="portraits/elyssa.png"
        image=wesnoth-icon.png
        message="<i>"+{MSG}+"</i>" # wmllint: ignore
    [/message]
#enddef

    [event]
        name=start
        [message]
            speaker=Mal Keshar
            message= _ "What now?"
        [/message]

        [message]
            speaker=Galas
            message= _ "Let’s keep moving. This path should take us closer to the surface. Elynia—"
        [/message]

        [message]
            speaker=Elynia
            # po: The otherwise intended end of the sentece is "don't worry about me".
            message= _ "I’m fine. Don’t—"
        [/message]

        {ELYSSA_VOICE ( _ "You haven’t escaped, you know.")}

        [message]
            speaker=Galas
            message= _ "MOVE!"
        [/message]
    [/event]

    [event]
        name=turn 2

        {ELYSSA_VOICE ( _ "It would have been so much better for all of you to give up...")}
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x=20-30
            y= 8-14
        [/filter]

        {MOVE_UNIT (id=Galas) 25 14}
        [redraw][/redraw]
        {MOVE_UNIT (id=Elynia) 24 13}
        [redraw][/redraw]
        {MOVE_UNIT (id=Mal Keshar) 26 13}
        [redraw][/redraw]

        [store_unit]
            [filter]
                side=1
                {NOT_ON_RECALL_LIST}
            [/filter]
            variable=side1_store
        [/store_unit]

        {FOREACH side1_store k}
            [set_variables]
                mode=merge
                name="side1_store[$k]"
                [value]
                    attacks_left="$side1_store[$k].max_attacks"
                    moves="$side1_store[$k].max_moves"
                [/value]
            [/set_variables]

            [unstore_unit]
                variable="side1_store[$k]"
                find_vacant=no
            [/unstore_unit]
        {NEXT k}

        {CLEAR_VARIABLE side1_store}

        [message]
            speaker=Galas
            message= _ "Uria be damned! It’s a dead end."
        [/message]

        [message]
            speaker=Mal Keshar
            message= _ "It’s more like a trap—"
        [/message]

        {ELYSSA_VOICE ( _ "You cannot blame me. I gave you one opportunity to reconsider your actions — I’m not giving you another.")}

        {MODIFY_UNIT (x,y=19,15) facing ne}
        {MODIFY_UNIT (x,y=31,15) facing nw}
        {MODIFY_UNIT (x,y=31,10) facing sw}
        {MODIFY_UNIT (x,y=25, 7) facing se}

        {QUAKE "cave-in.ogg"}

        [terrain]
            x=30,25,20,20,30
            y=10, 8,10,14,14
            terrain=Ur
        [/terrain]

        [sound]
            name="ambient/shaxthal-roam-1.ogg,ambient/shaxthal-roam-2.ogg"
        [/sound]

        [redraw]
            side=1
        [/redraw]

        {ELYSSA_VOICE ( _ "You made a big mistake in leaving the safety of the Northlands...")}

        [sound]
            name="cave-in.ogg"
        [/sound]

        [terrain]
            x,y=25,16
            terrain=Xuc
        [/terrain]

        [redraw]
            side=1
        [/redraw]

        {QUAKE "thunderstick.ogg"}

        [message]
            speaker=Mal Keshar
            message= _ "—I knew it. We are trapped."
        [/message]

        [message]
            speaker=Elynia
            message= _ "Not quite — there’s a crack in one of the hive walls and a larger cave behind!"
        [/message]

        [remove_shroud]
            x=17-18,19-20,21
            y= 8-10, 9-11,10-12
            side=1
        [/remove_shroud]

        [redraw]
            side=1
        [/redraw]

        {SCROLL_TO_LOCATION_AND_RETURN_TO_PRIMARY_UNIT 17 9}

        [redraw][/redraw]

        [event]
            name="turn $($turn_number + 1)"
            delayed_variable_substitution=no

            [message]
                speaker=Galas
                message= _ "Elynia, the teleportation spell you learned back in Zocthanol! Can you use it?"
            [/message]

            [message]
                speaker=Elynia
                message= _ "I— I don’t know, it wasn’t really made to transport more than one person, and I haven’t had a chance to try it myself."
            [/message]

            [message]
                speaker=Mal Keshar
                message= _ "This is probably not the best moment to fiddle with unpredictable kinds of magic like this. As I said before, many mages have disappeared attempting to master the power of teleportation."
            [/message]

            [message]
                speaker=Galas
                message= _ "It’s an option we should consider, nonetheless."
            [/message]
        [/event]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x= 7-14
            y=20-23
        [/filter]

        {ENDLEVEL_QUIET}
    [/event]

    [event]
        name=victory

        {LOCK_VIEW}

        #
        # This is it.
        #

        [kill]
            side=3
            fire_event=no
            animate=no
        [/kill]

        {RESET_UNIT_STATUSES (
            side=1
            {NOT_ON_RECALL_LIST}
        )}

        [hide_unit]
            side=1
        [/hide_unit]

        [capture_village][/capture_village]

        [remove_item][/remove_item]

        {FADE_TO_BLACK}

        [place_shroud]
            side=1
        [/place_shroud]

        [redraw]
            side=1
        [/redraw]

        [scroll_to]
            x,y=6,23
            {WARP}
        [/scroll_to]

        [delay]
            time=1000
        [/delay]

        [modify_side]
            side=1
            shroud=no
        [/modify_side]

        {FADE_IN}

        [teleport]
            [filter]
                id=Elynia
            [/filter]
            x=8
            y=22
        [/teleport]

        [teleport]
            [filter]
                id=Mal Keshar
            [/filter]
            x=9
            y=23
        [/teleport]

        [teleport]
            [filter]
                id=Galas
            [/filter]
            x=10
            y=22
        [/teleport]

        [unhide_unit]
            side=1
        [/unhide_unit]

        [delay]
            time=500
        [/delay]

        [message]
            speaker=Mal Keshar
            message= _ "This place stinks of <i>blood</i>. What’s with that water?"
        [/message]

        [message]
            speaker=Galas
            message= _ "I fear that it is blood, in fact. Something is really wrong. No single creature could contain so much of it. Who knows what kinds of twisted experiments these fiends do in here?"
        [/message]

        [message]
            speaker=Elynia
            message= _ "There appears to be truly no way out of this chamber. What will we do?"
        [/message]

        [message]
            speaker=Mal Keshar
            message= _ "I’ll tell you what we’ll do. We’ll destroy this place from the inside and escape somehow!"
        [/message]

        [message]
            speaker=Galas
            # po: The otherwise intended end of the sentence is: "try that teleportation spell now!".
            message= _ "Or we could take the risk and—"
        [/message]

        [fade_out_music]
            duration=500
        [/fade_out_music]

        # wmllint: recognize Elyssa
        [unit]
            animate=yes
            side=2
            facing=sw
            x,y=11,22
            canrecruit=yes
            {CHARACTER_STATS_ELYSSA}
        [/unit]

        [animate_attack]
            [filter]
                id=Galas
            [/filter]
            [filter_second]
                id=Elyssa
            [/filter_second]
            [filter_attack]
                range=melee
                name=sword
            [/filter_attack]
            kill=no
            animate=yes
            fire_event=no
            amount="$this_unit.hitpoints"
        [/animate_attack]

        [object]
            silent=yes
            [filter]
                id=Galas
            [/filter]
            [effect]
                apply_to=image_mod
                add="R(127)"
            [/effect]
        [/object]

        {MODIFY_UNIT (
            id=Elynia
            [or]
                id=Mal Keshar
            [/or]
        ) facing ne}

        [message]
            speaker=Elynia
            message= _ "G—"
        [/message]

        [animate_attack]
            [filter]
                id=Galas
            [/filter]
            [filter_second]
                id=Elyssa
            [/filter_second]
            [filter_attack]
                range=melee
                name=sword
            [/filter_attack]
            kill=yes
            animate=yes
            fire_event=no
            amount="$this_unit.hitpoints"
        [/animate_attack]

        [if]
            [have_unit]
                id=Galas
            [/have_unit]
            [then]
                {BUG ()}

                [kill]
                    id=Galas
                    animate=yes
                    fire_event=no
                [/kill]
            [/then]
        [/if]

        [delay]
            time=750
        [/delay]

        [message]
            speaker=Elynia
            message= _ "NO!"
        [/message]

        [delay]
            time=1500
        [/delay]

        [message]
            speaker=Elyssa
            message= _ "You opted for doing this the hard way after all, didn’t you? The staff — hand it over now."
        [/message]

        [message]
            speaker=Elynia
            message= _ "—I..."
        [/message]

        [message]
            speaker=Mal Keshar
            message= _ "Elynia... we must..."
        [/message]

        [delay]
            time=1000
        [/delay]

        [message]
            speaker=Elynia
            message= _ "—I... I damn you, Elyssa... I damn you and your kind... for this..."
        [/message]

        [message]
            speaker=Elyssa
            message= _ "My dear, we were damned long ago by the First Gods. Your petty words are irrelevant in the grand scheme of things. Hand it over now."
        [/message]

        [message]
            speaker=Mal Keshar
            message=_ "Elynia, the spell!"
        [/message]

        [delay]
            time=1000
        [/delay]

        [message]
            speaker=Elyssa
            message= _ "Don’t you see? We aren’t that different after all. You just lost your new beloved just like you lost Argan. I lost <i>much</i> more than that long ago. You think he was important because you never had to endure the cruelty and ruthlessness of the beasts that dare call themselves ‘humans’."
        [/message]

        [message]
            speaker=Mal Keshar
            message= _ "Don’t listen to her, Elynia!"
        [/message]

        [delay]
            time=1000
        [/delay]

        {THUNDER (
            {PUT_TO_RECALL_LIST (
                id=Elynia
                [or]
                    id=Mal Keshar
                [/or]
            )}
        )}

        [delay]
            time=2000
        [/delay]

        [message]
            speaker=Elyssa
            message= _ "What a waste. Don’t think you’ll find anything of value in Wesmere."
        [/message]

        {MOVE_UNIT (id=Elyssa) 14 20}

        [kill]
            id=Elyssa
            animate,fire_event=no,no
        [/kill]

        {FADE_TO_BLACK}

        {UNLOCK_VIEW}
    [/event]

    [event]
        name=time over

        [message]
            speaker=Mal Keshar
            message= _ "That’s it. We are now utterly lost in these infested passages... and the worst part is that I was the one who devised this disastrous rescue plan."
        [/message]
    [/event]

#undef ELYSSA_VOICE
[/scenario]

# kate: indent-mode normal; encoding utf-8; space-indent on;
