#textdomain wesnoth-After_the_Storm
#  $Id$
#
#  After the Storm
#  Copyright (C) 2008 by Ignacio R. Morelle "Shadow Master"
#  <shadowm2006@gmail.com>
#
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 2 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

[unit_type]
    id=Faerie Sprite
    name= _ "Sprite"
    race=fairy
    gender=female
    image="units/fairies/sprite.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/Kitty/elvish-shaman.png"
    hitpoints=22
    movement_type=woodlandfloat
    {FAERIE_MOVETYPE}
    movement=5
    level=1
    alignment=lawful
    experience=70
    advances_to=Fire Faerie
    cost=21
    usage=archer
    undead_variation=null
    description= _ "Mischievous in nature, these fiery fairies are pranksters at heart, with a sense of humor that is often called nymph-like. While their command of the fire element remains a mystery, it has been rumored that these fairies are cousins to the imp.  However, their protective attitude of nature and whimsical personality make them fast friends to the elves."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM_RANGE "units/fairies/sprite.png" "units/fairies/sprite.png" {SOUND_LIST:ELF_FEMALE_HIT} melee }
    {DEFENSE_ANIM_ELVEN_RANGE "units/fairies/sprite.png" "units/fairies/sprite.png" {SOUND_LIST:ELF_FEMALE_HIT} ranged }
    [attack]
        name=fire aura
        description= _ "fire aura"
        icon=attacks/aura-fire.png
        type=fire
        range=melee
        damage=2
        number=3
    [/attack]
    [attack]
        name=mystic fire
        description= _ "mystic fire"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=5
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fire aura
        [/filter_attack]
        {MELEE_FRAME_FIRE_AURA "units/fairies/sprite.png" "units/fairies/sprite.png"}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=mystic fire
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_MYSTIC_FIRE}
        [frame]
            begin=-400
            end=-350
        [/frame]
        [frame]
            begin=-350
            end=-200
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=0
                sound=torch-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-300
                end=0
                sound=torch.ogg
            [/frame]
        [/else]
        [frame]
            begin=0
            end=50
        [/frame]
    [/attack_anim]
[/unit_type]
