#textdomain wesnoth-After_the_Storm

#ifdef CAMPAIGN_AFTER_THE_STORM_EPISODE_III
[unit_type]
    id=Lumeril Glyph
    name= _ "Lumeril Glyph"
    race=spirit
    image="units/spirits/lumeril-glyph.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    halo="halo/illuminates-aura.png~O(0.4)"
    hitpoints=77
    movement_type=none
    [resistance]
        blade=0
        pierce=0
        impact=0
        fire=0
        cold=0
        # Unusually low resistance to arcane damage.
        arcane=150
    [/resistance]
    movement=0
    {NO_EXPERIENCE_UNIT}
    # This unit is only level zero so units don't gain any
    # experience from surviving an attack.
    level=0
    zoc=yes
    alignment=neutral
    cost=660
    usage=archer
    hide_help=true
    [abilities]
        {ABILITY_ILLUMINATES}
    [/abilities]
    description= _ "This ethereal projection was created by a powerful demoness, follower of the path of Light. As such, it is invulnerable to physical attacks."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ILLUMINATES}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_MAGICAL}

    [defend]
        start_time=-125
        sound_start_time=-26
        auto_hflip=no

        [frame]
            duration=250
            image="units/spirits/lumeril-glyph.png"
        [/frame]

        [sound_frame]
            duration=1
        [/sound_frame]

        [if]
            hits=hit
            [sound_frame]
                duration=150
                sound=gate.ogg
            [/sound_frame]
        [/if]
        [else]
            hits=miss,kill
            [sound_frame]
                duration=150
            [/sound_frame]
        [/else]
    [/defend]

    [attack]
        name=lightbeam
        description=_"lightbeam" # wmllint: no spellcheck
        type=arcane
        range=melee
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=14
        number=1
    [/attack]
    [attack]
        name=lightbeam
        description=_"lightbeam" # wmllint: no spellcheck
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=14
        number=1
    [/attack]

    [attack_anim]
        [filter_attack]
            name=lightbeam
        [/filter_attack]

        offset=0.0
        auto_hflip=no

        {MISSILE_FRAME_LIGHT_BEAM}

        [frame]
            begin=-76
            end=-75
        [/frame]

        [if]
            hits=yes
            [frame]
                begin=-75
                end=0
                sound={SOUND_LIST:HOLY}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=0
                sound={SOUND_LIST:HOLY_MISS}
            [/frame]
        [/else]
    [/attack_anim]

    [standing_anim]
        start_time=0
        auto_hflip=no
        [frame]
            duration=100
            image="units/spirits/lumeril-glyph.png"
        [/frame]
    [/standing_anim]

    [death]
        start_time=0
        auto_hflip=no
        [frame]
            duration=200
            image="units/spirits/lumeril-glyph-break-1.png"
        [/frame]
        [frame]
            duration=250
            image="units/spirits/lumeril-glyph-break-2.png"
        [/frame]
        [frame]
            duration=275
            image="units/spirits/lumeril-glyph-break-3.png"
        [/frame]
        [frame]
            duration=250
            image="units/spirits/lumeril-glyph-break-4.png"
            sound=break.ogg
        [/frame]
        [frame]
            duration=250
            image="units/spirits/lumeril-glyph-break-5.png"
        [/frame]
    [/death]
[/unit_type]
#endif

# kate: indent-mode normal; encoding utf-8; space-indent on;
