#textdomain wesnoth-After_the_Storm

#define CHARACTER_STATS_ELYNIA
    id=Elynia
    name= _ "Elynia"
    type=Sylvan Warden
    profile="portraits/elynia.png"
    canrecruit=yes
    unrenamable=yes
    [modifications]
        {TRAIT_RESILIENT}
        {TRAIT_DEXTROUS}
    [/modifications]
#enddef

#define CHARACTER_STATS_DURVAN
    id=Durvan
    name= _ "Durvan"
    type=Trapper
    #profile="portraits/durvan.png"
    {IS_HERO}
    upkeep=free
    unrenamable=yes
    [modifications]
        {TRAIT_RESILIENT}
        {TRAIT_STRONG}
    [/modifications]
#enddef

#define CHARACTER_STATS_ANYA
    id=Anya
    name= _ "Anya"
    type=Night Nymph
    gender=female
    #profile="portraits/anya.png"
    {IS_HERO}
    upkeep=free
    unrenamable=yes
    [modifications]
        {TRAIT_QUICK}
        {TRAIT_RESILIENT}
    [/modifications]
#enddef

#define CHARACTER_STATS_IRYLEAN
    id=Irylean
    name= _ "Irylean"
    type=Necromancer
    gender=female
    #profile="portraits/irylean.png"
    {IS_HERO}
    upkeep=free
    unrenamable=yes
    [modifications]
        {TRAIT_STRONG}
        {TRAIT_INTELLIGENT}
        {TEAM_COLOR_OVERRIDE () white}
    [/modifications]
#enddef

#define CHARACTER_STATS_UNARYE
    id=Unarye
    name= _ "Unarye"
    type=Elvish Avatar
    #profile="portraits/unarye.png"
    profile="portraits/elves/sylph.png~RIGHT()"
    unrenamable=yes
    [modifications]
        {TRAIT_DEXTROUS}
        {TRAIT_INTELLIGENT}
    [/modifications]
#enddef

#define CHARACTER_STATS_GENERAL_BARDYL
    id=General Bardyl
    name= _ "General Bardyl"
    type=Aragwaith Ancient Banner
    #profile="portraits/bardyl.png"
    canrecruit=yes
    unrenamable=yes
    [modifications]
        {TRAIT_STRONG}
        {TRAIT_RESILIENT}
    [/modifications]
#enddef

#define CHARACTER_STATS_KYARA
    id=Kyara
    name= _ "Kyara"
    type=Quenoth Sharpshooter
    gender=female
    # The placeholder graphics look awful and robotic...
    # variation=kyara
    #profile="portraits/kyara.png"
    {IS_HERO}
    upkeep=free
    unrenamable=yes
    [modifications]
        {TRAIT_STRONG}
        {TRAIT_DEXTROUS}
    [/modifications]
#enddef

#define CHARACTER_STATS_HORO
    id=Horo
    name= _ "Horo"
    type=Orcish Warlord
    #profile="portraits/horo.png"
    profile="portraits/orcs/grunt-5.png"
    {IS_HERO}
    upkeep=free
    unrenamable=yes
    [modifications]
        {TRAIT_QUICK}
        {TRAIT_RESILIENT}
    [/modifications]
#enddef

#define CHARACTER_STATS_CRON
    id=Cron
    name= _ "Cron"
    type=Troll Warrior
    #profile="portraits/cron.png"
    {IS_HERO}
    upkeep=yes
    unrenamable=yes
    [modifications]
        {TRAIT_INTELLIGENT}
        {TRAIT_RESILIENT}
    [/modifications]
#enddef

#define CHARACTER_STATS_ERGEA
    id=Ergea
    name= _ "Ergea"
    type=Demon Hellbent Tide
    #profile="portraits/ergea.png"
    {IS_HERO}
    upkeep=yes
    unrenamable=yes
    [modifications]
        {TRAIT_STRONG}
        {TRAIT_RESILIENT}
    [/modifications]
#enddef

#define RECALL_DURVAN
    {RECALL_CHARACTER ({CHARACTER_STATS_DURVAN})}
#enddef
#define RECALL_DURVAN_AT_LOCATION _X _Y
    {RECALL_CHARACTER_AT ({CHARACTER_STATS_DURVAN}) ({_X}) ({_Y})}
#enddef

#define RECALL_ANYA
    {RECALL_CHARACTER ({CHARACTER_STATS_ANYA})}
#enddef
#define RECALL_ANYA_AT_LOCATION _X _Y
    {RECALL_CHARACTER_AT ({CHARACTER_STATS_ANYA}) ({_X}) ({_Y})}
#enddef

#define RECALL_IRYLEAN
    {RECALL_CHARACTER ({CHARACTER_STATS_IRYLEAN})}
#enddef
#define RECALL_IRYLEAN_AT_LOCATION _X _Y
    {RECALL_CHARACTER_AT ({CHARACTER_STATS_IRYLEAN}) ({_X}) ({_Y})}
#enddef

#define RECALL_KYARA
    {RECALL_CHARACTER ({CHARACTER_STATS_KYARA})}
    [+unit]
        side=2
    [/unit]
#enddef
#define RECALL_KYARA_AT_LOCATION _X _Y
    {RECALL_CHARACTER_AT ({CHARACTER_STATS_KYARA}) ({_X}) ({_Y})}
    [+unit]
        side=2
    [/unit]
#enddef

#define RECALL_HORO
    {RECALL_CHARACTER ({CHARACTER_STATS_HORO})}
    [+unit]
        side=2
    [/unit]
#enddef
#define RECALL_HORO_AT_LOCATION _X _Y
    {RECALL_CHARACTER_AT ({CHARACTER_STATS_HORO}) ({_X}) ({_Y})}
    [+unit]
        side=2
    [/unit]
#enddef

#define RECALL_CRON
    {RECALL_CHARACTER ({CHARACTER_STATS_CRON})}
#enddef
#define RECALL_CRON_AT_LOCATION _X _Y
    {RECALL_CHARACTER_AT ({CHARACTER_STATS_CRON}) ({_X}) ({_Y})}
#enddef

#define RECALL_ERGEA
    {RECALL_CHARACTER ({CHARACTER_STATS_ERGEA})}
#enddef
#define RECALL_ERGEA_AT_LOCATION _X _Y
    {RECALL_CHARACTER_AT ({CHARACTER_STATS_ERGEA}) ({_X}) ({_Y})}
#enddef

#define RECALL_ELYSSA
    {RECALL_CHARACTER (
        {CHARACTER_STATS_ELYSSA}
        canrecruit=yes
        type=Guardian of Darkness Elyssa
    )}
#enddef
#define RECALL_ELYSSA_AT_LOCATION _X _Y
    {RECALL_CHARACTER_AT (
        {CHARACTER_STATS_ELYSSA}
        canrecruit=yes
        type=Guardian of Darkness Elyssa
    ) ({_X}) ({_Y})}
#enddef

# kate: indent-mode normal; encoding utf-8; space-indent on;
