#textdomain wesnoth-After_the_Storm

#define F_DEATHS
    {F_DEATH_ELYNIA}
    {F_DEATH_ANYA}
    {F_DEATH_DURVAN}
    {F_DEATH_IRYLEAN}
#enddef

#define G_DEATHS
    {F_DEATH_ELYNIA}
    {F_DEATH_ANYA}
    {F_DEATH_DURVAN}
    {F_DEATH_IRYLEAN}
    {G_DEATH_HORO}
    {G_DEATH_KYARA}
    {G_DEATH_BARDYL}
#enddef

#define H_DEATHS
    {H_DEATH_ANYA}
    {H_DEATH_DURVAN}
    {H_DEATH_IRYLEAN}
    {H_DEATH_ERGEA}
    {H_DEATH_CRON}
#enddef

#define I_DEATHS
    {I_DEATH_ELYNIA}
    {I_DEATH_ELYSSA}
#enddef

#define J_DEATHS
    {H_DEATH_DURVAN}
    {H_DEATH_IRYLEAN}
    {H_DEATH_ERGEA}
    {H_DEATH_CRON}
#enddef

#define K_DEATHS
    {K_DEATH_ELYNIA}
    {I_DEATH_ELYSSA}
#enddef

#define F_DEATH_ELYNIA
    {HERO_DEATH_BASE
    (Elynia)
    (
        [message]
            speaker=unit
            message= _ "I... fall to the darkness."
        [/message]
    ) (
        [message]
            speaker=Anya
            message= _ "No! Elynia, please!"
        [/message]
    )}
#enddef

#define F_DEATH_ANYA
    {HERO_DEATH_BASE
    (Anya)
    (
        [message]
            speaker=unit
            message= _ "No... Elynia... save me..."
        [/message]
    ) (
        [message]
            speaker=Elynia
            message= _ "No... NO!"
        [/message]
    )}
#enddef

#define F_DEATH_DURVAN
    {HERO_DEATH_BASE
    (Durvan)
    (
        [message]
            speaker=unit
            message= _ "I guess... I will never see my home again..."
        [/message]
    ) ()}
#enddef

#define F_DEATH_IRYLEAN
    {HERO_DEATH_BASE
    (Irylean)
    (
        [message]
            speaker=unit
            message= _ "It is over for me..."
        [/message]
    ) ()}
#enddef

#define G_DEATH_KYARA
    {HERO_DEATH_BASE
    (Kyara)
    (
        [message]
            speaker=unit
            message= _ "I don’t think I— ARGH!"
        [/message]
    ) ()}
#enddef

#define G_DEATH_HORO
    {HERO_DEATH_BASE
    (Horo)
    (
        [message]
            speaker=unit
            message= _ "This couldn’t be more untimely... ugh..."
        [/message]
    ) ()}
#enddef

#define G_DEATH_BARDYL
    {HERO_DEATH_BASE
    (General Bardyl)
    (
        [message]
            speaker=unit
            message= _ "Alas, I thought I’d... recover Aran-Balgur... before... this..."
        [/message]
    ) ()}
#enddef

#define H_DEATH_ANYA
    {HERO_DEATH_BASE
    (Anya)
    (
        [message]
            speaker=unit
            message= _ "Oh, Elynia... I wish... you could be... with me now..."
        [/message]
    ) ()}
#enddef

#define H_DEATH_DURVAN
    {HERO_DEATH_BASE
    (Durvan)
    (
        [message]
            speaker=unit
            message= _ "... I knew this was... a terrible idea... heh...."
        [/message]
    ) (
        [message]
            speaker=Anya
            message= _ "No! It didn’t have to end like this!"
        [/message]
    )}
#enddef

#define H_DEATH_IRYLEAN
    {HERO_DEATH_BASE
    (Irylean)
    (
        [message]
            speaker=unit
            message= _ "Alas... nobody will mourn my passing..."
        [/message]
    ) ()}
#enddef

#define H_DEATH_ERGEA
    {HERO_DEATH_BASE
    (Ergea)
    (
        [message]
            speaker=unit
            message= _ "I failed you all..."
        [/message]
    ) ()}
#enddef

#define H_DEATH_CRON
    {HERO_DEATH_BASE
    (Cron)
    (
        [message]
            speaker=unit
            message= _ "Cron falls... and bids the storm lady... farewell..."
        [/message]
    ) (
        [message]
            speaker=Ergea
            message= _ "No! This... this was not supposed to happen! Cron!"
        [/message]
    )}
#enddef

#define I_DEATH_ELYNIA
    {HERO_DEATH_SIMPLE Elynia (
        [message]
            speaker=Elyssa
            message= _ "Such an incompetent fool. I should have known she would be useless in the end."
        [/message]
    )}
#enddef

#define I_DEATH_ELYSSA
    {HERO_DEATH_SIMPLE Elyssa (
        [message]
            speaker=Elynia
            message= _ "Even with her greater experience... This is hopeless..."
        [/message]
    )}
#enddef

#define K_DEATH_ELYNIA
    {HERO_DEATH_SIMPLE Elynia (
        [message]
            speaker=Elyssa
            message= _ "I should have known this would fail so horribly in the end..."
        [/message]
    )}
#enddef

# kate: indent-mode normal; encoding utf-8; space-indent on;
