#textdomain wesnoth-After_the_Storm

[campaign]
    id=After_the_Storm_III
    {ATS_SHARED_ATTRIBUTES}
    extra_defines=CAMPAIGN_AFTER_THE_STORM_EPISODE_III

    abbrev= _ "AtS-3"
    name=_"After the Storm"+"
"+_"Final"
    icon="data/add-ons/After_the_Storm/images/campaign-icon-episode3.png"
    image="data/add-ons/After_the_Storm/images/campaign-logo-episode3.png"
    first_scenario=00_Opening

    description= _ "Though at the end of the day darkness may claim our homes and lives and trap the world beneath its impenetrable veil, the night is not eternal, and even amidst chaos, hope shines forth as a beacon which can help us vanquish our worst fears and reunite us with our destiny."+"

"+_"(Intermediate level, 13 scenarios.)"+{ATS_SHARED_DESCRIPTION_FOOTER}

    {ATS_DIFFICULTY_MENU
    (_"difficulty_menu^Druid")  ("units/elves-wood/druid-defend-1.png")
    (_"difficulty_menu^Dryad")  ("data/add-ons/After_the_Storm/images/units/faeries/dryad.png~PAL(e8f898,8bea75,4ebb81>d0f4f1,87d5cf,47b8af)")
    (_"difficulty_menu^Warden") ("data/add-ons/After_the_Storm/images/units/faeries/elynia.png")
    }

    end_text=" " # wmllint: ignore

    {ATS_CREDITS_BACKGROUND "misc/blank-hex.png~BG()" "misc/blank-hex.png~BG()"}
[/campaign]

# kate: indent-mode normal; encoding utf-8; space-indent on;
