#textdomain wesnoth-After_the_Storm

[scenario]
    id=02_The_Heart_Forest
    name= _ "The Heart Forest"
    {MAP 02_The_Heart_Forest.map}
    {TURNS 40 39 38}
    next_scenario=03_01_Unrest_in_Raelthyn
    victory_when_enemies_defeated=no

    {C_DEATHS}

    {SCENARIO_MUSIC       "wanderer.ogg"} {CONTINUE_PLAYING_STORY_MUSIC_FIRST}
    {EXTRA_SCENARIO_MUSIC "nunc_dimittis.ogg"}

    {STORYTXT_THE_HEART_FOREST}

    {TWO_SUNS_DEFAULT_SCHEDULE}

    # wmllint: validate-off
    [side]
        side=1
        controller=human
        save_id=player
        team_name=good
        user_team_name= _ "team_name^Elynia"

        shroud=yes
        fog=yes
        {GOLD 175 175 160}

        # wmllint: recognize Elynia
        {CHARACTER_STATS_ELYNIA}
    [/side]
    # wmllint: validate-on

    [side]
        side=2
        team_name=bad
        user_team_name= _ "team_name^Thieves"

        hidden=yes
        no_leader=yes

        recruit=Thief,Footpad,Poacher
        gold=0
        {NO_INCOME}
    [/side]

    [side]
        side=3
        team_name=bad
        user_team_name= _ "team_name^Trolls"

        recruit=Troll Whelp
        {GOLD 150 175 190}

        type=Troll Rocklobber
        id=Reck
        name= _ "Reck"
        canrecruit=yes
        unrenamable=yes
        [modifications]
            {TRAIT_FEARLESS}
            {TRAIT_RESILIENT}
        [/modifications]
    [/side]

    [side]
        side=4
        team_name=bad
        user_team_name= _ "team_name^Forest Creatures"

        hidden=yes
        no_leader=yes

        gold=0
        {NO_INCOME}
        village_gold=0

        {GENERIC_UNIT () (Water Serpent) 32  3} {GUARDIAN} {NO_UPKEEP_NO_OVERLAY}
        {GENERIC_UNIT () (Water Serpent)  9 14} {GUARDIAN} {NO_UPKEEP_NO_OVERLAY}
        {GENERIC_UNIT () (Water Serpent)  2 14} {GUARDIAN} {NO_UPKEEP_NO_OVERLAY}

        {GENERIC_UNIT () (Wolf) 39 11} {GUARDIAN} {NO_UPKEEP_NO_OVERLAY}
#ifndef EASY
        {GENERIC_UNIT () (Wolf) 40 11} {GUARDIAN} {NO_UPKEEP_NO_OVERLAY}
#endif
#ifdef HARD
        {GENERIC_UNIT () (Wolf) 39 12} {GUARDIAN} {NO_UPKEEP_NO_OVERLAY}
#endif

        {GENERIC_UNIT () (Wolf)  2 23} {GUARDIAN} {NO_UPKEEP_NO_OVERLAY}
#ifndef EASY
        {GENERIC_UNIT () (Wolf)  1 24} {GUARDIAN} {NO_UPKEEP_NO_OVERLAY}
#endif
#ifdef HARD
        {GENERIC_UNIT () (Wolf)  1 23} {GUARDIAN} {NO_UPKEEP_NO_OVERLAY}
#endif

        {GENERIC_UNIT () (Wolf) 11 50} {GUARDIAN} {NO_UPKEEP_NO_OVERLAY}
#ifndef EASY
        {GENERIC_UNIT () (Wolf) 12 50} {GUARDIAN} {NO_UPKEEP_NO_OVERLAY}
#endif
#ifdef HARD
        {GENERIC_UNIT () (Wolf) 12 49} {GUARDIAN} {NO_UPKEEP_NO_OVERLAY}
#endif
    [/side]

    [side]
        side=5
        team_name=bad
        user_team_name= _ "team_name^Birds"
        color=pink

        hidden=yes
        no_leader=yes

        gold=0
        {NO_INCOME}
        village_gold=0

        {IS_HOSTILE_NPC}

        {GENERIC_UNIT () (Falcon) 17 41} {GUARDIAN}
        {GENERIC_UNIT () (Falcon)  4 30} {GUARDIAN}
        {GENERIC_UNIT () (Falcon) 32 14} {GUARDIAN}
        {GENERIC_UNIT () (Falcon) 26  2} {GUARDIAN}
        {GENERIC_UNIT () (Falcon)  5 10} {GUARDIAN}
        {GENERIC_UNIT () (Falcon) 17 22} {GUARDIAN}
        {GENERIC_UNIT () (Falcon) 35 26} {GUARDIAN}
    [/side]

    {NPC_BIRD_BEHAVIOR 5 1 40 1 50}

    {STARTING_VILLAGES 1 4}

    {STARTING_VILLAGES 3 6}

    {SET_LABEL 17  3 ( _ "Talwyn")}
    {SET_LABEL 20  8 ( _ "Talwyn Bridge")}

    {PLACE_IMAGE "items/burial.png"           27 33}
    {PLACE_IMAGE "items/burial.png~FL(horiz)" 23 34}
    {PLACE_IMAGE "items/burial.png"            8 34}
    {PLACE_IMAGE "items/burial.png"           11 33}
    {PLACE_IMAGE "items/straw-bale2.png"       8  6}
    {PLACE_IMAGE "scenery/trash.png"          20  1}

    [event]
        name=prestart

        {VARIABLE seen_bridge_town no}

        # wmllint: recognize Durvan
        {RECALL_DURVAN}

        [allow_recruit]
            side=1
            type=Poacher,Thug
        [/allow_recruit]

        {OBJECTIVES (
            {OBJECTIVE_VICTORY ( _ "Reach the top edge of the map")}

            {OBJECTIVE_DEFEAT  ( _ "Death of Elynia")}
            {OBJECTIVE_DEFEAT  ( _ "Death of Durvan")}

            {TURNS_RUN_OUT}

            {OBJECTIVE_CARRYOVER}
        )}
    [/event]

    [event]
        name=start
        [message]
            speaker=Elynia
            message= _ "Frankly, when the village chief said ‘capable’ I was expecting something better."
        [/message]

        [message]
            speaker=Durvan
            message= _ "It’d be a grave mistake to underestimate us, lass. Life ’round here isn’t an easy deal."
        [/message]

        [message]
            speaker=Elynia
            message= _ "I’m well aware of that, having lived in the wilderness myself before, but these are mostly untrained people!"
        [/message]

        [message]
            speaker=Durvan
            message= _ "We’d better get going. And look out for the trolls — they like to prey on travelers and eat them alive."
        [/message]
    [/event]

    {HERO_DEATH_BASE
    (Durvan)
    (
        [message]
            speaker=unit
            message= _ "Blast! I wasn’t counting on this happening!"
        [/message]
    ) ()}

    [event]
        name=moveto
        [filter]
            side=1
            [filter_adjacent]
                id=Reck
            [/filter_adjacent]
            [or]
                id=Reck
                [filter_adjacent]
                    side=1
                [/filter_adjacent]
            [/or]
        [/filter]

        [message]
            speaker=Reck
            message= _ "Reck don’t like humans on his base. We smash them!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Reck
        [/filter]

        [message]
            speaker=Reck
            message= _ "Reck dying... and don’t know why."
        [/message]
    [/event]

    {PLACE_IMAGE "items/gold-coins-small.png" 13 36}

    [event]
        name=moveto
        [filter]
            side=1
            x,y=13,36
        [/filter]

        [message]
            speaker=unit
            message= _ "That big troll was hoarding a considerable amount of gold in this abandoned fortress."
        [/message]

        {RETRIEVE_GOLD ({DIFF 120 100 80})}

        [remove_item]
            x,y=$x1,$y1
        [/remove_item]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x=1-40
            y=1-28
        [/filter]

        [unit]
            id=Dremorran
            name= _ "Dremorran"
            type=Fugitive
            side=2
            placement=leader
            canrecruit=yes
            [modifications]
                {TRAIT_RESILIENT}
                {TRAIT_QUICK}
            [/modifications]
        [/unit]

        [modify_side]
            side=2
            hidden=no
            {GOLD 160 190 210}
            {INCOME 2 3 4}
        [/modify_side]

        [store_starting_location]
            side=2
        [/store_starting_location]

        {CAPTURE_VILLAGES 2 $location.x $location.y 6}

        {CLEAR_VARIABLE location}

#define THF_GUARD _TYPE _X _Y
    {GENERIC_UNIT 2 ({_TYPE}) ({_X}) ({_Y})} {NO_UPKEEP_NO_OVERLAY} {GUARDIAN}
#enddef

#define THF_NAMED _TYPE _ID _NAME _X _Y
    {NAMED_UNIT 2 ({_TYPE}) ({_X}) ({_Y}) ({_ID}) ({_NAME}) (
        upkeep=free
        random_traits=yes
        random_gender=no
        [variables]
            bandit=yes
        [/variables]
    )}
#enddef

        {THF_GUARD (Bandit) 14 3}
        {THF_GUARD (Rogue)  14 5}
        {THF_GUARD (Bandit) 21 9} {FACING se}

        # wmllint: recognize Allyna
        [unit]
            {CHARACTER_STATS_ALLYNA}
            side=1
            facing=n
            x,y=20,25
        [/unit]

        # Used later in an event
#define THF_BANDITS_LIST
    "Cic,Glynvan,Quorren,Caror,Danon"
#enddef

        {THF_NAMED (Thief) (Cic) ( _ "Cic") 21 21} {FACING s}
        {THF_NAMED (Footpad) (Glynvan) ( _ "Glynvan") 18 22} {FACING se}
        {THF_NAMED (Footpad) (Quorren) ( _ "Quorren") 20 23} {FACING s}
        {THF_NAMED (Footpad) (Caror) ( _ "Caror") 24 21} {FACING sw}
        {THF_NAMED (Thug) (Danon) ( _ "Danon") 23 24} {FACING sw}

#undef THF_GUARD
#undef THF_NAMED

        [remove_shroud]
            side=1
            x,y=19,25
            radius=6
            [and]
                x,y=23,22
                radius=6
            [/and]
        [/remove_shroud]

        [redraw][/redraw]

        [message]
            speaker=unit
            message= _ "It’d seem there’s some stir going on ahead of us..."
        [/message]

        [scroll_to_unit]
            id=Allyna
        [/scroll_to_unit]

        [redraw][/redraw]

        [delay]
            time=500
        [/delay]

        [message]
            speaker=Quorren
            message= _ "Drop everything you’re carrying with you gal, and we <i>may</i> spare your pretty neck."
        [/message]

        [message]
            speaker=Elynia
            message= _ "We don’t have time for this—"
        [/message]

        [message]
            speaker=Durvan
            message= _ "We can’t just leave that poor girl at their mercy! We must help her!"
        [/message]

        [message]
            speaker=Elynia
            message= _ "(<i>Sigh</i>) Very well, let’s save her then!"
        [/message]

        {OBJECTIVES (
            {OBJECTIVE_VICTORY ( _ "Save Allyna from the bandits")}

            {OBJECTIVE_DEFEAT  ( _ "Death of Elynia")}
            {OBJECTIVE_DEFEAT  ( _ "Death of Durvan")}
            {OBJECTIVE_DEFEAT  ( _ "Death of Allyna")}

            {TURNS_RUN_OUT}

            {OBJECTIVE_CARRYOVER}
        )}
    [/event]

    {HERO_DEATH_BASE
    (Allyna)
    (
        [message]
            speaker=unit
            message= _ "Alas! I never got a chance to see the great towers of the capital!"
        [/message]
    ) (
        [message]
            speaker=Durvan
            message= _ "We shouldn’t have let this happen!"
        [/message]
    )}

    [event]
        name=die
        first_time_only=no
        [filter]
            id={THF_BANDITS_LIST}
        [/filter]

        [if]
            [not]
                [have_unit]
                    id={THF_BANDITS_LIST}
                    [not]
                        x,y=$x1,$y1
                    [/not]
                [/have_unit]
            [/not]
            [then]
                [fire_event]
                    name=allyna_introduction
                [/fire_event]
            [/then]
        [/if]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x=1-40
            y=1-9
        [/filter]

        [allow_undo][/allow_undo]

        {VARIABLE seen_bridge_town yes}

        [fire_event]
            name=save_bridge_town_objectives
        [/fire_event]
    [/event]

    [event]
        name=allyna_introduction
        first_time_only=yes

        [message]
            speaker=Allyna
            message= _ "Oh, thank you for saving my life, sir. I’ll be forever grateful! Is there anything I could do for you?"
        [/message]

        [message]
            speaker=Durvan
            message= _ "Hm, actually, this lass here is leading us..."
        [/message]

        [message]
            side=1
            [not]
                id=Durvan
            [/not]
            [not]
                id=Elynia
            [/not]
            [not]
                id=Allyna
            [/not]
            message= _ "She’s the legendary Lady of Light!"
        [/message]

        [message]
            speaker=Allyna
            message= _ "Oh, I see. I beg your pardon, my lady."
        [/message]

        [message]
            speaker=Elynia
            message= _ "May I ask what business brings a young girl like you to such a dangerous location alone? What’s your name, anyway?"
        [/message]

        [message]
            speaker=Allyna
            message= _ "I’m Allyna of Dalbloom, from the eastern border. It’s a very tiny village, so you may not have heard of it before. I was sent on a mission to deliver an important message to the Grand Council of the—"
        [/message]

        [message]
            speaker=Elynia
            message= _ "Sure, we also need to deliver our own messages to them. Perhaps you should join us — it’s a miracle you have made it this far through these uncivilized lands already."
        [/message]

        [message]
            speaker=Allyna
            message= _ "Yes! —I mean, if it doesn’t bother you, of course. I don’t think I have ever seen a town get ransacked like that before..."
        [/message]

        [if]
            {VARIABLE_BOOLEAN_EQUALS seen_bridge_town no}
            [then]
                [message]
                    speaker=Durvan
                    message= _ "What are you talking about?"
                [/message]

                [message]
                    speaker=Allyna
                    message= _ "The bridge town ahead appears to have been overrun with filthy bandits. I turned back as soon as I could, but those brutes chased me, and then I found you!"
                [/message]

                [message]
                    speaker=Elynia
                    message= _ "Sounds like we may have to cleanse the town a bit before proceeding, then."
                [/message]

                [message]
                    speaker=Durvan
                    message= _ "Good plan. I never thought Talwyn would fall like that..."
                [/message]

                [fire_event]
                    name=save_bridge_town_objectives
                [/fire_event]
            [/then]
        [/if]
    [/event]

    [event]
        name=save_bridge_town_objectives

        {OBJECTIVES (
            {OBJECTIVE_VICTORY ( _ "Defeat the bandit leader in Talwyn")}

            {OBJECTIVE_DEFEAT  ( _ "Death of Elynia")}
            {OBJECTIVE_DEFEAT  ( _ "Death of Durvan")}
            {OBJECTIVE_DEFEAT  ( _ "Death of Allyna")}

            {TURNS_RUN_OUT}

            {OBJECTIVE_CARRYOVER}
        )}
    [/event]

    [event]
        name=last breath
        [filter]
            id=Dremorran
        [/filter]

        [message]
            speaker=Dremorran
            message= _ "No! All our efforts have been in vain!"
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            id=Dremorran
        [/filter]

        [fire_event]
            name=allyna_introduction
        [/fire_event]

        {ENDLEVEL_VICTORY yes}
    [/event]

    [event]
        name=victory

        [message]
            speaker=Durvan
            message= _ "Onwards we go, to the capital!"
        [/message]

        [message]
            speaker=Allyna
            message= _ "So are you truly the Lady of Light? I’ve heard many amazing stories about you! Do you mind if I ask you some questions?"
        [/message]

        {CLEAR_VARIABLE seen_bridge_town}
    [/event]

#undef THF_BANDITS_LIST
[/scenario]

# kate: indent-mode normal; encoding utf-8; space-indent on;
