#textdomain wesnoth-After_the_Storm

[scenario]
    id=03_01_Unrest_in_Raelthyn
    name= _ "Unrest in Raelthyn"
    {MAP 03_01_Unrest_in_Raelthyn.map}
    turns=-1
    next_scenario=03_02_Revelations
    victory_when_enemies_defeated=no

    {END_OF_PLAYABLE_SCENARIOS}

    {CUTSCENE_UI}

    {SCENARIO_MUSIC "loyalists.ogg"}

    #{STORYTXT_UNREST_IN_RAELTHYN}

    {LONGDARK2}

    # wmllint: validate-off
    [side]
        side=1
        controller=human
        save_id=player
        team_name=good
        user_team_name= _ "team_name^Elynia"

        {CHARACTER_STATS_ELYNIA}
    [/side]
    # wmllint: validate-on

    # Castle
    [side]
        side=2
        team_name=good
        user_team_name= _ "team_name^Raelthyn"
        {ARAGWAITH_FLAG}
        color=blue

        canrecruit=yes
        type=Royal Warrior
        id=Dethanel
        name= _ "Dethanel"
        [modifications]
            {TRAIT_RESILIENT}
            {TRAIT_INTELLIGENT}
        [/modifications]
    [/side]

    # City
    [side]
        side=3
        team_name=good
        user_team_name= _ "team_name^Raelthyn"
        {ARAGWAITH_FLAG}
        color=purple
        hidden=yes

        canrecruit=yes
        type=General
        id=Lord Durstrang
        name= _ "Lord Durstrang"
        [modifications]
            {TRAIT_STRONG}
            {TRAIT_RESILIENT}
        [/modifications]
    [/side]

    # Arnesius
    [side]
        side=4
        team_name=good
        user_team_name= _ "team_name^Raelthyn"
        {ARAGWAITH_FLAG}
        no_leader=yes
        color=black
        hidden=yes
    [/side]

    # Torancyn
    [side]
        side=5
        team_name=good
        user_team_name= _ "team_name^Raelthyn"
        {ARAGWAITH_FLAG}
        no_leader=yes
        color=orange
        hidden=yes
    [/side]

    # Valen
    [side]
        side=6
        team_name=good
        user_team_name= _ "team_name^Raelthyn"
        {ARAGWAITH_FLAG}
        no_leader=yes
        color=teal
        hidden=yes
    [/side]

    {STARTING_VILLAGES 3 100}
    {STARTING_VILLAGES 2 4}

    {PLACE_IMAGE scenery/well-small.png 13 7}

    {PLACE_IMAGE scenery/leanto.png 5 5}
    {PLACE_IMAGE scenery/temple1.png 10 7}
    {PLACE_IMAGE scenery/oak-leaning.png 18 17}
    {PLACE_IMAGE scenery/oak-leaning.png 18  8}
    {PLACE_IMAGE scenery/oak-leaning.png 10  8}
    {PLACE_IMAGE items/archery-target-right.png 3 10}
    {PLACE_IMAGE items/archery-target-right.png 13 14}

    {PLACE_IMAGE "scenery/temple1.png" 30  1}
    {PLACE_IMAGE "items/straw-bale1.png" 37  4}
    {PLACE_IMAGE "items/straw-bale2.png" 35 22}
    {PLACE_IMAGE "items/grain-sheaf.png" 38 30}
    {PLACE_IMAGE "items/straw-bale1.png" 31 34}
    {PLACE_IMAGE "items/straw-bale1.png" 39 22}

    [event]
        name=prestart
        {RECALL_DURVAN}
        {RECALL_ALLYNA}
    [/event]

    [event]
        name=start

        [message]
            speaker=Durvan
            message= _ "Finally, the walls of Raelthyn! It’s a pity it’s too dark to see the glory of the capital city!"
        [/message]

        [message]
            speaker=Elynia
            message= _ "I have been here before. Now, let’s move."
        [/message]

        # wmlindent: start ignoring
        {MOVE_UNIT (id=Durvan)
            (33,33,28)
            (32,31,29)
        }
        # wmlindent: stop ignoring

        [message]
            speaker=Lord Durstrang
            message= _ "Halt! Who goes there?"
        [/message]

        [message]
            speaker=Durvan
            message= _ "I’m a mere messenger from the small village of Suthwood in the Heart Forest. We came here to meet with the Grand Council."
        [/message]

        [message]
            speaker=Lord Durstrang
            message= _ "You and who else?"
        [/message]

        # wmlindent: start ignoring
        {MOVE_UNIT (id=Allyna)
            (33,33,30)
            (32,31,28)
        }
        {MOVE_UNIT (id=Elynia)
            (33,33,29)
            (32,31,29)
        }
        # wmlindent: stop ignoring

    [/event]

[/scenario]

# kate: indent-mode normal; encoding utf-8; space-indent on;
