#textdomain wesnoth-After_the_Storm

[unit_type]
    id=Goliath
    name= _ "Mechanical Goliath"
    race=mechanical
    image="units/mechanical/goliath.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=61
    movement_type=armoredfoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=67
    usage=fighter
    [resistance]
        arcane=70
        cold=70
        fire=60
    [/resistance]
    [movement_costs]
        mountains=3
        hills=2
        sand=1
        frozen=2
        deep_water=3
        shallow_water=2
        reef=2
        swamp_water=2
    [/movement_costs]
    description= _ "Giant metallic beasts under the command of the forces of Chaos, the Mechanical Goliaths can crush in a matter of seconds any man, skeleton, or even troll. They seem immune to poison, drain, and other hazards that would normally pose a great danger for a living being. Because of this, it’s been suggested that they are magically animated constructions of rock and steel.

To make things even worse, it is said that they can destroy entire armies from a distance with a sudden flash of red light, in an attack that is both powerful and accurate."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_SUBMERGE}
    die_sound=bot-huge-explosion.ogg
    {DEFENSE_ANIM "units/mechanical/goliath.png" "units/mechanical/goliath.png" {SOUND_LIST:DRAKE_HIT} }
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=fist
        description={TSTR_ATTACK_NAME_FIST}
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=14
        number=2
    [/attack]
    [attack]
        name=flash cannon
        description= _ "flash cannon"
        type=impact
        range=ranged
        damage=19
        number=1
        icon=attacks/flash-cannon.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image="units/mechanical/goliath.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=250
                image="units/mechanical/goliath-melee.png"
                sound=fist.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=250
                image="units/mechanical/goliath-melee.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/mechanical/goliath.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=flash cannon
        [/filter_attack]
        start_time=-900

        {MISSILE_FRAME_TORPEDO}

        [frame]
            duration=300
            image="units/mechanical/goliath.png"
            sound=gun-energy-huge-fire-prelude.ogg
        [/frame]
        [frame]
            duration=200
            image="units/mechanical/goliath.png"
            sound=gun-activate-1.ogg,gun-activate-2.ogg
        [/frame]
        [frame]
            duration=250
            image="units/mechanical/goliath-melee.png"
        [/frame]

        torpedo_blast_start_time=-1
        torpedo_blast_offset=1.0
        torpedo_blast_auto_vflip=no
        [torpedo_blast_frame]
            duration=1
        [/torpedo_blast_frame]
        [if]
            hits=yes
            [frame]
                duration=150
                offset=0.0~-0.2:50,-0.2~0.0:100
                image="units/mechanical/goliath.png"
                sound=gun-energy-huge-fire.ogg
            [/frame]
            [torpedo_blast_frame]
                duration=540
                halo="projectiles/fireball-impact-7.png:60,projectiles/fireball-impact-8.png:60,projectiles/fireball-impact-9.png:60,projectiles/fireball-impact-10.png:60,projectiles/fireball-impact-11.png:60,projectiles/fireball-impact-12.png:60,projectiles/fireball-impact-13.png:60,projectiles/fireball-impact-14.png:60,projectiles/fireball-impact-15.png:60,projectiles/fireball-impact-16.png:60"
            [/torpedo_blast_frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=150
                offset=0.0
                image="units/mechanical/goliath.png"
            [/frame]
            [torpedo_blast_frame]
                duration=540
                halo="misc/blank-hex.png"
            [/torpedo_blast_frame]
        [/else]
        [torpedo_blast_frame]
            duration=1
        [/torpedo_blast_frame]
    [/attack_anim]
[/unit_type]

# kate: indent-mode normal; encoding utf-8; space-indent on;
