#textdomain wesnoth-After_the_Storm

#define V_CORE_BASEFRAME_EAST
    image="units/alien-verlissh/matrix-core.png"
#enddef

#define V_CORE_BASEFRAME_WEST
    image="units/alien-verlissh/matrix-core.png~FL(horiz)"
#enddef

[unit_type]
    id=Verlissh Matrix Core
    name= _ "Matrix Core"
    race=verlissh
    ignore_race_traits=yes
    # the unit box in sidebar and help screen is really limited to 72x72...
    image="units/alien-verlissh/matrix-core.png~SCALE(72,72)"
    [standing_anim]
        start_time=0
        direction=n,ne,se,s
        [frame]
            duration=100
            {V_CORE_BASEFRAME_EAST}
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        direction=sw,nw
        [frame]
            duration=100
            {V_CORE_BASEFRAME_WEST}
        [/frame]
    [/standing_anim]
    [death]
        start_time=0
        direction=n,ne,se,s
        [frame]
            duration=1
            {V_CORE_BASEFRAME_EAST}
        [/frame]
    [/death]
    [death]
        start_time=0
        direction=sw,nw
        [frame]
            duration=1
            {V_CORE_BASEFRAME_WEST}
        [/frame]
    [/death]
    hitpoints=64
    movement_type=none
    movement=1
    experience=150
    {AMLA_DEFAULT}
    level=3
    alignment=chaotic
    advances_to=null
    cost=80
    usage=archer
    undead_variation=null
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    description= _ "This thing is impossible to describe; no one has seen anything like it before."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_REGENERATES}
    die_sound={SOUND_LIST:MATRIX_DIE}
    [attack]
        name=energy ray
        description= _ "energy ray"
        icon=attacks/dark-missile.png
        type=cold
        range=ranged
        damage=15
        number=3
    [/attack]
    [attack]
        name=hot goo
        description= _ "hot goo"
        icon=attacks/slime-thrown.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=11
        number=2
    [/attack]
    [defend]
        start_time=-125
        sound_start_time=-26
        [if]
            direction=n,ne,se,s
            [frame]
                duration=250
                {V_CORE_BASEFRAME_EAST}
            [/frame]
        [/if]
        [else]
            direction=sw,nw
            [frame]
                duration=250
                {V_CORE_BASEFRAME_WEST}
            [/frame]
        [/else]
        [sound_frame]
            duration=1
        [/sound_frame]
        [if]
            hits=hit
            [sound_frame]
                duration=150
                sound={SOUND_LIST:MATRIX_HIT}
            [/sound_frame]
        [/if]
        [else]
            hits=miss,kill
            [sound_frame]
                duration=150
            [/sound_frame]
        [/else]
    [/defend]
    [attack_anim]
        [filter_attack]
            name=energy ray
        [/filter_attack]
        start_time=-100
        missile_start_time=-50
        sound_start_time=-101
        [missile_frame]
            duration=200
            image="projectiles/darkmissile-n.png"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]
        [if]
            direction=n,ne,se,s
            [frame]
                duration=200
                {V_CORE_BASEFRAME_EAST}
            [/frame]
        [/if]
        [else]
            direction=sw,nw
            [frame]
                duration=200
                {V_CORE_BASEFRAME_WEST}
            [/frame]
        [/else]
        [sound_frame]
            duration=1
        [/sound_frame]
        [if]
            hits=no
            [sound_frame]
                duration=200
                sound=magic-dark-miss.ogg
            [/sound_frame]
        [/if]
        [else]
            hits=yes
            [sound_frame]
                duration=200
                sound=magic-dark.ogg
            [/sound_frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=hot goo
        [/filter_attack]
        start_time=-300
        sound_start_time=-301
        {MISSILE_FRAME_SLIME}
        [if]
            direction=n,ne,se,s
            [frame]
                duration=300
                {V_CORE_BASEFRAME_EAST}
            [/frame]
        [/if]
        [else]
            direction=sw,nw
            [frame]
                duration=300
                {V_CORE_BASEFRAME_WEST}
            [/frame]
        [/else]
        [sound_frame]
            duration=1
        [/sound_frame]
        [if]
            hits=no
            [sound_frame]
                duration=200
                sound=squishy-miss.wav
            [/sound_frame]
        [/if]
        [else]
            hits=yes
            [sound_frame]
                duration=200
                sound=squishy-strike.wav
            [/sound_frame]
        [/else]
        {SOUND:SLOW}
    [/attack_anim]
[/unit_type]

#undef V_CORE_BASEFRAME_EAST
#undef V_CORE_BASEFRAME_WEST

# kate: indent-mode normal; encoding utf-8; space-indent on;
