#textdomain wesnoth-After_the_Storm
# Thanks to Shadow/Wayfarer for the unit idea
[unit_type]
    id=Elvish Civilian
    name= _ "Elvish Civilian"
    race=elf
    gender=male,female
    image="units/elves-wood/civilian.png"
    ellipse="misc/ellipse-nozoc"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=22
    movement_type=woodland
    movement=5
    experience=25
    level=0
    alignment=neutral
    advances_to=Elvish Fighter,Elvish Archer,Elvish Hunter
    cost=8
    usage=fighter
    description= _ "Since elves are not warlike by nature, most of their population is composed by civilians, who learn, at very early age, basic usage of swords and bows, so that they can defend themselves, or their homes, in times of need, forming a fairly skilled militia. However, if you are hurling civilians at your foes, you're clearly out of superior forces."
    die_sound={SOUND_LIST:ELF_HIT}
    [attack]
        name=sword
        description={TSTR_ATTACK_NAME_SWORD}
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]
    [attack]
        name=bow
        description={TSTR_ATTACK_NAME_BOW}
        icon=attacks/bow-short.png
        type=pierce
        range=ranged
        damage=3
        number=2
    [/attack]
    {DEFENSE_ANIM "units/elves-wood/civilian-defend.png" "units/elves-wood/civilian.png" {SOUND_LIST:ELF_HIT} }
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-445
            end=-380
            image="units/elves-wood/civilian.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-380
                end=-305
                image="units/elves-wood/civilian.png"
                sound=bow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-380
                end=-305
                image="units/elves-wood/civilian.png"
                sound=bow-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-305
            end=-230
            image="units/elves-wood/civilian.png"
        [/frame]
        [frame]
            begin=-230
            end=-130
            image="units/elves-wood/civilian.png"
        [/frame]
        [frame]
            begin=-130
            end=0
            image="units/elves-wood/civilian.png"
        [/frame]
        [frame]
            begin=0
            end=65
            image="units/elves-wood/civilian.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-175
            end=-100
            image="units/elves-wood/civilian.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/elves-wood/civilian-melee.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/elves-wood/civilian-melee.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/elves-wood/civilian.png"
        [/frame]
        [frame]
            begin=150
            end=175
            image="units/elves-wood/civilian.png"
        [/frame]
    [/attack_anim]

    # TODO: make female graphics and add them to [female] structure, so that there's an actual gender
    # differentiation aside from the markov name generator array, death and defense sounds.
    [female]
        #textdomain wesnoth-After_the_Storm
        name= _ "female^Elvish Civilian"
        gender=female
        advances_to=Elvish Archer,Elvish Hunter,Elvish Shaman
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        {DEFENSE_ANIM "units/elves-wood/civilian-defend.png" "units/elves-wood/civilian.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [/female]
[/unit_type]
