#textdomain wesnoth-After_the_Storm

[campaign]
    id=After_the_Storm_II
    {ATS_SHARED_ATTRIBUTES}
    extra_defines=CAMPAIGN_AFTER_THE_STORM_EPISODE_II

    abbrev= _ "AtS-2"
    name=_"After the Storm"+"
"+_"Episode II: Fate"
    icon="data/add-ons/After_the_Storm/images/campaign-icon-episode2.png"
    image="data/add-ons/After_the_Storm/images/campaign-logo-episode2.jpg"
    first_scenario=00_Transience

    description= _ "Time passes, and the Chaos Empire still manages to make a stand against its enemies. While the Grand Council is preoccupied with more pressing matters, the fragile alliance of the peoples of the Far North is threatened by a new, mysterious leader who seeks to invade their defenseless lands."+"

"+_"(Intermediate level, 12 scenarios.)"+{ATS_SHARED_DESCRIPTION_FOOTER}

    {ATS_DIFFICULTY_MENU
    (_"difficulty_menu^Footpad")    ("units/human-outlaws/footpad-melee-3.png")
    (_"difficulty_menu^Trapper")    ("units/human-outlaws/trapper-attack3.png")
    (_"difficulty_menu^Highwayman") ("units/human-outlaws/highwayman-melee-5.png")
    }

    end_text= _ "To be continued..."
[/campaign]

# kate: indent-mode normal; encoding utf-8; space-indent on;
