#textdomain wesnoth-After_the_Storm

[unit_type]
    id=Shaxthal Rayblade
    name= _ "Rayblade"
    race=shaxthal
    image="units/shaxthal/rayblade.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=36
    movement_type=biomechanical_elusivefoot
    movement=5
    experience=110
    level=2
    alignment=neutral
    advances_to=Shaxthal Stormblade
    cost=32
    usage=fighter
    description= _ "These specialized Shaxthal drones have forgone mobility and their signature lightbeams for increased performance against large amounts of armored enemies. Their hands have been replaced with sharp blades they can use to great effect by rapidly spinning at close range of their opponents."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SUBMERGE}
    die_sound={SOUND_LIST:BIOMECHANICAL_DIE}
    {DEFENSE_ANIM "units/shaxthal/rayblade.png" "units/shaxthal/rayblade.png" {SOUND_LIST:BIOMECHANICAL_HIT} }
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=rayblade
        description= _ "weapon^rayblade"
        type=blade
        range=melee
        damage=6
        number=6
    [/attack]
    [attack_anim]
        [filter_attack]
            name=rayblade
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image="units/shaxthal/rayblade.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/shaxthal/rayblade.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/shaxthal/rayblade.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/shaxthal/rayblade.png"
        [/frame]
    [/attack_anim]
[/unit_type]
