#textdomain wesnoth-After_the_Storm

[unit_type]
    id=Shaxthal Stormblade
    name= _ "Stormblade"
    race=shaxthal
    image="units/shaxthal/stormblade.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=49
    movement_type=biomechanical_elusivefoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=58
    usage=mixed fighter
    [resistance]
        fire=90
    [/resistance]
    description= _ "Because of their comparatively expensive design, Stormblade drones are a rarer sight on the battlefield than other Shaxthal creatures. Their deadly long arm-blades combined with the recovered ability to retaliate against ranged attacks makes them extremely dangerous opponents."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SUBMERGE}+{SPECIAL_NOTES_FIRSTSTRIKE}
    die_sound={SOUND_LIST:BIOMECHANICAL_DIE}
    {DEFENSE_ANIM "units/shaxthal/stormblade.png" "units/shaxthal/stormblade.png" {SOUND_LIST:BIOMECHANICAL_HIT} }
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=rayblade
        description= _ "weapon^rayblade"
        type=blade
        range=melee
        damage=7
        number=6
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=energy shock
        description= _ "energy shock"
        icon=attacks/energy-shock.png
        type=impact
        range=ranged
        damage=8
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=rayblade
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image="units/shaxthal/stormblade.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/shaxthal/stormblade.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/shaxthal/stormblade.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/shaxthal/stormblade.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=energy shock
        [/filter_attack]
        {MISSILE_FRAME_ENERGY_SHOCK}
        [frame]
            begin=-300
            end=-200
            image="units/shaxthal/stormblade.png"
            sound=shaxthal-energy-prelude.ogg
        [/frame]
        [frame]
            begin=-200
            end=100
            image="units/shaxthal/stormblade.png"
            sound=shaxthal-energy-fire.ogg
        [/frame]
    [/attack_anim]
[/unit_type]

# kate: indent-mode normal; encoding utf-8; space-indent on;
