#textdomain wesnoth-After_the_Storm

[unit_type]
    id=Shaxthal Stormblade Ivyel
    name= _ "Stormblade"
    race=shaxthal
    image="units/shaxthal/ivyel.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=67
    movement_type=biomechanical_elusivefoot
    movement=6
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=66
    usage=mixed fighter
    hide_help=true
    [resistance]
        fire=90
        arcane=110
    [/resistance]
    description= _ "Because of their expensive weapons and armor, Rayblade drones tend to be rarer in the battle-field than other Shaxthal creatures. It’s said no more than a couple of them have ever been found to have ability for ranged combat. The combination of their deadly long blades and the other drones’ destruction beams makes them extremely dangerous."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SUBMERGE}+{SPECIAL_NOTES_FIRSTSTRIKE}
    die_sound={SOUND_LIST:BIOMECHANICAL_DIE}
    {DEFENSE_ANIM "units/shaxthal/ivyel.png" "units/shaxthal/ivyel.png" {SOUND_LIST:BIOMECHANICAL_HIT} }
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=rayblade
        description= _ "weapon^rayblade"
        type=blade
        range=melee
        damage=7
        number=6
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=energy shock
        description= _ "energy shock"
        icon=attacks/energy-shock.png
        type=impact
        range=ranged
        damage=11
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=rayblade
        [/filter_attack]
        start_time=-200
        [frame]
            duration=50
            image="units/shaxthal/ivyel.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/shaxthal/ivyel.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/shaxthal/ivyel.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/shaxthal/ivyel.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=energy shock
        [/filter_attack]
        {MISSILE_FRAME_ENERGY_SHOCK}
        [frame]
            begin=-300
            end=-200
            image="units/shaxthal/ivyel.png"
            sound=shaxthal-energy-prelude.ogg
        [/frame]
        [frame]
            begin=-200
            end=100
            image="units/shaxthal/ivyel.png"
            sound=shaxthal-energy-fire.ogg
        [/frame]
    [/attack_anim]
[/unit_type]

# kate: indent-mode normal; encoding utf-8; space-indent on;
