#textdomain wesnoth-After_the_Storm

#define MISSILE_FRAME_ETHEREAL_BLAST
    [missile_frame]
        begin=-50
        end=150
        image="projectiles/chaosmissile-n.png"
        image_diagonal="projectiles/chaosmissile-ne.png"
        halo=halo/chaos-halo1.png:25,halo/chaos-halo2.png:25,halo/chaos-halo3.png:25,halo/chaos-halo4.png:25,halo/chaos-halo5.png:25,halo/chaos-halo6.png:25,halo/chaos-halo7.png:25,halo/chaos-halo8.png:25,halo/chaos-halo9.png:50
        halo_x,halo_y=10,-2
    [/missile_frame]
#enddef

#define MISSILE_FRAME_ENERGY_SHOCK
    [missile_frame]
        begin=-200
        end=50
        image="projectiles/energybeam-n.png"
        image_diagonal="projectiles/energybeam-ne.png"
        halo=halo/chaos-halo1.png:25,halo/chaos-halo2.png:25,halo/chaos-halo3.png:25,halo/chaos-halo4.png:25,halo/chaos-halo5.png:25,halo/chaos-halo6.png:25,halo/chaos-halo7.png:25,halo/chaos-halo8.png:25,halo/chaos-halo9.png:50
        halo_x,halo_y=10,-2
    [/missile_frame]
#enddef

#define MISSILE_FRAME_BOLAS
    [missile_frame]
        begin=-150
        end=0
        image=projectiles/bolas-n.png
        image_diagonal=projectiles/bolas-ne.png
    [/missile_frame]
#enddef

#define MISSILE_FRAME_INFERNAL_CHILL
    [missile_frame]
        begin=-150
        end=0
        image="projectiles/whitemissile-n.png"
        image_diagonal="projectiles/whitemissile-ne.png"
    [/missile_frame]
#enddef

#define MISSILE_FRAME_SLIME
    [missile_frame]
        begin=-150
        end=0
        image="projectiles/slime-glob.png"
        image_diagonal="projectiles/slime-glob.png"
    [/missile_frame]
#enddef

#define MELEE_FRAME_FIRE_AURA _MELEE_FRAME _BASE_FRAME
    start_time=-150
    [if]
        hits=no
        [frame]
            duration=50
            image={_BASE_FRAME}
        [/frame]
        [frame]
            duration=200
            image={_MELEE_FRAME}
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            duration=200
            image={_BASE_FRAME}
        [/frame]
    [/if]
    [else]
        hits=yes
        [frame]
            duration=50
            halo=projectiles/fire-burst-small-1.png
            image={_BASE_FRAME}
            sound=fire.wav
        [/frame]
        [frame]
            duration=200
            halo="projectiles/fire-burst-small-1.png:50,projectiles/fire-burst-small-2.png:50,projectiles/fire-burst-small-3.png:50,projectiles/fire-burst-small-4.png:50"
            image={_MELEE_FRAME}
        [/frame]
        [frame]
            duration=200
            halo="projectiles/fire-burst-small-5.png:50,projectiles/fire-burst-small-6.png:50,projectiles/fire-burst-small-7.png:50,projectiles/fire-burst-small-8.png:50"
            image={_BASE_FRAME}
        [/frame]
    [/else]
#enddef

#define BURST_FRAME_FAERIE_MYSTIC_FIRE
    burst_start_time=-1
    burst_offset=0.8~1.0
    [burst_frame]
        duration=1
    [/burst_frame]
    [burst_frame]
        duration=75
        image="projectiles/fire-burst-small-1.png"
    [/burst_frame]
    [burst_frame]
        duration=75
        image="projectiles/fire-burst-small-2.png"
    [/burst_frame]
    [burst_frame]
        duration=75
        image="projectiles/fire-burst-small-3.png"
    [/burst_frame]
    [burst_frame]
        duration=75
        image="projectiles/fire-burst-small-4.png"
    [/burst_frame]
    [burst_frame]
        duration=75
        image="projectiles/fire-burst-small-5.png"
    [/burst_frame]
    [burst_frame]
        duration=75
        image="projectiles/fire-burst-small-6.png"
    [/burst_frame]
    [burst_frame]
        duration=75
        image="projectiles/fire-burst-small-7.png"
    [/burst_frame]
    [burst_frame]
        duration=75
        image="projectiles/fire-burst-small-8.png"
    [/burst_frame]
#enddef

#define MISSILE_FRAME_FAERIE_MYSTIC_FIRE
    specialfx_auto_vflip=false
    specialfx_start_time=-331

    [specialfx_frame]
        duration=1
    [/specialfx_frame]
    [specialfx_frame]
        duration=350
        halo="halo/saurian-magic-halo-1.png:50,halo/saurian-magic-halo-2.png:50,halo/saurian-magic-halo-3.png:50,halo/saurian-magic-halo-4.png:50,halo/saurian-magic-halo-5.png:50,halo/saurian-magic-halo-6.png:50,halo/saurian-magic-halo-7.png:50"
    [/specialfx_frame]
    [specialfx_frame]
        duration=1
    [/specialfx_frame]

    {MISSILE_FRAME_FIRE_BREATH 12,-39 12,19 25,-26 27,19}
#enddef

# _RIMG : reaction frame image
# _BIMG : base frame image
# _RSND : hit sound/soundlist
#define FLYING_DEFENSE_ANIM _RIMG _BIMG _RSND
    [defend]
        [if]
            hits=miss
            offset=0.0~-0.15,-0.15~0.0
        [/if]
        start_time=-126
        [frame]
            duration=1
            image={_BIMG}
        [/frame]
        [frame]
            duration=100
            image={_RIMG}
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=150
                image={_RIMG}
                sound={_RSND}
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=150
                image={_RIMG}
            [/frame]
        [/else]
        [frame]
            duration=1
            image={_BIMG}
        [/frame]
    [/defend]
#enddef

#define GALAS_RANGED_ATTACK_BOLAS_ANIMATION
    [attack_anim]
        [filter_attack]
            name=bolas
        [/filter_attack]
        {MISSILE_FRAME_BOLAS}
        [if]
            hits=yes
            [frame]
                begin=-300
                end=-200
                image="units/elves-wood/wayfarer.png"
                sound=hatchet.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-200
                image="units/elves-wood/wayfarer.png"
                sound=hatchet-miss.wav
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=-100
            image="units/elves-wood/wayfarer.png"
        [/frame]
        [frame]
            begin=-100
            end=0
            image="units/elves-wood/wayfarer.png"
        [/frame]
        {SOUND:SLOW}
    [/attack_anim]
#enddef

#define MISSILE_FRAME_TORPEDO
    missile_start_time=-150
    [missile_frame]
        duration=150
        image="projectiles/flash-cannon-n.png"
        image_diagonal="projectiles/flash-cannon-ne.png"
    [/missile_frame]
#enddef

#define FLAME_BLAST_ANIMATION
    offset=0.0

    flame_sound_start_time=-401
    [flame_sound_frame]
        duration=1
    [/flame_sound_frame]
    [flame_sound_frame]
        duration=100
        sound=fire.wav
    [/flame_sound_frame]

    flame_blast_1_start_time=-400
    flame_blast_1_auto_vflip=no
    flame_blast_1_offset=1.0
    [flame_blast_1_frame]
        duration=400
        halo="misc/blank-hex.png:1,halo/flame-burst-1.png:50,halo/flame-burst-2.png:50,halo/flame-burst-3.png:50,halo/flame-burst-4.png:50,halo/flame-burst-5.png:50,halo/flame-burst-6.png:50,halo/flame-burst-7.png:50,halo/flame-burst-8.png:48,misc/blank-hex.png:1"
        halo_x,halo_y=-22,0
    [/flame_blast_1_frame]

    flame_blast_2_start_time=-350
    flame_blast_2_auto_vflip=no
    flame_blast_2_offset=1.0
    [flame_blast_2_frame]
        duration=400
        halo="misc/blank-hex.png:1,halo/flame-burst-1.png:50,halo/flame-burst-2.png:50,halo/flame-burst-3.png:50,halo/flame-burst-4.png:50,halo/flame-burst-5.png:50,halo/flame-burst-6.png:50,halo/flame-burst-7.png:50,halo/flame-burst-8.png:48,misc/blank-hex.png:1"
        halo_x,halo_y=-14,9
    [/flame_blast_2_frame]

    flame_blast_3_start_time=-300
    flame_blast_3_auto_vflip=no
    flame_blast_3_offset=1.0
    [flame_blast_3_frame]
        duration=400
        halo="misc/blank-hex.png:1,halo/flame-burst-1.png:50,halo/flame-burst-2.png:50,halo/flame-burst-3.png:50,halo/flame-burst-4.png:50,halo/flame-burst-5.png:50,halo/flame-burst-6.png:50,halo/flame-burst-7.png:50,halo/flame-burst-8.png:48,misc/blank-hex.png:1"
        halo_x,halo_y=0,12
    [/flame_blast_3_frame]

    flame_blast_4_start_time=-250
    flame_blast_4_auto_vflip=no
    flame_blast_4_offset=1.0
    [flame_blast_4_frame]
        duration=400
        halo="misc/blank-hex.png:1,halo/flame-burst-1.png:50,halo/flame-burst-2.png:50,halo/flame-burst-3.png:50,halo/flame-burst-4.png:50,halo/flame-burst-5.png:50,halo/flame-burst-6.png:50,halo/flame-burst-7.png:50,halo/flame-burst-8.png:48,misc/blank-hex.png:1"
        halo_x,halo_y=14,9
    [/flame_blast_4_frame]

    flame_blast_5_start_time=-200
    flame_blast_5_auto_vflip=no
    flame_blast_5_offset=1.0
    [flame_blast_5_frame]
        duration=400
        halo="misc/blank-hex.png:1,halo/flame-burst-1.png:50,halo/flame-burst-2.png:50,halo/flame-burst-3.png:50,halo/flame-burst-4.png:50,halo/flame-burst-5.png:50,halo/flame-burst-6.png:50,halo/flame-burst-7.png:50,halo/flame-burst-8.png:48,misc/blank-hex.png:1"
        halo_x,halo_y=22,0
    [/flame_blast_5_frame]
#enddef

#define FLAME_BLAST_AFFECTS_SELF
    flame_blast_1_offset=0.0
    flame_blast_2_offset=0.0
    flame_blast_3_offset=0.0
    flame_blast_4_offset=0.0
    flame_blast_5_offset=0.0
#enddef

#define STORMKIND_ATTACK_HALO
    halo1_start_time=-400
    halo1_auto_vflip=false
    [halo1_frame]
        duration=1
    [/halo1_frame]
    [halo1_frame]
        duration=700
        halo="halo/saurian-magic-halo-1.png:100,halo/saurian-magic-halo-2.png:100,halo/saurian-magic-halo-3.png:100,halo/saurian-magic-halo-4.png:100,halo/saurian-magic-halo-5.png:100,halo/saurian-magic-halo-6.png:100,halo/saurian-magic-halo-7.png:100"
        halo_y=-15
    [/halo1_frame]
    [halo1_frame]
        duration=1
    [/halo1_frame]

    halo2_start_time=-450
    halo2_auto_vflip=false
    [halo2_frame]
        duration=1
    [/halo2_frame]
    [halo2_frame]
        duration=700
        halo="halo/saurian-magic-halo-7.png:100,halo/saurian-magic-halo-6.png:100,halo/saurian-magic-halo-5.png:100,halo/saurian-magic-halo-4.png:100,halo/saurian-magic-halo-3.png:100,halo/saurian-magic-halo-2.png:100,halo/saurian-magic-halo-1.png:100"
        halo_y=0
    [/halo2_frame]
    [halo2_frame]
        duration=1
    [/halo2_frame]

    halo3_start_time=-400
    halo3_auto_vflip=false
    [halo3_frame]
        duration=1
    [/halo3_frame]
    [halo3_frame]
        duration=700
        halo="halo/saurian-magic-halo-1.png:100,halo/saurian-magic-halo-2.png:100,halo/saurian-magic-halo-3.png:100,halo/saurian-magic-halo-4.png:100,halo/saurian-magic-halo-5.png:100,halo/saurian-magic-halo-6.png:100,halo/saurian-magic-halo-7.png:100"
        halo_y=15
    [/halo3_frame]
    [halo3_frame]
        duration=1
    [/halo3_frame]
#enddef

#define NOCTUM_BEAM_ANIMATION
    offset=0.0

    beam_auto_vflip=no
    beam_start_time=-400
    beam_offset=1.0
    beam_halo_y=20

    beam_halo_mod="~O(0.8)"

    [beam_frame]
        duration=730
        halo="halo/darkness-beam-1.png:30,halo/darkness-beam-2.png:30,halo/darkness-beam-3.png:30,halo/darkness-beam-4.png:30,halo/darkness-beam-5.png:30,halo/darkness-beam-6.png:30,halo/darkness-beam-7.png:130,halo/darkness-beam-6.png:70,halo/darkness-beam-5.png:70,halo/darkness-beam-4.png:70,halo/darkness-beam-3.png:70,halo/darkness-beam-2.png:70,halo/darkness-beam-1.png:70"
    [/beam_frame]
#enddef

#define NOCTUM_FIRE_ANIMATION
    {FLAME_BLAST_ANIMATION}

    flame_blast_1_halo_mod="~B(120)"
    flame_blast_2_halo_mod="~B(120)"
    flame_blast_3_halo_mod="~B(120)"
    flame_blast_4_halo_mod="~B(120)"
    flame_blast_5_halo_mod="~B(120)"
#enddef

#define NOCTUM_BOLT_ANIMATION _N1 _N2
    bolt1_auto_vflip=no
    bolt1_start_time=-176
    bolt1_offset=1.0
    bolt1_halo_y=-125
    bolt1_halo_mod="~R(120)"

    [bolt1_frame]
        duration=1
        halo="misc/blank-hex.png"
    [/bolt1_frame]
    [bolt1_frame]
        duration=200
        halo="halo/lightning-bolt-"+{_N1}+"-3.png:100,halo/lightning-bolt-"+{_N1}+"-4.png:100"
    [/bolt1_frame]
    [bolt1_frame]
        duration=1
        halo="misc/blank-hex.png"
    [/bolt1_frame]

    bolt2_auto_vflip=no
    bolt2_start_time=-101
    bolt2_offset=1.0
    bolt2_halo_y=-125
    bolt2_halo_mod="~R(120)"

    [bolt2_frame]
        duration=1
        halo="misc/blank-hex.png"
    [/bolt2_frame]
    [bolt2_frame]
        duration=200
        halo="halo/lightning-bolt-"+{_N2}+"-4.png:100,halo/lightning-bolt-"+{_N2}+"-4.png~O(0.5):100"
    [/bolt2_frame]
    [bolt2_frame]
        duration=1
        halo="misc/blank-hex.png"
    [/bolt2_frame]

    sound_start_time=-176

    [sound_frame]
        duration=1
    [/sound_frame]

    [if]
        hits=yes
        [sound_frame]
            duration=100
            sound=lightning.ogg
        [/sound_frame]
    [/if]
    [else]
        hits=no
        [sound_frame]
            duration=100
            sound=lightning-miss.ogg
        [/sound_frame]
    [/else]
#enddef

#define BLOOD_BOLT_ANIMATION _N1 _N2
    {NOCTUM_BOLT_ANIMATION ({_N1}) ({_N2})}

    #bolt1_halo_mod="~CS(120,-64,-64)" purple
    #bolt2_halo_mod="~CS(120,-64,-64)" purple

    bolt1_halo_mod="~CS(255,-32,-32)"
    bolt2_halo_mod="~CS(255,-32,-32)"
#enddef

#define GUARDIAN_DEFENSE_ANIM R G B REACTION_IMAGE BASE_IMAGE HIT_SOUND
    [defend]
        start_time=-175
        [frame]
            duration=25
            image={BASE_IMAGE}
            halo="halo/guardian-defense-halo.png"
            halo_mod="~CS({R},{G},{B})~O(0.2)"
        [/frame]
        [frame]
            duration=25
            image={BASE_IMAGE}
            halo="halo/guardian-defense-halo.png"
            halo_mod="~CS({R},{G},{B})~O(0.4)"
        [/frame]
        [frame]
            duration=50
            image={REACTION_IMAGE}
            halo="halo/guardian-defense-halo.png"
            halo_mod="~CS({R},{G},{B})~O(0.6)"
        [/frame]
        [frame]
            duration=50
            image={REACTION_IMAGE}
            halo="halo/guardian-defense-halo.png"
            halo_mod="~CS({R},{G},{B})~O(0.8)"
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=100
                image={REACTION_IMAGE}
                sound={HIT_SOUND}
                halo="halo/guardian-defense-halo.png"
                halo_mod="~CS({R},{G},{B})"
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=100
                image={REACTION_IMAGE}
                halo="halo/guardian-defense-halo.png"
                halo_mod="~CS({R},{G},{B})"
            [/frame]
        [/else]
        [frame]
            duration=50
            image={REACTION_IMAGE}
            halo="halo/guardian-defense-halo.png"
            halo_mod="~CS({R},{G},{B})~O(0.8)"
        [/frame]
        [frame]
            duration=25
            image={BASE_IMAGE}
            halo="halo/guardian-defense-halo.png"
            halo_mod="~CS({R},{G},{B})~O(0.6)"
        [/frame]
        [frame]
            duration=25
            image={BASE_IMAGE}
            halo="halo/guardian-defense-halo.png"
            halo_mod="~CS({R},{G},{B})~O(0.4)"
        [/frame]
        [frame]
            duration=25
            image={BASE_IMAGE}
            halo="halo/guardian-defense-halo.png"
            halo_mod="~CS({R},{G},{B})~O(0.2)"
        [/frame]
    [/defend]
#enddef

#define BLOOD_STORM_ANIMATION _BOLT_N1 _BOLT_N2
    [attack_anim]
        [filter_attack]
            name=blood storm
        [/filter_attack]
        start_time=-400
        offset=0.0

        {BLOOD_BOLT_ANIMATION {_BOLT_N1} {_BOLT_N2} }

        [frame]
            duration=600
        [/frame]
    [/attack_anim]
#enddef

#define SOUL_SPEAR_ANIMATION
    [attack_anim]
        [filter_attack]
            name=soul spear
        [/filter_attack]
        [frame]
            begin=-250
            end=-125
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-125
                end=-100
                sound=magic-dark.ogg
            [/frame]
            [frame]
                begin=-100
                end=100
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-125
                end=-100
            [/frame]
            [frame]
                begin=-100
                end=100
                sound=spear-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
        [/frame]
    [/attack_anim]
#enddef

#
# The MISSILE_FRAME_MUZZLE_FLARE_MISS mainline macro was changed in
# version 1.11.7 to accept a halo position shift argument that did
# not exist before (e.g. the shift was 0, 0).
#
# For versions that do not have this change we need to append to the
# mainline macro here.
#
#ifver WESNOTH_VERSION > 1.11.6

#define MISSILE_FRAME_MUZZLE_FLARE_MISS_COMP _X _Y
    {MISSILE_FRAME_MUZZLE_FLARE_MISS ({_X}) ({_Y})}
#enddef

#else

#define MISSILE_FRAME_MUZZLE_FLARE_MISS_COMP _X _Y
    {MISSILE_FRAME_MUZZLE_FLARE_MISS}
    missile_halo_x={_X}
    missile_halo_y={_Y}
#enddef

#endif

# kate: indent-mode normal; encoding utf-8; space-indent on;
