#textdomain wesnoth-After_the_Storm

#define OBJECTIVE_VICTORY _TEXT
    [objective]
        description={_TEXT}
        condition=win
    [/objective]
#enddef

#define OBJECTIVE_VICTORY_END_OF_TURNS
    [objective]
        description= _ "Resist until the end of turns"
        condition=win
        show_turn_counter=yes
    [/objective]
#enddef

#define OBJECTIVE_SHOW_IF _COND
    [+objective]
        [show_if]
            {_COND}
        [/show_if]
    [/objective]
#enddef

#define OBJECTIVE_DEFEAT _TEXT
    [objective]
        description={_TEXT}
        condition=lose
    [/objective]
#enddef

#define OBJECTIVE_OPTIONAL _TEXT
    [objective]
        {ALTERNATIVE_OBJECTIVE_CAPTION}
        description={_TEXT} # wmllint: ignore
        condition=win
    [/objective]
#enddef

#define OBJECTIVE_CARRYOVER
    [gold_carryover]
        bonus,carryover_percentage=yes,40
    [/gold_carryover]
#enddef

#define OBJECTIVE_NO_CARRYOVER
    [gold_carryover]
        bonus,carryover_percentage=no,0
    [/gold_carryover]
#enddef

#define OBJECTIVE_FULL_CARRYOVER
    [gold_carryover]
        bonus,carryover_percentage=no,100
    [/gold_carryover]
#enddef

#define OBJECTIVE_NOTE _TEXT
    [note]
        description={_TEXT}
    [/note]
#enddef

#define OBJECTIVES _OBJECTIVES
    [objectives]
        side=1
        {_OBJECTIVES}
    [/objectives]
#enddef

#define UNLIMITED_PLAYER_MOVES_NOTE
    {OBJECTIVE_NOTE ( _ "You cannot end your turn; however, you can move your units around freely, ignoring their maximum movement points")}
#enddef

#define UNLIMITED_LEADER_MOVES_NOTE
    {OBJECTIVE_NOTE ( _ "You cannot end your turn; however, you can move your leader unit around freely, ignoring its maximum movement points")}
#enddef

#define NO_UNIT_CARRYOVER_NOTE
    {OBJECTIVE_NOTE ( _ "You will not be able to recall any units from this scenario later")}
#enddef

#define CONVERSATION_SCENARIO_NOTES
    {OBJECTIVE_NOTE ( _ "Move units next to other units or objects of interest to trigger actions")}
#enddef

#define LIMITED_CHARACTER_MOVES_NOTE
    {OBJECTIVE_NOTE ( _ "A bind spell disallows Elynia from moving when she is not within Elyssa's maximum movement range")}
    {OBJECTIVE_NOTE ( _ "You will need to synchronize both characters’ movements to prevent Elynia from lagging behind")}
#enddef

#define FIRE_GUARDIAN_SUMMONING_NOTE
    # po: The Fire Guardian unit type name translation may be found in the
    # po: wesnoth-units textdomain in mainline.
    {OBJECTIVE_NOTE ( _ "Fire Guardians can be summoned by right clicking on a vacant hex adjacent to Elyssa")}
    {OBJECTIVE_NOTE ( _ "You may only have six Fire Guardians on the map at any given time")}
#enddef

# kate: indent-mode normal; encoding utf-8; space-indent on;
