#textdomain wesnoth-After_the_Storm

#
# Lua versions of mainline WML macros to reduce the campaign's WML footprint
# (memory and disk usage).
#
# See lua/optimizations.lua.
#

#undef QUAKE
#define QUAKE _SOUND
    [quake]
        sound={_SOUND}
    [/quake]
#enddef

# kate: indent-mode normal; encoding utf-8; space-indent on;
