#textdomain wesnoth-After_the_Storm
#
# This file is dedicated to implementation details of the segmented
# scenario mechanism employed throughout AtS E3.
#
# If you are looking for public macros for use in your scenario,
# see scenario-segment-utils.cfg instead.
#
# You can stop reading past this point.
#

#
# floor_config.floor[] structure:
#
# map_data          <attribute>   The terrain map data for the floor.
#
# music_playlist    <node>        Music playlist for the floor, containing
#                                  an optional array of [music] nodes.
#                                  Music is left untouched for floors
#                                  lacking their own playlist.
#
# schedule          <node>        ToD schedule for the floor, containing
#                                  an optional array of [time] nodes.
#                                  The schedule is reset to the _initial_
#                                  ToD as detected on prestart when not
#                                  specified.
#
# default_time      <node>        Fallback ToD schedule corresponding to
#                                  to the current ToD detected during
#                                  prestart. This is TimeWML without an
#                                  enclosing [time] node.
#

#define FLOOR_VARIABLES_CONFIGURATION
    [event]
        name=prestart
        [set_variables]
            name=floor_config
            mode=replace
            [value]
                current=0
            [/value]
        [/set_variables]

        [store_time_of_day]
            variable=floor_config.default_time
        [/store_time_of_day]
    [/event]

    [event]
        id=floor_controller_victory_cleanup
        name=victory

        {CLEAR_VARIABLE floor_config}
    [/event]
#enddef

# kate: indent-mode normal; encoding utf-8; space-indent on;
