#textdomain wesnoth-After_the_Storm

#define MAP _NAME
    {EX_ATTRIBUTE map_data ("{INCLUDE_LOCAL /maps/{_NAME}}")}
#enddef

#define MASK _NAME
    {EX_ATTRIBUTE mask ("{INCLUDE_LOCAL /masks/{_NAME}}")}
#enddef

#define SHROUD_DATA _NAME
    {EX_ATTRIBUTE shroud_data ("{INCLUDE_LOCAL /masks/{_NAME}}")}
#enddef

#define OBJECTIVES _SIDE _OBJECTIVES
    [objectives]
        side={_SIDE}
        {_OBJECTIVES}
    [/objectives]
#enddef

#define NEW_OBJECTIVES _SIDE _OBJECTIVES
    [objectives]
        side={_SIDE}
        summary= _ "New objectives:"
        {_OBJECTIVES}
    [/objectives]
#enddef

#define OBJECTIVE_VICTORY _TEXT
    [objective]
        description={_TEXT}
        condition=win
    [/objective]
#enddef

#define OBJECTIVE_DEFEAT _TEXT
    [objective]
        description={_TEXT}
        condition=lose
    [/objective]
#enddef

#define OBJECTIVE_OPTIONAL _TEXT
    [objective]
        description="{UI_COLOR_BONUS}"+{_TEXT}
        condition=win
    [/objective]
#enddef

#define OBJECTIVE_NOTES _TEXT
    note="*"+_"Scenario notes:"+"
"+{_TEXT}
#enddef

#define SET_RECRUIT_LIST _SIDE _LIST
    [set_recruit]
        side={_SIDE}
        recruit={_LIST}
    [/set_recruit]
#enddef

#define CLEAR_RECRUIT_LIST _SIDE
    {SET_RECRUIT_LIST ({_SIDE}) ("")}
#enddef

#define ALLOW_RECRUIT _SIDE _LIST
    [allow_recruit]
        side={_SIDE}
        type={_LIST}
    [/allow_recruit]
#enddef

#define DISALLOW_RECRUIT _SIDE _LIST
    [disallow_recruit]
        side={_SIDE}
        type={_LIST}
    [/disallow_recruit]
#enddef

# #define CHARACTER_1ST_TIME_HELP _CID _HELPMSG
#     [event]
#         name=select
#         [filter]
#             description={_CID}
#         [/filter]
#         [if]
#             {VARIABLE_BOOLEAN_EQUALS character_1st_time_help yes}
#             [then]
#                 [message]
#                     speaker=narrator
#                     caption= _ "UI^Character description"
#                     image="$unit.image|~TC($unit.side|,$unit.flag_rgb|)"
#                     message={_HELPMSG}
#                 [/message]
#             [/then]
#         [/if]
#     [/event]
# #enddef
