#textdomain wesnoth-After_the_Storm

# wmlindent: start ignoring

#define SPECIAL_NOTES_DEMOLITION
    _ " On death, this unit destroys all adjacent hexes and units, and the hex they are standing on." #enddef

#define SPECIAL_NOTES_PHYSICAL_ENDURANCE
    _ " This unit will instantly regenerate half of the damage deal on it with non-arcane attacks, unless it would otherwise kill it." #enddef

#define SPECIAL_NOTES_STUN
    _ " This unit is able to disrupt its opponent’s zone of control with a powerful attack, only available during offense." #enddef

# wmlindent: stop ignoring

# kate: indent-mode normal; encoding utf-8; space-indent on;
