#textdomain wesnoth-After_the_Storm

# wmlindent: start ignoring
#define SPECIAL_NOTES_OBSCURE
    _ " This unit darkens the surrounding area, making chaotic units fight better, and lawful units fight worse." #enddef

#define SPECIAL_NOTES_SYLVAN_ESSENCE
    _ " This unit’s powers are increased by the Sylvan Essence." #enddef

#define SPECIAL_NOTES_SYLVAN_SPARK
    _ " This unit will regenerate 5 HP per turn in forest or mushroom grove terrains." #enddef

#define SPECIAL_NOTES_DEFEND_ONLY
    _ " Some of this unit’s attacks are only available during defense." #enddef

#define SPECIAL_NOTES_ATTACK_ONLY
    _ " Some of this unit’s attacks are only available during offense." #enddef

#define SPECIAL_NOTES_ALWAYS_HITS
    _ " This unit’s attacks always hit its opponent." #enddef

#define SPECIAL_NOTES_PROTECTION
    _ "This unit can protect those of level 0 and 1 around them, granting them extra resistances."#enddef

#define SPECIAL_NOTES_DEMOLITION
    _ " On death, this unit destroys all adjacent hexes and units, and the hex they are standing on." #enddef

#define SPECIAL_NOTES_TERROR
    _ " This unit can frighten enemy units that are next to it, making them fight worse." #enddef

#define SPECIAL_NOTES_GLAMOUR
    _ " This unit can take on the shape of other units at will." #enddef

#define SPECIAL_NOTES_PHYSICAL_ENDURANCE
    _ " This unit will instantly regenerate half of the damage deal on it with non-arcane attacks, unless it would otherwise kill it." #enddef

#define SPECIAL_NOTES_STUN
    _ " This unit is able to disrupt its opponent’s zone of control with a powerful attack, only available during offense." #enddef

# wmlindent: stop ignoring

# kate: indent-mode normal; encoding utf-8; space-indent on;
