#textdomain wesnoth-After_the_Storm

#define NO_UPKEEP_NO_OVERLAY
    [+unit]
        # dammit, esr
        upkeep=loyal
    [/unit]
#enddef

#define PETRIFIED
    [+unit]
        [status]
            petrified=yes
        [/status]
    [/unit]
#enddef

# NOTE: VARIATION appeared in Wesnoth 1.9.10

#ifndef VARIATION
#define VARIATION _VARIATION_ID
    [+unit]
        variation={_VARIATION_ID}
    [/unit]
#enddef
#endif

# NOTE: FACING appeared in Wesnoth 1.9.10

#ifndef FACING
#define FACING DIRECTION
    # Meant to be used as a suffix to a unit-generating macro call.
    [+unit]
        facing={DIRECTION}
    [/unit]
#enddef
#endif

#define DOOR_TILES_TO_UNITS _DOOR_OWNER_SIDE
    [setup_doors]
        side={_DOOR_OWNER_SIDE}
    [/setup_doors]
#enddef

# kate: indent-mode normal; encoding utf-8; space-indent on;
