#textdomain wesnoth-After_the_Storm

#define BLACK_SCREEN
    [color_adjust]
        red,green,blue=-500,-500,-500
    [/color_adjust]
#enddef

#define WHITE_SCREEN
    [color_adjust]
        red,green,blue=500,500,500
    [/color_adjust]
#enddef

#define RESET_SCREEN
    [color_adjust]
        red,green,blue=0,0,0
    [/color_adjust]
#enddef

#define HIGHLIGHT_GOAL _SLF
    {REPEAT 3 (
        [item]
            {_SLF}
            image="misc/goal-highlight.png"
        [/item]

        [delay]
            time=300
        [/delay]

        [remove_item]
            {_SLF}
        [/remove_item]

        [redraw][/redraw]

        [delay]
            time=300
        [/delay]
    )}
#enddef

#define UNIT_SPELL_POPUP _SUF _TEXT
    [floating_text]
        [filter]
            {_SUF}
        [/filter]
        text="<span color='#7f7fff'>"+{_TEXT}+"</span>" # wmllint: ignore
    [/floating_text]
#enddef

# kate: indent-mode normal; encoding utf-8; space-indent on;
