#textdomain wesnoth-After_the_Storm

#define DARKEN_RED_SCREEN _VALUE
    [color_adjust]
        red=0
        green={_VALUE}
        blue={_VALUE}
    [/color_adjust]
#enddef

#
# Play the animation normally shown at the beginning of a
# unit advancement/level up sequence.
#
#define PLAY_LEVELOUT_ANIM _SUF
    [animate_unit]
        [filter]
            {_SUF}
        [/filter]
        flag=levelout
        with_bars=yes
    [/animate_unit]
#enddef

#
# Play the animation normally shown at the end of a unit
# advancement/level up sequence.
#
#define PLAY_LEVELIN_ANIM _SUF
    [animate_unit]
        [filter]
            {_SUF}
        [/filter]
        flag=levelin
        with_bars=yes
    [/animate_unit]
#enddef

#define CYCLING_LIGHTS_EFFECT:DIM
alphamask.png~O(0.00):5000,alphamask.png~O(0.03):100,alphamask.png~O(0.06):100,alphamask.png~O(0.10):100,alphamask.png~O(0.06):100,alphamask.png~O(0.03):100#enddef

#define CYCLING_LIGHTS_EFFECT:STRONG
alphamask.png~O(0.00):5000,alphamask.png~O(0.03):100,alphamask.png~O(0.06):100,alphamask.png~O(0.10):100,alphamask.png~O(0.13):100,alphamask.png~O(0.16):100,alphamask.png~O(0.13):100,alphamask.png~O(0.10):100,alphamask.png~O(0.06):100,alphamask.png~O(0.03):100#enddef

#define CYCLING_LIGHTS_EFFECT _TOD_LIST
    [terrain_graphics]
        map="
1

*"
        [tile]
            pos=1
            set_no_flag=cyclinglights
        [/tile]

        [image]
            position=horizontal
            layer=1000
            name=../misc/blank-hex.png
            [variant]
                tod={_TOD_LIST}
                name={CYCLING_LIGHTS_EFFECT:STRONG},{CYCLING_LIGHTS_EFFECT:DIM},{CYCLING_LIGHTS_EFFECT:DIM},{CYCLING_LIGHTS_EFFECT:DIM},{CYCLING_LIGHTS_EFFECT:STRONG},{CYCLING_LIGHTS_EFFECT:DIM}
                random_start=no
            [/variant]
        [/image]
    [/terrain_graphics]
#enddef
