#textdomain wesnoth-After_the_Storm

[race]
    id=verlissh
    male_name= _ "race^Verlissh"
    female_name= _ "race+female^Verlissh"
    plural_name= _ "race^Verlisshi"
    description= _ "In order to expand its frontiers and defend its territory more effectively, the Chaos Empire has resorted to summoning all sorts of previously unseen creatures to support its vast military force. Some are said to come from the darkest depths of Irdya; others are rumored to hail from the unknown lands beyond the sky itself. Very little is known for certain about these monsters beyond their evident connection to the Lorekeepers’ arcane arts."
    undead_variation=null
    ignore_global_traits=yes
    num_traits=1
    {TRAIT_FEARLESS}
    {TRAIT_STRONG}
    {TRAIT_RESILIENT}
[/race]

[movetype]
    name=verlissh_smallfoot
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=3
        reef=2
        swamp_water=3
        flat=1
        sand=1
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=1
        frozen=3
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=80
        shallow_water=80
        reef=70
        swamp_water=80
        flat=60
        sand=60
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=80
        unwalkable=80
        impassable=60
        fungus=50
    [/defense]

    [resistance]
        blade=100
        pierce=80
        impact=90
        fire=80
        cold=90
        arcane=100
    [/resistance]
[/movetype]

#define VERLISSH_MACHINE_STANDING_ANIMATION _BASEFRAME
    [standing_anim]
        start_time=0
        auto_hflip=no
        blend_color=0,255,255
        [frame]
            duration=2500
            image={_BASEFRAME}
            blend_ratio="0.00~0.05:800,0.05~0.02:400,0.02~0.06:800,0.06~0.00"
        [/frame]
    [/standing_anim]
#enddef

#define VERLISSH_MACHINE_DEATH_ANIMATION _BASEFRAME
    [death]
        start_time=0
        auto_hflip=no
        [frame]
            duration=1
            image={_BASEFRAME}
        [/frame]
    [/death]
#enddef

#define VERLISSH_MACHINE_DEFENSE_ANIMATION _BASEFRAME
    [defend]
        start_time=-125
        sound_start_time=-26
        auto_hflip=no

        [frame]
            duration=250
            image={_BASEFRAME}
        [/frame]

        [sound_frame]
            duration=1
        [/sound_frame]

        [if]
            hits=hit
            [sound_frame]
                duration=150
                sound={SOUND_LIST:MATRIX_HIT}
            [/sound_frame]
        [/if]
        [else]
            hits=miss,kill
            [sound_frame]
                duration=150
            [/sound_frame]
        [/else]
    [/defend]
#enddef

#define VERLISSH_MACHINE_ENERGY_ANIMATION _BASEFRAME
    start_time=-100
    missile_start_time=-50
    sound_start_time=-101
    auto_hflip=no

    [missile_frame]
        duration=200
        image="projectiles/darkmissile-n.png"
        image_diagonal="projectiles/darkmissile-ne.png"
    [/missile_frame]

    [frame]
        duration=200
        image={_BASEFRAME}
    [/frame]

    [sound_frame]
        duration=1
    [/sound_frame]
    [if]
        hits=no
        [sound_frame]
            duration=200
            sound=magic-dark-miss.ogg
        [/sound_frame]
    [/if]
    [else]
        hits=yes
        [sound_frame]
            duration=200
            sound=magic-dark.ogg
        [/sound_frame]
    [/else]
#enddef

#define VERLISSH_MACHINE_GOO_ANIMATION _BASEFRAME
    start_time=-300
    sound_start_time=-301
    auto_hflip=no

    {MISSILE_FRAME_SLIME}

    [frame]
        duration=300
        image={_BASEFRAME}
    [/frame]

    [sound_frame]
        duration=1
    [/sound_frame]
    [if]
        hits=no
        [sound_frame]
            duration=200
            sound=squishy-miss.wav
        [/sound_frame]
    [/if]
    [else]
        hits=yes
        [sound_frame]
            duration=200
            sound=squishy-strike.wav
        [/sound_frame]
    [/else]

    {SOUND:SLOW}
#enddef

# Include units WML directory
{LD /units/alien-verlissh}

#undef VERLISSH_MACHINE_STANDING_ANIMATION
#undef VERLISSH_MACHINE_DEATH_ANIMATION
#undef VERLISSH_MACHINE_DEFENSE_ANIMATION
#undef VERLISSH_MACHINE_ENERGY_ANIMATION
#undef VERLISSH_MACHINE_GOO_ANIMATION

# kate: indent-mode normal; encoding utf-8; space-indent on;
