#textdomain wesnoth-After_the_Storm

#define TRAITS_SET_DEXTROUS
    ignore_race_traits=yes
    {TRAIT_STRONG}
    {TRAIT_DEXTROUS}
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
#enddef

#define DEMON_NAMES
    markov_chain_size=2
    male_names=_ "Abalam,Abbadon,Abigor,Adanor,Aderius,Adramalech,Agaliarept,Agares,Aim,Akvan,Alastar,Aldebaran,Alocer,Amducious,Amdusias,Amon,Ananiel,Andhaka,Andras,Andrealphus,Andromalius,Antares,Apep,Arael,Araqiel,Arioch,Arkanthor,Armaros,Asael,Asag,Asb'el,Ash,Asmodeus,Astaroth,Azazel,Baal,Baalberith,Balam,Balberith,Babeal,Baphomet,Baraqel,Barbas,Barbatos,Batariel,Bathin,Beball,Beelzebub,Behamoth,Behemoth,Beleth,Belial,Beliel,Belphegore,Belthazor,Belzebuth,Beowulf,Berith,Beur,Bezaliel,Bifrons,Botis,Buer,Bune,Caim,Calan,Camal,Carniveau,Caror,Castor,Cerberus,Chamos,Chazaqiel,Chul,Corson,Daalberith,Dagon,Daniel,Dantalion,Decarabia,Deimos,Delchor,Demogorgon,Devan,Dubhor,Dumah,Dun,Edan,Edoru,El,Elan,Eligos,Espro,Espreon,Eurynomous,Fomalhaut,Flauros,Flereous,Focalor,Foras,Forcas,Forneus,Furcas,Furfur,Gaap,Gader'el,Glasya-Labolas,Gusion,Gwiti,Haagenti,Hal,Hade,Hades,Humbaba,Hyperion,Iblis,Idoru,Ivan,Ixthal,Izilen,Ipos,Jetral,Jetrel,Jevan,Jevyan,Jutas,Juvart,Kabhanda,Kain,Kairus,Kakko,Kari,Kariel,Karo,Kasadya,Kasdaye,Kimaris,Kobal,Kokabiel,Kri,Krin,Kuno,Kuro,Landar,Lasaroth,Legion,Lempo,Lenthar,Lenvan,Leonard,Leraje,Lix Tetrax,Lor,Lorath,Loriel,Lorez,Lucifer,Lucifuge Rofocale,Maeglhir,Maeglhor,Magnus,Malal,Malphas,Malthus,Mammon,Marchocias,Maricha,Mastema,Melchom,Melchor,Mephisto,Mephistopholes,Mesphito,Merihim,Merloc,Moloch,Morax,Murdoc,Mulciber,Murmur,Naberius,Nale,Name,Nate,Nati,Nebiros,Neqa'el,Nergal,Nisroch,Noy,Noyga,Noyra,Noyze,Oeillet,Olivier,Optimus,Orcus,Orias,Ornias,Orobas,Ose,Oulotep,Pan,Paimon,Pazuzu,Penemue,Phlegathon,Phenex,Phobos,Pinem'e,Pithius,Piru,Pluto,Procell,Pruflas,Purson,Pytho,Python,Pythos,Rahab,Rahovart,Ramiel,Raum,Ravanal,Raven,Razakel,Regent,Regulus,Rimmon,Rhotomago,Ronove,Ronwe,Rosier,Sabnock,Sahaqel,Saleos,Samael,Samigina,Samyaza,Santa,Sariel,Satan,Satanachia,Satariel,Seir,Sephiroth,Sephit,Shaitan,Shamsiel,Shax,Shezmu,Sid,Sidragasum,Sin,Sith,Sitri,Sonnillon,Sorum,Soufflet,Spar,Stolas,Surgat,Tabaet,Taliz,Tamiel,Tan,Tannin,Tar,Taurus,Teeraal,Temeluchus,Thammuz,Theracar,Thor,Thorin,Thurin,Triel,Troy,Turiel,Turin,Turon,Umbriel,Urobach,Val,Valac,Valefar,Vapula,Vassago,Verrine,Vine,Vual,Xan,Xandros,Xaphan,Xen,Yael,Yanqui,Yeqon,Yeter'el,Yhangor,Yomiel,Yuki,Zagan,Zama,Zaqiel,Zepar,Zet,Zeth,Zhan,Zhangor,Zhunol,Zort,Zorg,Zudo,Zuno"
    female_names=_ "Aba,Ada,Aderi,Agiel,Agrat-bat-mahlaht,Alie,Aly,Alya,Ammit,Amy,Ania,Analia,Anadea,Anadya,Anna,Ariel,Ashtaroth,Astarte,Astoreth,Azura,Bellatrix,Beryla,Bruxe,Charis,Charybdis,Charon,Charusse,Chi,Chia,Dana,Dane,Dara,Darma,Dela,Delepitore,Delirya,Deluna,Demona,Deth,Devila,Devira,Devyan,Drama,Dul,Duna,Eisheth Zenunil,Elandra,Elenia,Elestria,Eloh,Elyna,Elynea,Elynia,Elyra,Elyria,Elyssa,Elyza,Empusa,Enea,Eryssa,Ethea,Euryale,Evila,Evira,Fae,Faira,Fania,Faria,Gaia,Gremory,Gresil,Hecate,Ira,Irda,Irdya,Irene,Iridya,Iril,Iruel,Isa,Issyl,Ivana,Ivyel,Izara,Jarla,Jevyan,Juno,Kaia,Kalah,Kalari,Kaleh,Kali,Kana,Karma,Kazen,Kendria,Kia,Kindite,Kuna,Kyrah,Lamashtu,Lamia,Lara,Leliel,Leviathan,Lilia,Lilim,Lilin,Lilith,Lilitu,Lilya,Listra,Liza,Lua,Lucia,Lucile,Luna,Lyda,Lyla,Lyra,Magna,Maia,Mara,Medusa,Melia,Melchiresa,Melusine,Midara,Mir,Mir Kaleh,Mistra,Moira,Moria,Musah,Myria,Naamah,Nadia,Naia,Nala,Nara,Narya,Nebula,Neura,Neuralger,Nidia,Nika,Nirvana,Nirvenia,Nora,Norma,Nyada,Nystra,Nyxa,Onoskelis,Pia,Prosperpine,Rangda,Rusalka,Sabata,Satana,Sela,Shar,Share,Sharael,Sheol,Selene,Shia,Sonnielion,Stheno,Sul,Summa,Sunna,Sycorax,Syl,Sylestria,Sylin,Sylith,Symia,Syn,Synara,Synestria,Tada,Talah,Talam,Taweret,Thanadria,Thea,Thia,Thiana,Thiara,Tial,Tora,Tundra,Turen,Tzitzimime,Uma,Umbria,Unarya,Unia,Unsere,Uzza,Vena,Verna,Verrier,Vepar,Vulpecula,Xandar,Xana,Xandria,Xeth,Xia,Xindra,Xindar,Yuki,Yun,Yuna,Yuni,Zana,Zephyr,Zhul,Zidya,Zilla,Zuna,Zynara,Zythara"
#enddef

[race]
    id=demon
    male_name= _ "race^Demon"
    female_name= _ "race+female^Demoness"
    plural_name= _ "race^Demons"
    description= _ "Legend has it that at the beginning of time, powerful creatures called ‘demons’ governed all that existed. The Lords of Light and Darkness, seeing the danger they posed for the balance of nature, banished them to a separate plane of existence, trapped with no means of escape from inside. But time and time again, different versions of the legend have been told by different peoples in different places. Presumably, whatever small amount of truth there was in the original version of the story has since been lost forever.

Either by ignorance, or in an attempt to make sense of the fractured stories gathered from Chaos prisoners, the peoples of Irdya refer more generally to all the vastly heterogeneous races of Inferno by this generic designation. Some go as far as to claim that normal Irdyan creatures may become ‘demonic’ in some form or another, pointing at the Chaos Lorekeepers’ powers and inscrutable nature."
    {DEMON_NAMES}
    num_traits=2
    undead_variation=null
    {TRAIT_FEARLESS}
[/race]

[movetype]
    name=demonfoot
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=2
        reef=2
        swamp_water=2
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        frozen=3
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=70
        shallow_water=70
        reef=60
        swamp_water=50
        flat=50
        sand=50
        forest=30
        hills=40
        mountains=30
        village=30
        castle=30
        cave=40
        unwalkable=50
        impassable=90
        frozen=70
        fungus=30
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=110
    [/resistance]
[/movetype]

[movetype]
    name=demonfly
    flies=true
    [movement_costs]
        deep_water=1
        shallow_water=1
        reef=1
        swamp_water=1
        flat=1
        sand=1
        forest=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        unwalkable=1
        impassable={UNREACHABLE}
        frozen=1
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=50
        shallow_water=50
        reef=50
        swamp_water=50
        flat=50
        sand=50
        forest=50
        hills=50
        mountains=50
        village=50
        castle=50
        cave=50
        unwalkable=50
        impassable=50
        frozen=50
        fungus=50
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=80
        cold=100
        arcane=110
    [/resistance]
[/movetype]

[movetype]
    name=valdemonfoot
    [movement_costs]
        deep_water=3
        shallow_water=2
        reef=2
        swamp_water=2
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=1
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        frozen=2
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=60
        shallow_water=60
        reef=60
        swamp_water=60
        flat=70
        sand=70
        forest=60
        hills=50
        mountains=40
        village=60
        castle=60
        cave=60
        unwalkable=50
        impassable=90
        frozen=70
        fungus=60
    [/defense]
    [resistance]
        blade=80
        pierce=80
        impact=100
        fire=90
        cold=100
        arcane=110
    [/resistance]
[/movetype]

# A combination of demonfoot and armoredfoot

[movetype]
    name=lumerilfoot
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=4
        reef=3
        swamp_water=4
        flat=1
        sand=2
        forest=2
        hills=3
        mountains={UNREACHABLE}
        village=1
        castle=1
        cave=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        frozen=4
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=90
        shallow_water=90
        reef=80
        swamp_water=90
        flat=70
        sand=80
        forest=60
        hills=60
        mountains=90
        village=60
        castle=50
        cave=60
        unwalkable=90
        impassable=90
        frozen=80
        fungus=60
    [/defense]
    [resistance]
        blade=50
        pierce=60
        impact=90
        fire=100
        cold=100
        arcane=110
    [/resistance]
[/movetype]

# Include units WML directories
{LD /units/demons}

#undef TRAITS_SET_DEXTROUS

# kate: indent-mode normal; encoding utf-8; space-indent on;
