#textdomain wesnoth-After_the_Storm

[race]
    id=fairy
    female_name= _ "race^Faerie"
    male_name= _ "race+male^Faerie"
    plural_name= _ "race^Faeries"
    description= _ "Forests, caverns, mountains, and large bodies of water are propitious places to find many kinds of rare and mysterious creatures. Such environments are thus preferred by the remnants of the peoples said to antedate civilized life on Irdya, such as woses and merfolk, and the varied group of beings more commonly known as the true faeries."
    num_traits=2
    ignore_global_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    markov_chain_size=3
    {ELVISH_NAMES}
    undead_variation=null
[/race]

[movetype]
    name=elynia_lowfloat
    flies=true
    [movement_costs]
        deep_water=4
        shallow_water=2
        reef=2
        swamp_water=2
        flat=1
        sand=1
        forest=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=1
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=70
        shallow_water=60
        swamp_water=60
        reef=60
        flat=50
        sand=60
        forest=30
        hills=50
        mountains=40
        village=40
        castle=40
        cave=50
        frozen=60
        unwalkable=80
        impassable=70
        fungus=50
    [/defense]

    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=90
        cold=100
        arcane=110
    [/resistance]
[/movetype]

#define FAERIE_MOVETYPE
    [movement_costs]
        cave=1
    [/movement_costs]
    [defense]
        cave=50
        forest=40
    [/defense]
    [resistance]
        fire=90
        cold=110
    [/resistance]
#enddef

# Include units WML directory
{LD /units/faeries}

# kate: indent-mode normal; encoding utf-8; space-indent on;
