#textdomain wesnoth-After_the_Storm

# Chaos
[movetype]
    name=armorerfoot
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=4
        reef=3
        swamp_water=4
        flat=1
        sand=2
        forest=2
        hills=3
        mountains={UNREACHABLE}
        village=1
        castle=1
        cave=2
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        frozen=4
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=90
        shallow_water=90
        reef=80
        swamp_water=90
        flat=70
        sand=80
        forest=60
        hills=60
        mountains=80
        village=60
        castle=50
        cave=60
        unwalkable=80
        impassable=80
        frozen=80
        fungus=60
    [/defense]
    [resistance]
        blade=70
        pierce=70
        impact=80
        fire=90
        cold=100
        arcane=80
    [/resistance]
[/movetype]

# Include units WML directory
{INCLUDE_LOCAL /units/humans}
