#textdomain wesnoth-After_the_Storm

[unit_type]
    id=Chaos Invader
    name= _ "Chaos Invader"
    image="units/human-chaos/invader.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/human-chaos/invader-move.png"
        [/frame]
    [/movement_anim]
    race=human
    hitpoints=36
    movement_type=smallfoot
    movement=5
    experience=39
    [resistance]
        fire=90
    [/resistance]
    level=1
    alignment=chaotic
    advances_to=Dark Knight,Doom Guard
    cost=15
    description= _ "Chaos warriors share the common belief that any government and any god is corrupt by default, even before being recruited. This is exactly what their future masters seek for, and as such can easily convince them to join their cause. By this thought they fulfill the bidding of the lords of Chaos, who do not sugar coat their reign and let their men face the harsh truth."
    usage=fighter
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-chaos/invader-defend.png" "units/human-chaos/invader.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=sword
        description={TSTR_ATTACK_NAME_SWORD}
        type=blade
        range=melee
        damage=8
        number=3
        icon=attacks/sword-orcish.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=0
                image="units/human-chaos/invader-attack1.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=0
                image="units/human-chaos/invader-attack1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=100
            image="units/human-chaos/invader-attack2.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/human-chaos/invader-attack3.png"
        [/frame]
    [/attack_anim]
[/unit_type]
