#textdomain wesnoth-After_the_Storm

[unit_type]
    id=Blood Imp
    name= _ "Blood Imp"
    race=imps
    image="units/imps/imp-blood.png"
    hitpoints=44
    movement_type=demonfoot
    movement=5
    experience=70
    level=2
    alignment=chaotic
    advances_to=Gutwrencher Imp
    cost=30
    usage=fighter
    description= _ "Some Imps grow stronger, bigger and more violent. That leads people to call them ‘Blood’ Imps. They can even be a menace to an lonely experienced fighter if he or she is alone."
    die_sound={SOUND_LIST:IMP_DIE}
    [resistance]
        fire=90
    [/resistance]
    {DEFENSE_ANIM "units/imps/imp-blood.png" "units/imps/imp-blood.png" {SOUND_LIST:IMP_HIT} }
    [attack]
        name=claws
        description={TSTR_ATTACK_NAME_CLAWS}
        icon=attacks/claws-undead.png
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        start_time=-125
        [if]
            hits=yes
            [frame]
                duration=75
                image="units/imps/imp-blood.png"
                sound=claws.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=75
                image="units/imps/imp-blood.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=150
            image="units/imps/imp-blood.png"
        [/frame]
    [/attack_anim]
[/unit_type]
